Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(nxmv): stage 1
  .gitignore
  libs/components/src/lib/modules/mask/mask.module.ts.ng14
  libs/nxmv/.babelrc
  libs/nxmv/.eslintrc.json
  libs/nxmv/README.md
  libs/nxmv/executors.json
  libs/nxmv/generators.json
  libs/nxmv/jest.config.ts
  libs/nxmv/package.json
  libs/nxmv/project.json
  libs/nxmv/src/executors/build/executor.spec.ts
  libs/nxmv/src/executors/build/executor.ts
  libs/nxmv/src/executors/build/schema.d.ts
  libs/nxmv/src/executors/build/schema.json
  libs/nxmv/src/generators/apply/index.ts
  libs/nxmv/src/generators/apply/schema.d.ts
  libs/nxmv/src/generators/apply/schema.json
  libs/nxmv/src/generators/apply/util.ts
  libs/nxmv/src/index.ts
  libs/nxmv/tsconfig.json
  libs/nxmv/tsconfig.lib.json
  libs/nxmv/tsconfig.spec.json
  libs/plugin/src/generators/update-version/schema.json
  nxmv.ignore
  nxmv.json
  package-lock.json.ng14
  package-lock.json.ng15
  package.json.ng14
  package.json.ng15
  tsconfig.base.json
Due: eslint, prettier --write

ci: update ci stage 1
  .github/workflows/check-build-in-real-project-ng-12.yml
  .github/workflows/check-build-in-real-project-ng14.yml
  .github/workflows/check-build-in-real-project-ng15.yml
  .github/workflows/draft-publish-ng14.yml
  .github/workflows/draft-publish-ng15.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/prerelease-publish-ng14.yml
  .github/workflows/prerelease-publish-ng15.yml
Due: prettier --write

feat(nxmv): mask module update
  libs/components/src/lib/modules/mask/mask.module.ts.ng15
Due: none

feat(nxmv): stage 2
  libs/ast/package.ng14.json
  libs/ast/package.ng15.json
  libs/charts/base/package.ng14.json
  libs/charts/base/package.ng15.json
  libs/components/package.ng14.json
  libs/components/package.ng15.json
  libs/core/package.json.ng14
  libs/core/package.json.ng15
  libs/helpers/package.json.ng14
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng14
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng14
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng14
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng14
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng14
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng14
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng14
  libs/theme/package.json.ng15
Due: prettier --write

ci(nxmv): stage 2
  .github/workflows/draft-publish-ng14.yml
  .github/workflows/draft-publish-ng15.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  libs/nxmv/src/generators/apply/schema.json
Due: prettier --write

ci(nxmv): update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

ci(nxmv): update changelog
  .eslintrc.json.ng14
  .eslintrc.json.ng15
  angular.json
  angular.json.ng14
  jest.preset.js.ng14
  jest.preset.js.ng15
  nx.json.ng14
  nx.json.ng15
  nxmv.json
  tsconfig.base.json.ng14
  tsconfig.base.json.ng15
Due: prettier --write

feat(nxmv): update project files
  libs/ast/project.json.ng14
  libs/ast/project.json.ng15
  libs/ast/tsconfig.lib.json.ng14
  libs/ast/tsconfig.lib.json.ng15
  libs/ast/tsconfig.lib.prod.json.ng14
  libs/ast/tsconfig.lib.prod.json.ng15
  libs/charts/base/project.json.ng14
  libs/charts/base/project.json.ng15
  libs/charts/base/tsconfig.lib.json.ng14
  libs/charts/base/tsconfig.lib.json.ng15
  libs/charts/base/tsconfig.lib.prod.json.ng14
  libs/charts/base/tsconfig.lib.prod.json.ng15
  libs/components/project.json.ng14
  libs/components/project.json.ng15
  libs/components/tsconfig.lib.json.ng14
  libs/components/tsconfig.lib.json.ng15
  libs/components/tsconfig.lib.prod.json.ng14
  libs/components/tsconfig.lib.prod.json.ng15
  libs/core/project.json.ng14
  libs/core/project.json.ng15
  libs/core/tsconfig.lib.json.ng14
  libs/core/tsconfig.lib.json.ng15
  libs/core/tsconfig.lib.prod.json.ng14
  libs/core/tsconfig.lib.prod.json.ng15
Due: none

feat(nxmv): update project files
  libs/nxmv/jest.config.ts.ng14
  libs/nxmv/jest.config.ts.ng15
  libs/nxmv/project.json
  tsconfig.base.json.ng14
Due: prettier --write

feat(nxmv): update angular ng14
  angular.json
  angular.json.ng14
Due: prettier --write

feat(nxmv): add remove
  angular.json
  libs/nxmv/src/generators/apply/index.ts
  libs/nxmv/src/generators/apply/schema.d.ts
Due: eslint, prettier --write

feat(nxmv): remove lib deprecated
  libs/deprecated/package.json
Due: prettier --write

feat(nxmv): update versions
  package.json.ng14
Due: none

feat(nxmv): published lib
  package-lock.json
  package-lock.json.ng15
  package.json
  package.json.ng15
  tsconfig.base.json
  tsconfig.base.json.ng14
  tsconfig.base.json.ng15
Due: prettier --write

feat(nxmv): update ng 14 packages
  package-lock.json.ng14
  package.json.ng14
  tsconfig.base.json
  tsconfig.base.json.ng15
Due: prettier --write

ci: update firebase
  .firebaserc
  firebase.json
Due: prettier --write

ci: update ci
  .firebaserc
  .github/workflows/draft-publish-ng14.yml
  .github/workflows/draft-publish-ng15.yml
  .github/workflows/draft-released.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-released.yml
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
  firebase.json
Due: prettier --write

ci: update ci
  package.json
  package.json.ng14
  package.json.ng15
Due: prettier --write

ci: update ci
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
Due: prettier --write

ci: update
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish-ng14.yml
  .github/workflows/draft-publish-ng15.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
Due: prettier --write

feat(nxmv): published nx-mv
  libs/nxmv/package.json
  libs/nxmv/package.json.ng14
  libs/nxmv/package.json.ng15
  package.json
  package.json.ng14
Due: prettier --write

feat(nxmv): published nx-mv
  libs/nxmv/package.json
  libs/nxmv/package.json.ng14
  libs/nxmv/package.json.ng15
Due: prettier --write

ci: update ci
  libs/charts/base/package.ng15.json
  libs/components/package.ng15.json
  libs/core/package.json.ng15
  libs/i18n/package.json.ng15
  libs/plugin/package.json.ng15
  package.json.ng15
Due: prettier --write

ci: update ci
  package-lock.json
  package-lock.json.ng15
Due: prettier --write

ci: update ci
  package-lock.json.ng14
Due: none

ci: update ci
  package.json
Due: prettier --write

fix(nxmv): lint errors
  libs/nxmv/.babelrc
  libs/nxmv/.eslintrc.json
  libs/nxmv/src/generators/apply/index.ts
Due: eslint, prettier --write

chore: build error
  package.json.ng14
Due: none

fix(nxmv): lint errors
  libs/components/tsconfig.spec.json.ng14
  libs/components/tsconfig.spec.json.ng15
  package-lock.json.ng14
Due: none

fix(nxmv): build doc for ng14
  apps/doc/jest.config.ts.ng14
  apps/doc/jest.config.ts.ng15
  apps/doc/project.json.ng14
  apps/doc/project.json.ng15
  apps/doc/tsconfig.app.json.ng14
  apps/doc/tsconfig.app.json.ng15
  apps/doc/tsconfig.spec.json.ng14
  apps/doc/tsconfig.spec.json.ng15
Due: none

fix(nxmv): prepare ng16
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  libs/ast/package.json.ng14
  libs/ast/package.json.ng15
  libs/ast/package.json.ng16
  libs/charts/base/package.json.ng14
  libs/charts/base/package.json.ng15
  libs/charts/base/package.json.ng16
  libs/components/package.json.ng14
  libs/components/package.json.ng15
  libs/components/package.json.ng16
  libs/core/package.json.ng16
  libs/helpers/package.json.ng16
  libs/i18n/package.json.ng16
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json.ng16
  libs/nxmv/src/generators/apply/index.ts
  libs/plugin/package.json.ng16
  libs/schematics/package.json.ng16
  libs/theme/package.json.ng16
  migrations.json.ng16
  nx.json.ng16
  nxmv.json
  package-lock.json.ng16
  package.json.ng16
  tsconfig.base.json.ng16
Due: eslint, prettier --write

feat(nxmv): prepare ng 16 ci
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
Due: prettier --write

feat(nxmv): prepare ng 16 ci
  .github/workflows/pr-ng16.yml
Due: prettier --write

fix(nxmv): ast to ng16
  libs/ast/code/src/lib/ts/add-imports-to-ng-module/util.ts.ng14
  libs/ast/code/src/lib/ts/add-imports-to-ng-module/util.ts.ng15
  libs/ast/code/src/lib/ts/add-imports-to-ng-module/util.ts.ng16
  libs/ast/code/src/lib/ts/add-imports/util.ts.ng14
  libs/ast/code/src/lib/ts/add-imports/util.ts.ng15
  libs/ast/code/src/lib/ts/add-imports/util.ts.ng16
Due: none

fix(doc): doc to ng16
  libs/components/src/lib/components/input/input-date-range/input-date-range.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.html
  libs/components/src/lib/components/table/tbody/tbody.component.html
Due: eslint, prettier --write

fix: build ng 16 error
  apps/doc/project.json.ng16
  tsconfig.base.json.ng16
Due: none

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
