Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix: release template filename fix
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_3.md
Due: none

fix: returned menu group border #1585
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-group/prizm-navigation-menu-group.component.less
Due: prettier --write

feat: use decimal input in slider and input number live demo #1500
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/slider/slider.component.html
  apps/doc/src/app/components/slider/slider.component.ts
Due: eslint, prettier --write

fix: cron selected working with specified tabs #1494
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

feat: add hint for input clear button #1515
  apps/doc/src/app/components/input/input-carousel/input-carousel-example.component.html
  apps/doc/src/app/components/input/input-carousel/input-carousel-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-range/input-layout-date-range.component.html
  apps/doc/src/app/components/input/input-layout-date-range/input-layout-date-range.component.ts
  apps/doc/src/app/components/input/input-layout-date-relative/input-layout-date-relative.component.html
  apps/doc/src/app/components/input/input-layout-date-relative/input-layout-date-relative.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.ts
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.html
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.ts
  apps/doc/src/app/components/input/input-layout-date/input-layout-date.component.html
  apps/doc/src/app/components/input/input-layout-date/input-layout-date.component.ts
  apps/doc/src/app/components/input/input-layout-month-range/input-layout-month-range.component.html
  apps/doc/src/app/components/input/input-layout-month-range/input-layout-month-range.component.ts
  apps/doc/src/app/components/input/input-layout-month/input-layout-month.component.html
  apps/doc/src/app/components/input/input-layout-month/input-layout-month.component.ts
  apps/doc/src/app/components/input/input-layout-time/input-layout-time.component.html
  apps/doc/src/app/components/input/input-layout-time/input-layout-time.component.ts
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.ts
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.ts
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.ts
  apps/doc/src/app/components/input/input-text/input.component.html
  apps/doc/src/app/components/input/input-text/input.component.ts
  apps/doc/src/app/components/input/textarea/textarea-example.component.html
  apps/doc/src/app/components/input/textarea/textarea-example.component.ts
  libs/components/src/lib/components/input/common/input-common.module.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/input.ts
  libs/i18n/src/lib/languages/russian/input.ts
Due: eslint, prettier --write

fix: correct imports in FileUpload
  libs/components/src/lib/components/file-upload/file-upload.component.ts
Due: eslint, prettier --write

fix: added scroll to navigation menu #1585
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
Due: eslint, prettier --write

fix: added scroll to navigation menu #1585
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-group/prizm-navigation-menu-group.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
Due: eslint, prettier --write

fix: bottom border of group removed. added top border #1585
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-group/prizm-navigation-menu-group.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
Due: prettier --write

feat: fixed cron title overflow #1431
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
Due: eslint, prettier --write

fix: update native time value for min0max date time limit #1618
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

fix: ng100 error for input-layout and hint #461
  apps/doc/src/app/components/hint/examples/with-custom-context/hint-with-custom-context-example-2.spec.ts
  apps/doc/src/app/components/hint/examples/with-custom-context/hint-with-custom-context-example.component.html
  apps/doc/src/app/components/hint/examples/with-custom-context/hint-with-custom-context-example.component.ts
  apps/doc/src/app/components/hint/examples/with-custom-context/hint-with-custom-context-example.spec.ts
  apps/doc/src/app/components/hint/hint-example.module.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
  libs/helpers/src/lib/util/difference.spec.ts
  libs/helpers/src/lib/util/directive.spec.ts
  libs/helpers/src/lib/util/directive.ts
  libs/helpers/src/lib/util/index.ts
Due: eslint, prettier --write

feat: changelog update
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(helpers): added test for directive utils
  libs/helpers/src/lib/util/directive.spec.ts
  libs/helpers/src/lib/util/directive.ts
Due: eslint, prettier --write

fix(doc): remove unnecessary tests
  apps/doc/src/app/components/hint/examples/with-custom-context/hint-with-custom-context-example-2.spec.ts
Due: eslint, prettier --write

fix: test with error ResizeObserver #1631
  apps/doc/src/app/documentation/about/about.component.html
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.spec.ts
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-expandable/prizm-navigation-item-expandable.component.spec.ts
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-simple/prizm-navigation-item-simple.component.spec.ts
Due: eslint, prettier --write

feat: added checker commit messages for #1622
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

feat(chore): improved checker for commit message with our scopes, types, and issues number #1622
  .husky/check_branch_naming.sh
  commitlint.config.js
Due: none

fix: changelog formatting #1499
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/about-prizm/changelog/changelog.component.less
Due: prettier --write

feat(chore): copied package files for ng17 #1622'
  package-lock.json.ng17
  package.json.ng17
Due: none

fix(helpers): test for difference
  libs/helpers/src/lib/util/difference.spec.ts
Due: eslint, prettier --write

feat(ci): added skip library if they does not have any test
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  .github/workflows/pr-ng17.yml
Due: prettier --write

fix: changelog fix
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/about-prizm/changelog/changelog.component.less
Due: prettier --write

feat(doc): now we support v4 demos
  apps/doc/src/app/code-demo/util.ts
  apps/doc/src/app/doc-demo.service.ts
  libs/doc/base/src/lib/components/example/example.component.html
  libs/doc/base/src/lib/services/demo/model.ts
Due: eslint, prettier --write

refactor: remove wrong deprecated flags
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng17
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.module.ts
  libs/components/src/lib/components/input/input-month/input-layout-month.module.ts
  libs/components/src/lib/components/progress/progress.module.ts
  libs/components/src/lib/components/slider/slider.module.ts
  libs/components/src/lib/components/stepper/stepper.module.ts
Due: eslint, prettier --write

fix: accordion hint not shown if title changed #1415
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.html
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.ts
Due: eslint, prettier --write

feat(doc/paginator): added example with i18n to change texts and tests #1605
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.ts
  apps/doc/src/app/components/paginator/examples/i18n/paginator-i18n-example.component.html
  apps/doc/src/app/components/paginator/examples/i18n/paginator-i18n-example.component.less
  apps/doc/src/app/components/paginator/examples/i18n/paginator-i18n-example.component.spec.ts
  apps/doc/src/app/components/paginator/examples/i18n/paginator-i18n-example.component.ts
  apps/doc/src/app/components/paginator/paginator-example.component.html
  apps/doc/src/app/components/paginator/paginator-example.component.ts
  apps/doc/src/app/components/paginator/paginator-example.module.ts
  libs/components/src/lib/components/paginator/index.ts
  libs/components/src/lib/components/paginator/paginator.component.html
  libs/components/src/lib/components/paginator/paginator.component.less
  libs/components/src/lib/components/paginator/paginator.component.ts
  libs/components/src/lib/components/paginator/paginator.module.ts
  libs/i18n/src/lib/languages/english/index.ts
  libs/i18n/src/lib/languages/russian/index.ts
Due: eslint, prettier --write

fix: panel instruments cut focus styles #1625
  libs/components/src/lib/components/panel/panel.component.less
Due: prettier --write

fix: contenct select=top is geting back
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.html
Due: eslint, prettier --write

fix: chips height changed
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.html
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.ts
  libs/components/src/lib/components/chips/chips-item/chips-item.component.less
  libs/components/src/lib/components/chips/chips.component.less
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
Due: eslint, prettier --write

fix: console error fix in cron
  libs/components/src/lib/components/cron/components/day/day.component.html
Due: eslint, prettier --write

fix: cron months blinks on hover #1642
  libs/components/src/lib/components/cron/components/schedule/schedule.component.less
  libs/components/src/lib/components/cron/components/schedule/schedule.component.ts
Due: eslint, prettier --write

fix: styles for difference version of ng
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng14
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng15
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng16
  apps/doc/src/app/code-demo/files/src/polyfills.ts.template.ng14
  apps/doc/src/app/code-demo/files/src/polyfills.ts.template.ng15
  apps/doc/src/app/code-demo/files/src/polyfills.ts.template.ng16
  apps/doc/src/app/code-demo/files/src/polyfills.ts.template.ng17
  apps/doc/src/app/code-demo/files/src/styles.less.template.ng14
  apps/doc/src/app/code-demo/files/src/styles.less.template.ng15
  apps/doc/src/app/code-demo/files/src/styles.less.template.ng16
  apps/doc/src/app/code-demo/files/src/styles.less.template.ng17
Due: none

fix: only sort button click should fire sorting
  libs/components/src/lib/components/table/th/th.component.html
  libs/components/src/lib/components/table/th/th.component.ts
  libs/components/src/lib/components/table/th/th.style.less
Due: eslint, prettier --write

fix: table head height on every table size should be 32px #1643
  libs/components/src/lib/components/table/th/th.component.ts
  libs/components/src/lib/components/table/th/th.style.less
Due: eslint, prettier --write

fix: only sort button click should fire sorting
  libs/components/src/lib/components/table/th/th.component.html
  libs/components/src/lib/components/table/th/th.style.less
Due: eslint, prettier --write
