Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(components/slider): added testId
  libs/components/src/lib/components/slider/slider.component.ts
Due: eslint, prettier --write

feat(components/slider): added testId
  apps/doc/src/app/components/slider/slider.component.html
  libs/doc/base/src/lib/components/documentation/documentation-property-connector.directive.ts
Due: eslint, prettier --write

feat(charts): added testId with ability to change postfix
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/charts/base/src/lib/abstract/prizm-charts-abstract.ts
  libs/charts/base/src/lib/components/area/prizm-charts-area.component.ts
  libs/charts/base/src/lib/components/bar/prizm-charts-bar.component.ts
  libs/charts/base/src/lib/components/column/prizm-charts-column.component.ts
  libs/charts/base/src/lib/components/gauge/prizm-charts-gauge.component.ts
  libs/charts/base/src/lib/components/line/prizm-charts-line.component.ts
  libs/charts/base/src/lib/components/pie/prizm-charts-pie.component.ts
  libs/charts/base/src/lib/components/radar/prizm-charts-radar.component.ts
  libs/charts/base/src/lib/components/radial-bar/prizm-charts-radial-bar.component.ts
  libs/charts/base/src/lib/components/scatter/prizm-charts-scatter.component.ts
  libs/charts/base/src/lib/components/treemap/prizm-charts-treemap.component.ts
  libs/charts/base/src/lib/components/waterfall/prizm-charts-waterfall.component.ts
Due: eslint, prettier --write

fix(components): lint error
  libs/doc/base/src/lib/components/documentation/documentation-property-connector.directive.ts
Due: eslint, prettier --write

chore: correct changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/input-layout): set empty value to input with default label #527
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

fix(components/select): to string from nullish value
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

fix(components/tooltip): added ability to close on exc pressed #307
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/directives/tooltip/tooltip.directive.ts
Due: eslint, prettier --write

fix(components/tooltip): color of arrows on dark theme #479
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/tabs/tabs.component.less
Due: prettier --write

fix(components/breadcrumbs): color of dots on dark theme #480
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.html
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.less
Due: eslint, prettier --write

fix(components/breadcrumbs): color of dots on dark theme #480
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/tabs): plus
  libs/components/src/lib/components/tabs/tabs.component.html
Due: eslint, prettier --write

fix(components/switcher): click on disabled
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat: release 2.1.2
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(doc/sticky): remove test id
  apps/doc/src/app/components/sticky/sticky.component.html
Due: eslint, prettier --write

fix(doc/table): remove test id
  apps/doc/src/app/components/table/table-example.component.html
Due: eslint, prettier --write

fix(doc/skeleton): remove test id
  apps/doc/src/app/components/skeleton/skeleton.component.html
Due: eslint, prettier --write

fix(doc/shadow): remove test id
  apps/doc/src/app/components/shadow/shadow.component.html
Due: eslint, prettier --write

feat(components/error-page): test-id was added with ability to change post fix
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/error-page/error-page.component.ts
  libs/components/src/lib/components/file-upload/file-upload.component.ts
Due: eslint, prettier --write

feat(doc/confirm-popup): rename
  apps/doc/src/app/components/confirm-popup/confirm-popup.component.html
  apps/doc/src/app/components/confirm-popup/confirm-popup.component.ts
  apps/doc/src/app/tools/to-observable/to-observable.component.html
  libs/components/src/lib/directives/confirm-popup/confirm-popup.directive.ts
Due: eslint, prettier --write

chore: changelog was updated
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/dialogs/sidebar/sidebar.component.html
Due: eslint, prettier --write

chore: changelog was updated
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/dropdown-host): when the component was destroyed, the extra method was called #532
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

fix(components/dropdown-host): when the component was destroyed, the extra method was called #532
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

ci: add v16
  .github/workflows/pr.yml
Due: prettier --write

ci: add 1.4.0
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

chore: build error
  libs/components/src/lib/modules/mask/mask.module.ts
Due: eslint, prettier --write

fix(components/table): prizmThGroup throws an error together with structure directives #510
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/input-select/examples/with-transformer/select-with-transformer-example.component.ts
  apps/doc/src/app/components/table/examples/table-search-example/table-search-example.component.html
  apps/doc/src/app/components/table/examples/table-search-example/table-search-example.component.ts
  libs/components/src/lib/components/table/th-group/th-group.template.html
Due: eslint, prettier --write

chore: up release verstion to 2.1.3
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

feat(components/overlay): added new logic for detecting events from dynamic elements #411
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/tree/examples/in-modal/tree-in-modal-example.component.html
  apps/doc/src/app/components/tree/examples/in-modal/tree-in-modal-example.component.ts
  apps/doc/src/app/components/tree/tree.component.html
  apps/doc/src/app/components/tree/tree.component.ts
  apps/doc/src/app/components/tree/tree.module.ts
  libs/components/src/lib/directives/zone-event/zone-event.service.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
Due: eslint, prettier --write

feat(helpers/rxjs): 'raceEmit' operator was added
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/modules/overlay/overlay-control.ts
  libs/helpers/src/lib/util/rxjs/rxjs.ts
Due: eslint, prettier --write

feat(components/breadcrumbs): added ability to work with projections #464
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/breadcrumbs/breadcrumbs-example.component.html
  apps/doc/src/app/components/breadcrumbs/breadcrumbs-example.component.ts
  apps/doc/src/app/components/breadcrumbs/breadcrumbs-example.module.ts
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.html
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.less
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.html
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.spec.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.directive.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.module.ts
Due: eslint, prettier --write

fix(components/input-layout): problems with layout in outer #537
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

feat(components/tabs): add full width underline #539
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/tabs/components/tab.component.less
  libs/components/src/lib/components/tabs/tabs.component.less
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
