Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(chore): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(icons): export icon #000
  libs/icons/base/base/set/index.ts
  libs/icons/base/base/set/ng-package.json
  libs/icons/base/full/set/index.ts
  libs/icons/base/full/set/ng-package.json
  libs/icons/base/tsconfig.lib.json.ng17
Due: eslint, prettier --write

fix(components/cron): slowly switcher in cron #000
  libs/charts/base/package.json
Due: prettier --write

fix(components/cron): slowly switcher in cron #000
  libs/charts/base/package.json
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

fix(components/cron): slowly switcher in cron #000
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

fix(components/input-layout): add margin bottom for label in outer inputs #1659
  libs/components/src/lib/components/input/common/input-layout/input-layout-hidden-control.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix(components/input-layout): add margin bottom for label in outer inputs #1659
  libs/components/src/lib/components/input/common/input-layout/input-layout-hidden-control.component.less
Due: prettier --write

fix(components/cron): spelling errot fix #000
  libs/i18n/src/lib/languages/russian/cron.ts
Due: eslint, prettier --write

fix(components/cron): asyn > asap scheduler #000
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

fix(components/cron): problem with not synced flow #000
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

Update libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.html
Due: eslint, prettier --write

fix(components/cron): circular imports #000
  libs/components/src/lib/components/cron/components/hour/hour.component.ts
  libs/components/src/lib/components/cron/components/minute/minute.component.ts
  libs/components/src/lib/components/cron/components/second/second.component.ts
  libs/components/src/lib/components/cron/components/year/year.component.ts
Due: eslint, prettier --write

fix(icons-loader): fix imports error #000
  libs/icons/loader/full/src/icons.ts
  libs/icons/loader/src/lib/icons.ts
  local/src/executors/icons-to-lazy/executor.ts
Due: eslint, prettier --write

fix(icons-loader): package added publishConfig #000
  libs/icons/loader/package.json
Due: prettier --write

fix(components/dialog): some values from `defaultOptions` not applied to final config
  libs/components/src/lib/abstract/dialog.service.ts
Due: eslint, prettier --write

fix(components/calendar): calendar in inputs display ux change #1674
  apps/doc/src/app/components/input/input-layout-date-range/examples/base/input-layout-date-range-base-example.component.ts
  libs/components/src/lib/components/calendar/calendar.component.ts
Due: eslint, prettier --write

fix(components/chips): dots overflows chip list container #1713
  apps/doc/src/app/components/input/input-multi-select/examples/base/multi-select-base-example.component.ts
  libs/components/src/lib/components/chips/chips.component.less
Due: eslint, prettier --write

fix(doc/icons): added infor about lazy loader #1692
  apps/doc/src/app/components/icons/base/examples/setup-module.md
Due: none

feat(doc/getting-started): add info about setup #000
  apps/doc/src/app/how-to-work/for-developers/for-developers.component.html
Due: eslint, prettier --write

fix(components/input-multi-select): fix outline on chevron #000
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/select/input-select.component.less
Due: prettier --write

refactor(components/chips): move multiply subscriptions to prizmLet #000
  libs/components/src/lib/components/chips/chips.component.html
Due: eslint, prettier --write

fix(components/paginator): fixed PrizmPaginatorComponent instance was incompatible with PrizmDataSource.paginator
  apps/doc/src/app/components/table/examples/table-data-source-example/table-data-source-example.component.ts
  libs/components/src/lib/components/table/data-source.ts
Due: eslint, prettier --write

fix(components/calendar): change calendar resrtictions ux #1674
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.ts
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.html
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
  libs/components/src/styles/mixins/mixins.less
Due: eslint, prettier --write

fix(components/calnedar): fix merge error #000
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.html
Due: eslint, prettier --write

fix(components/input-number): fix sync state with input-layout #1645 #1644
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

fix(components/input-date-range): default time is set only after focus is removed #1565
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

fix(components/input-date-range): default time is set only after focus is removed for v4 #1565
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

feat(chore): up worflow version to 4.3.1 #000
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
Due: prettier --write

feat(chore): up package versions to 4.3.1 #000
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng17
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng17
  libs/charts/base/package.json
  libs/charts/base/package.json.ng17
  libs/components/package.json
  libs/components/package.json.ng17
  libs/core/package.json
  libs/core/package.json.ng17
  libs/helpers/package.json
  libs/helpers/package.json.ng17
  libs/i18n/package.json
  libs/i18n/package.json.ng17
  libs/icons/base/package.json
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng17
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/nxmv/package.json.ng17
  libs/plugin/package.json
  libs/plugin/package.json.ng17
  libs/schematics/package.json.ng17
  libs/theme/package.json
  libs/theme/package.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

fix(components/calendar): in-range error fix #000
  libs/components/src/lib/components/calendar/calendar.component.ts
Due: eslint, prettier --write

fix(components/calendar): year-month pagination disabled state fix #000
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.html
  libs/components/src/styles/mixins/mixins.less
Due: eslint, prettier --write

fix(components/paginator): fixed prizmp aginator component instance incompatible types #1746
  apps/doc/src/app/components/table/examples/table-data-source-example/table-data-source-example.component.ts
  libs/components/src/lib/components/table/data-source.ts
Due: eslint, prettier --write

feat(chore/release): 1.17.1 up to 1.17.2 #000
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
