Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: fixed rows selector width #1466
  libs/components/src/lib/components/paginator/prizm-paginator.component.less
Due: prettier --write

fix: ng 100 research
  apps/doc/src/app/app.component.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
Due: eslint, prettier --write

feat: up version for release 4.2.0
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng17
  libs/charts/base/package.json
  libs/charts/base/package.json.ng17
  libs/components/package.json
  libs/components/package.json.ng17
  libs/core/package.json
  libs/core/package.json.ng17
  libs/helpers/package.json
  libs/helpers/package.json.ng17
  libs/i18n/package.json
  libs/i18n/package.json.ng17
  libs/icons/base/package.json
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng17
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/nxmv/package.json.ng17
  libs/plugin/package.json
  libs/plugin/package.json.ng17
  libs/schematics/package.json
  libs/schematics/package.json.ng17
  libs/theme/package.json
  libs/theme/package.json.ng17
  package-lock.json.ng14
  package.json
  package.json.ng17
Due: eslint, prettier --write

feat: update ci for 4.2.0
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
Due: prettier --write

fix: changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  package-lock.json.ng14
Due: none

feat: up version for spec file for ng17
  apps/doc/src/app/version-manager/current.const.ts.ng17
Due: none

Update apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat: cron months and week days translation #1480
  libs/components/src/lib/components/cron/components/day/day.component.html
  libs/components/src/lib/components/cron/components/month/month.component.html
  libs/components/src/lib/components/cron/components/month/month.component.ts
  libs/components/src/lib/components/cron/cron.component.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/cron.ts
  libs/i18n/src/lib/languages/russian/cron.ts
Due: eslint, prettier --write

fix: icons replaced with buttons #1486
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.html
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.less
  libs/components/src/lib/components/table/table.module.ts
  libs/components/src/lib/components/table/th/th.component.html
Due: eslint, prettier --write

fix: fix th width with sort #1561
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

fix: edit actions th width changed #1486
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
Due: prettier --write

chore: version 1.16.0 up tp 1.17.0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

Revert "fix: tree button animation #1561"
  libs/components/src/lib/components/tree-button/tree-button.component.html
  libs/components/src/lib/components/tree-button/tree-button.component.less
Due: eslint, prettier --write

chore: version 2.13.0 up tp 2.14.0
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

Revert "fix: tree button animation #1561"
  libs/components/src/lib/components/tree-button/tree-button.component.html
Due: eslint, prettier --write

fix: changed content-box width in toast #1433
  libs/components/src/lib/components/toast/toast/toast.component.less
Due: prettier --write

chore: version 3.12.0 up tp 3.13.0
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

feat: changelog update
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: recall changes in package json files
  apps/doc/src/app/version-manager/current.const.ts
  libs/ast/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

feat: checklist for release 4x version
  .github/PULL_REQUEST_TEMPLATE/prepare-release-for-4.md
Due: none

feat: checklist for release 4x version
  .github/PULL_REQUEST_TEMPLATE/prepare-release-for-4.md
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_4.md
Due: none

feat: checklist for release 4x version
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_4.md
Due: none

Update .github/PULL_REQUEST_TEMPLATE/prepare_release_for_4.md
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_4.md
Due: none

feat: checklist for release 3x version
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_3.md.md
Due: none

fix: added scroll to navigation menu #1585
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-group/prizm-navigation-menu-group.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.ts
Due: eslint, prettier --write

feat: cron custom title max width #1431
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
Due: eslint, prettier --write

feat: fixed cron title overflow #1431
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
Due: eslint, prettier --write

feat: checklist for release 3-4x version #1610 #1613
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: release template filename fix
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_3.md
Due: none

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
