Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: status button for inputs style fix
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: switcher styles fix
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
Due: eslint, prettier --write

feat(icons): stage 8
  apps/doc/src/app/components/icons/base/examples/setup-module.md
  apps/doc/src/app/components/icons/base/old/old-icon.component.html
Due: eslint, prettier --write

fix: input chips demo styles fix
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.less
Due: prettier --write

fix(components/tabs): issue with close tabs logic #1360
  libs/components/src/lib/components/tabs/components/tab.component.ts
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

feat(components/tabs): added tests
  libs/components/src/lib/components/tabs/components/tabs.component.spec.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

fix: demo styles fix
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.less
Due: prettier --write

fix(componets/tab): modificator
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

chore: update changelog 3.11.1
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: version 1.15.0 up tp 1.15.1
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

chore: version 2.12.0 up tp 2.12.1
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

chore: version 3.11.0 up tp 3.11.1
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

feat: changelog update
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: input clear button position for centered values #1385
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/input-text/examples/input-custom-clear-button-example/input-custom-clear-button-example.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/navigation-menu/services/prizm-navigation-menu-group.service.ts
Due: eslint, prettier --write

fix: input mask demo placeholder property added
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/input-mask/input-mask-example.component.html
  libs/doc/base/src/lib/components/host/host-element.directive.ts
Due: eslint, prettier --write

feat: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: multiselect size m style fixes
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
Due: prettier --write

fix: multiselect chips style fix
  libs/components/src/lib/components/chips/chips.component.less
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
Due: prettier --write

feat: update icons
  libs/icons/base/src/styles/icons-base/prizm-base-icons.css
  libs/icons/base/src/styles/icons-base/prizm-base-icons.scss
  libs/icons/base/src/styles/icons-full/prizm-full-icons.css
  libs/icons/base/src/styles/icons-full/prizm-full-icons.scss
  local/src/executors/svg-to-font/executor.ts
  local/src/executors/svg-to-font/schema.d.ts
Due: eslint, prettier --write

fix: textarea size l status button styles
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
Due: prettier --write

fix: shadow enum values changed to correct
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/directives/shadow/models.ts
Due: eslint, prettier --write

feat: add icon selector
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/date-list-edit/date-list-edit.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/select-panel-example/select-panel-example.component.html
  apps/doc/src/app/components/icons/base/old/const.ts
  apps/doc/src/app/components/icons/base/old/old-icon.component.html
  apps/doc/src/app/components/icons/base/old/old-icon.component.less
  apps/doc/src/app/components/icons/base/old/old-icon.component.ts
  apps/doc/src/app/components/input/input-number/examples/input-number-counter-example/input-number-counter-example.component.html
  apps/doc/src/app/components/input/input-number/examples/input-number-counter-float-example/input-number-counter-float-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/input/input-select/examples/with-backend-search/select-with-backend-search-example.component.html
  apps/doc/src/app/components/input/input-text/examples/input-search-example/input-search-example.component.html
  apps/doc/src/app/components/panel/examples/panel-example-with-instruments-hard/panel-example-with-instruments-hard.component.html
  apps/doc/src/app/components/panel/examples/panel-example-with-instruments-simple/panel-example-with-instruments-simple.component.html
  apps/doc/src/app/components/skeleton/skeleton.component.ts
  apps/doc/src/app/components/table/examples/table-data-source-example/table-data-source-example.component.html
  apps/doc/src/app/components/table/examples/table-search-example/table-search-example.component.html
  apps/doc/src/app/components/table/examples/table-server-sort-example/table-server-sort-example.component.html
  apps/doc/src/app/components/table/examples/table-sort-example/table-sort-example.component.html
  apps/doc/src/app/components/toggle/toggle-example.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-search/prizm-navigation-menu-search.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.html
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/icons/base/src/lib/replace/common.ts
  local/src/executors/icons-to-lazy/executor.ts
Due: eslint, prettier --write

fix(component/tabs): error with double emitted idx on close tabls
  libs/components/src/lib/components/tabs/components/tab.component.spec.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

fix(component/tabs): error with double emitted idx on close tabls
  libs/components/src/lib/components/tabs/components/tab.component.spec.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/components/src/lib/components/tabs/tabs.module.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

fix(components/paginator): updated i18n #1390
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/paginator.ts
Due: eslint, prettier --write

feat: update changelogs
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: extra title in input select #1286
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
Due: eslint, prettier --write

fix: input select example update
  apps/doc/src/app/components/input/input-select/examples/base/select-base-example.component.html
Due: eslint, prettier --write

fix: switcher active disable state regress fixed #1348
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
Due: eslint, prettier --write

fix: switcher color prefix for active-disabled state update
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
Due: prettier --write

fix: prizm navigation menu search error #1344
  libs/components/src/lib/components/navigation-menu/services/prizm-navigation-menu-group.service.ts
Due: eslint, prettier --write

fix: navigation menu active item setter fix #1213
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-basic-example/navigation-menu-basic-example.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.ts
Due: eslint, prettier --write

fix: navigation active node styles changed #1213
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-basic-example/navigation-menu-basic-example.component.html
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-basic-example/navigation-menu-basic-example.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-items/prizm-navigation-menu-items.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-items/prizm-navigation-menu-items.component.ts
Due: eslint, prettier --write

fix: navigation example litle fix
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-basic-example/navigation-menu-basic-example.component.ts
Due: eslint, prettier --write

fix: clear search result map for navigation menu
  libs/components/src/lib/components/navigation-menu/services/prizm-navigation-menu-group.service.ts
Due: eslint, prettier --write

fix: custom error message is not displayed in input layout date time #185
  apps/doc/src/app/components/dialogs/dialog/examples/with-parent/dialog-with-parent-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time/examples/required/input-layout-date-time-required-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time/examples/required/input-layout-date-time-required-example.component.ts
  apps/doc/src/app/components/input/input-mask/input-mask-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/input/input-password/input-password-example.component.html
  apps/doc/src/app/components/input/input-text/examples/input-validation-custom-example/input-validation-custom-texts.service.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/input/common/input-status-text/input-status-text.directive.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/input-layout-date-time.ts
  libs/i18n/src/lib/languages/russian/russian.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
