Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix(components/combobox): showed text with value template #0
  apps/doc/src/app/components/input/combobox/examples/with-list-item-template/combobox-with-list-item-template-example.component.html
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.html
Due: eslint, prettier --write

fix(components/combobox): showed text with value template #0
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.ts
Due: eslint, prettier --write

fix(components/combobox): when change form form control did update in view #0
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

fix(components/combobox): when change form form control did update in view #0
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.ts
Due: eslint, prettier --write

feat(chore): release 5.4.0 #0
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  nxmv.json
  package.json
Due: eslint, prettier --write

fix(components/input-layout-inserted): correct hidden button styles #276
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout-inserted.component.less
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

feat(components/input-layout-inserted): add styles for input icon buttons inserted #276
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout-inserted.component.less
Due: eslint, prettier --write

fix(components/combobox): fixed review bugs #0
  apps/doc/src/app/components/input/combobox/combobox-example.component.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox-item.component.html
  libs/components/src/lib/components/dropdowns/combobox/combobox-item.component.less
  libs/components/src/lib/components/dropdowns/combobox/combobox-item.component.ts
Due: eslint, prettier --write

feat(chore): update changelog #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc/combobox): added auto reposition input #0
  apps/doc/src/app/components/input/combobox/examples/with-list-item-template/combobox-with-list-item-template-example.component.html
  apps/doc/src/app/components/input/input-select/examples/with-list-item-template/select-with-list-item-template-example.component.html
Due: eslint, prettier --write

fix(components/combobox): small fix for review #0
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.less
Due: prettier --write

feat(doc): change specific v4 version like 4.8.0 to v4 #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/versions.constants.ts
  apps/doc/src/app/version-manager/versions.constants.ts.ng18
Due: eslint, prettier --write

feat(doc): change specific v4 version like 4.8.0 to v4 #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: check input-number #1142
  apps/doc/src/app/components/input/input-number/examples/input-number-basic-example/input-number-basic-example.component.ts
Due: eslint, prettier --write

feat(components/input-layout): update logic for hiding cler btn #000
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

feat(components/card): add card options provider #1669
  apps/doc/src/app/components/card/card.component.html
  apps/doc/src/app/components/card/card.component.ts
  apps/doc/src/app/components/card/card.module.ts
  apps/doc/src/app/components/card/examples/shadow-provider/card-shadow-provider-example.component.html
  apps/doc/src/app/components/card/examples/shadow-provider/card-shadow-provider-example.component.ts
  libs/components/src/lib/components/card/card-options.ts
  libs/components/src/lib/components/card/card.component.ts
  libs/components/src/lib/components/card/index.ts
Due: eslint, prettier --write

feat(chore): prepare release 5.4.0 #0
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_5.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  apps/doc/src/app/version-manager/versions.constants.ts.ng18
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/nxmv/src/generators/apply/index.ts
  libs/nxmv/src/generators/apply/schema.d.ts
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  nxmv.json
  nxmv.json.ng18
  package-lock.json
  package.json
Due: eslint, prettier --write

feat(chore): prepare release 5.4.0 #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc/changelog): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/input-layout-date-time): update calendar view after control value changed #2243
  apps/doc/src/app/components/input/input-layout-date-range/examples/base/input-layout-date-range-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date-range/examples/base/input-layout-date-range-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-range/input-layout-date-range.module.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/base/input-layout-date-time-range-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/base/input-layout-date-time-range-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.module.ts
  apps/doc/src/app/components/input/input-layout-date/examples/base/input-layout-date-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date/examples/base/input-layout-date-base-example.component.ts
  libs/components/src/lib/components/calendar-range/calendar-range.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.ts
Due: eslint, prettier --write

fix(components/toast): fix max toast container width #000
  libs/components/src/lib/components/toast/toast/toast.component.less
Due: prettier --write

fix(components/input-number): update hint on value chage #000
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

feat(components/table): test remove inserted directive #000
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

feat(ci): disable test in pr #0
  .github/workflows/pr-ng17.yml
  .github/workflows/pr-ng18.yml
  package-lock.json
Due: prettier --write

fix(doc): search after first clearing did not work #0
  package-lock.json
  package-lock.json.ng18
  package.json
  package.json.ng18
Due: prettier --write

fix(doc): search after first clear did not work #0
  .github/workflows/pr-ng17.yml
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
Due: prettier --write

fix(components/input-select): setted required state before interact #1281
  apps/doc/src/app/components/input/input-select/examples/base/select-base-example.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

feat(chore): update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc/table): add advanced table examples page #000
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/table-advanced/examples/setup-module.md
  apps/doc/src/app/components/table-advanced/examples/table-dynamic-row-group-example/table-dynamic-row-group-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-dynamic-row-group-example/table-dynamic-row-group-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-dynamic-row-group-example/table-dynamic-row-group-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-editable-layouts-example/table-editable-layouts-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-editable-layouts-example/table-editable-layouts-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-index-example/table-index-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-index-example/table-index-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-index-example/table-index-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-inherit-cols/table-inherit-cols-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-inherit-cols/table-inherit-cols-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-inherit-cols/table-inherit-cols-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-search-example/table-search-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-search-example/table-search-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-search-example/table-search-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-server-sort-example/table-server-sort-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-server-sort-example/table-server-sort-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-server-sort-example/table-server-sort-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-sticky-example/table-sticky-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-sticky-example/table-sticky-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-sticky-example/table-sticky-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-track-by-example/table-track-by-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-track-by-example/table-track-by-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-track-by-example/table-track-by-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-tree-example/table-tree-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-tree-example/table-tree-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-tree-example/table-tree-example.component.ts
  apps/doc/src/app/components/table-advanced/examples/table-tree-pagination-example/table-tree-pagination-example.component.html
  apps/doc/src/app/components/table-advanced/examples/table-tree-pagination-example/table-tree-pagination-example.component.less
  apps/doc/src/app/components/table-advanced/examples/table-tree-pagination-example/table-tree-pagination-example.component.ts
  apps/doc/src/app/components/table-advanced/table-advanced-example.component.html
  apps/doc/src/app/components/table-advanced/table-advanced-example.component.less
  apps/doc/src/app/components/table-advanced/table-advanced-example.component.ts
  apps/doc/src/app/components/table-advanced/table-advanced-example.const.ts
  apps/doc/src/app/components/table-advanced/table-advenced-example.module.ts
  apps/doc/src/app/components/table/table-example.component.ts
  apps/doc/src/app/components/table/table-example.module.ts
  apps/doc/src/app/pages.ts
Due: eslint, prettier --write

fix(components/input-layout): empty input with force clear btn fix #000
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: eslint, prettier --write
