Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(components/table): tree stage 2
  apps/doc/src/app/components/table/table-example.component.html
  libs/components/src/lib/components/table/directives/row-init.directive.ts
  libs/components/src/lib/components/table/service/tree.service.ts
  libs/components/src/lib/components/table/table.types.ts
  libs/components/src/lib/components/table/tbody/tbody.component.html
Due: eslint, prettier --write

feat(components/tabs): fix footer line
  libs/components/src/lib/components/tabs/components/tab.component.less
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.component.less
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

feat(components/sidebar): add ability to control styles of wrapper elements #541
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/dialogs/sidebar/examples/custom-wrapper-style/custom-wrapper-style.component.html
  apps/doc/src/app/components/dialogs/sidebar/examples/custom-wrapper-style/custom-wrapper-style.component.ts
  apps/doc/src/app/components/dialogs/sidebar/sidebar.component.html
  apps/doc/src/app/components/dialogs/sidebar/sidebar.component.ts
  apps/doc/src/app/components/dialogs/sidebar/sidebar.module.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.html
  libs/components/src/lib/components/dialogs/sidebar/sidebar.models.ts
Due: eslint, prettier --write

ci: fix build
  libs/components/src/lib/components/breadcrumbs/index.ts
Due: eslint, prettier --write

fix(components/tabs): after build the color changes #543
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/tabs/components/tab.component.less
Due: prettier --write

feat(components/table): ability was added to control tree rows #366
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/table/examples/table-tree-example/table-tree-example.component.html
  apps/doc/src/app/components/table/table-example.component.html
  libs/components/src/lib/components/table/directives/row-init.directive.ts
  libs/components/src/lib/components/table/directives/table.directive.ts
  libs/components/src/lib/components/table/service/tree.service.ts
  libs/components/src/lib/components/table/tbody/tbody.component.ts
Due: eslint, prettier --write

feat(components/input-multi-select): can control classes and styles for dropdown #536
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.less
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.ts
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.less
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.ts
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.less
  apps/doc/src/app/components/input/input-select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/models.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

fix(components/overlay): the initial positioning of the window does not take right place #387
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/modules/overlay/overlay.component.ts
Due: eslint, prettier --write

fix(doc): changed class name
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.less
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.ts
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.less
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.ts
  apps/doc/src/app/components/input/input-select/input-select.component.less
  apps/doc/src/app/components/input/input-select/input-select.component.ts
Due: eslint, prettier --write

fix(doc): changed class name
  libs/components/src/lib/modules/overlay/overlay.component.ts
Due: eslint, prettier --write

chore: update comment
  libs/components/src/lib/modules/overlay/overlay.component.ts
Due: eslint, prettier --write

feat: resolve #486 #482, #495, #394, #544
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/textarea/examples/textarea-autosize-example/textarea-autosize-example.component.html
  apps/doc/src/app/components/input/textarea/examples/textarea-autosize-example/textarea-autosize-example.module.ts
  apps/doc/src/app/components/input/textarea/textarea-example.component.html
  apps/doc/src/app/components/input/textarea/textarea-example.component.ts
  apps/doc/src/app/components/input/textarea/textarea-example.module.ts
  libs/components/src/lib/components/input/input-number/input-number.directive.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/components/src/lib/directives/auto-resize/autoresize.directive.ts
  libs/components/src/lib/directives/auto-resize/autoresize.module.ts
  libs/components/src/lib/directives/auto-resize/handlers/abstract.handler.ts
  libs/components/src/lib/directives/auto-resize/handlers/default.handler.ts
  libs/components/src/lib/directives/auto-resize/handlers/ios.handler.ts
  libs/components/src/lib/directives/auto-resize/index.ts
  libs/components/src/lib/directives/index.ts
Due: eslint, prettier --write

fix: fixed the height in component prizm-widgetbase-example
  apps/doc/src/app/components/widget/examples/base/widget-base-example.component.ts
  package-lock.json
Due: eslint, prettier --write

fix: fixed the height in component prizm-widgetbase-example #484
  apps/doc/src/app/components/widget/examples/base/widget-base-example.component.ts
Due: eslint, prettier --write

fix(components/input-layout): fix center position
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: eslint, prettier --write

fix(components/input-relative-date): fix empty in state
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.html
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

fix(components/input-relative-date): fix validator
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

fix(components/widget): set display contents
  libs/components/src/lib/components/widget/widget.component.less
Due: prettier --write

fix: fixed the height in live demo component prizm-widgetbase-example
  libs/components/src/lib/components/widget/widget.component.html
  libs/components/src/lib/components/widget/widget.component.less
Due: eslint, prettier --write

fix: fixed the height in live demo component prizm-widgetbase-example1
  apps/doc/src/app/components/widget/widget.component.less
  libs/components/src/lib/components/widget/widget.component.less
Due: prettier --write

fix: font fixes #280 #302 #303 #460
  apps/doc/src/styles.less
Due: prettier --write

fix: font fixes2 #280 #302 #303 #460
  apps/doc/src/styles.less
Due: prettier --write

fix: sceleton-directive #304
  libs/components/src/lib/directives/skeleton/skeleton.directive.ts
Due: eslint, prettier --write

feat: prepare release 2.1.3
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(doc): remove style
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/widget/examples/base/widget-base-example.component.ts
  apps/doc/src/app/components/widget/examples/with-buttons/widget-with-buttons-example.component.ts
  apps/doc/src/app/components/widget/widget.component.less
Due: eslint, prettier --write

fix: small fixes
  apps/doc/src/app/components/dialogs/sidebar/examples/custom-wrapper-style/custom-wrapper-style.component.ts
  apps/doc/src/app/components/dialogs/sidebar/sidebar.component.html
  apps/doc/src/app/components/input/input-number/examples/input-number-basic-example/input-number-basic-example.component.html
  apps/doc/src/app/components/input/input-number/examples/input-number-basic-example/input-number-basic-example.component.ts
  apps/doc/src/app/components/table/examples/table-search-example/table-search-example.component.ts
  apps/doc/src/app/components/table/examples/table-tree-example/table-tree-example.component.html
  libs/components/src/lib/abstract/dialog.service.ts
  libs/components/src/lib/components/dialogs/dialog/dialog.models.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.html
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
  libs/components/src/lib/components/dialogs/sidebar/sidebar.models.ts
  libs/components/src/lib/components/input/input-date-time-range/input-date-range-time.component.ts
  libs/components/src/lib/components/input/input-number/input-number.directive.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/directives/auto-resize/autoresize.directive.ts
  libs/components/src/lib/directives/auto-resize/handlers/abstract.handler.ts
  libs/components/src/lib/directives/auto-resize/handlers/default.handler.ts
  libs/components/src/lib/directives/auto-resize/handlers/ios.handler.ts
  libs/components/src/lib/modules/overlay/models.ts
  libs/components/src/lib/modules/overlay/overlay.component.ts
  libs/helpers/src/lib/util/index.ts
  libs/helpers/src/lib/util/rxjs/index.ts
  libs/helpers/src/lib/util/rxjs/mutation-observer.ts
  libs/helpers/src/lib/util/style/index.ts
  libs/helpers/src/lib/util/style/style.ts
Due: eslint, prettier --write

fix(components/tabs): bottom color
  libs/components/src/lib/components/tabs/components/tab.component.less
Due: prettier --write

fix(components/autoresize): skip initial
  libs/components/src/lib/directives/auto-resize/autoresize.directive.ts
Due: eslint, prettier --write

fix(components/number): add validator
  libs/components/src/lib/components/input/common/services/input-invalid-subtext.service.ts
  libs/components/src/lib/components/input/input-number/index.ts
  libs/components/src/lib/components/input/input-number/input-number-validator.ts
  libs/components/src/lib/components/input/input-number/input-number.directive.ts
  libs/components/src/lib/components/input/input-number/input-number.module.ts
Due: eslint, prettier --write

fix(doc): anchor links do not work on pages that have not loaded #560
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/app.component.ts
Due: eslint, prettier --write

feat(components/textarea): resizable was added #559
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/textarea/examples/textarea-resizable-example/textarea-resizable-example.component.html
  apps/doc/src/app/components/input/textarea/examples/textarea-resizable-example/textarea-resizable-example.component.less
  apps/doc/src/app/components/input/textarea/examples/textarea-resizable-example/textarea-resizable-example.component.ts
  apps/doc/src/app/components/input/textarea/textarea-example.component.html
  apps/doc/src/app/components/input/textarea/textarea-example.component.ts
  apps/doc/src/app/components/input/textarea/textarea-example.module.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.less
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/input/input-text/input-textarea.component.less
  libs/components/src/lib/components/input/input-text/textarea.directive.ts
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

feat(components/polymorph): added new input to add injector
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/tools/polymorph/examples/injector/injector.component.html
  apps/doc/src/app/tools/polymorph/examples/injector/injector.component.ts
  apps/doc/src/app/tools/polymorph/examples/injector/injector.module.ts
  apps/doc/src/app/tools/polymorph/examples/injector/sub-component.ts
  apps/doc/src/app/tools/polymorph/examples/injector/token.ts
  apps/doc/src/app/tools/polymorph/polymorph.component.html
  apps/doc/src/app/tools/polymorph/polymorph.component.ts
  apps/doc/src/app/tools/polymorph/polymorph.module.ts
  libs/components/src/lib/directives/polymorph/directives/outlet.ts
Due: eslint, prettier --write

feat(components/polymorph): added new input to add injector
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/directives/polymorph/directives/outlet.ts
Due: eslint, prettier --write

feat(components/dropdown-host): now we pass injector to overlay
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

feat(theme): use DI to pass parent theme #478
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/header/components/prizm-header-dropdown/prizm-header-dropdown.component.html
  libs/components/src/lib/components/header/prizm-header.module.ts
  libs/theme/src/lib/directive/theme/index.ts
  libs/theme/src/lib/directive/theme/local-theme.service.ts
  libs/theme/src/lib/directive/theme/theme.directive.ts
Due: eslint, prettier --write

fix(components/navigation): select current item #477
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/header/components/prizm-header-dropdown/prizm-header-dropdown.component.html
  libs/components/src/lib/components/header/components/prizm-header-dropdown/prizm-header-dropdown.component.less
Due: eslint, prettier --write

ci: update changelog #268 #533
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
