Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(doc/swithcer): improve examples according to style guides #2420
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.ts
  apps/doc/src/app/components/switcher/examples/switcher-basic-example/switcher-basic-example.component.ts
  apps/doc/src/app/components/switcher/examples/switcher-basic-value-example/switcher-basic-value-example.component.ts
  apps/doc/src/app/components/switcher/examples/switcher-projection-example/switcher-projection-example.component.html
  apps/doc/src/app/components/switcher/examples/switcher-projection-example/switcher-projection-example.component.ts
  apps/doc/src/app/components/switcher/examples/switcher-projection-value-example/switcher-projection-value-example.component.ts
Due: eslint, prettier --write

feat(doc): new ai assistant #0
  apps/doc/src/app/components/tabs/openai.service.old.ts
  apps/doc/src/app/components/tabs/openai.service.old2.ts
  apps/doc/src/app/components/tabs/openai.service.old3.ts
  apps/doc/src/app/components/tabs/openai.service.old4.ts
  apps/doc/src/app/components/tabs/openai.service.ts
Due: eslint, prettier --write

fix(components/input-tree-multi-select): can unselect cloned value #2353 #2352
  apps/doc/src/app/components/input/input-tree-multi-select/examples/base/tree-select-base-example.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/examples/base/tree-select-base-example.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.module.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/tree-select-multi-selected.directive.ts
Due: eslint, prettier --write

feat(chore): up verstion to 5.8.1 #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  nxmv.json
  package.json
Due: eslint, prettier --write

feat(chore): up verstion to 5.8.1 #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(chore): review bugs #0
  apps/doc/src/app/components/input/input-tree-multi-select/examples/base/tree-select-base-example.component.ts
  package.json
  package.json.ng18
Due: eslint, prettier --write

fix(components/input-tree-multi-select): review bugs #0
  apps/doc/src/app/components/input/input-tree-multi-select/examples/base/tree-select-base-example.component.ts
Due: eslint, prettier --write

refactor(helpers/has-value): robust content detection added #000
  libs/helpers/src/lib/directives/has-value/has-value.directive.ts
Due: eslint, prettier --write

feat(components/button): add styles for icon without text #2361
  libs/components/src/lib/components/button/button.component.less
Due: prettier --write

feat(chore): up versions to 5.9.0 #000
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_5.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  nxmv.json
  package.json
Due: eslint, prettier --write

feat(doc/changelog): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

Migration to DMZ-kube
  .gitlab-ci.yml
Due: prettier --write

feat(components/none-content): add new component #2404
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/none-content/examples/base/none-content-base-example.component.html
  apps/doc/src/app/components/none-content/examples/base/none-content-base-example.component.ts
  apps/doc/src/app/components/none-content/examples/setup-module.md
  apps/doc/src/app/components/none-content/none-content-example.component.html
  apps/doc/src/app/components/none-content/none-content-example.component.less
  apps/doc/src/app/components/none-content/none-content-example.component.ts
  apps/doc/src/app/components/none-content/none-content.module.ts
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/index.ts
  libs/components/src/lib/components/none-content/index.ts
  libs/components/src/lib/components/none-content/none-content.component.html
  libs/components/src/lib/components/none-content/none-content.component.less
  libs/components/src/lib/components/none-content/none-content.component.spec.ts
  libs/components/src/lib/components/none-content/none-content.component.ts
Due: eslint, prettier --write

feat(components/none-content): add new component #2404
  apps/doc/src/app/components/none-content/examples/base/none-content-base-example.component.html
  apps/doc/src/app/components/none-content/examples/base/none-content-base-example.component.ts
  apps/doc/src/app/components/none-content/examples/custom/none-content-custom-example.component.html
  apps/doc/src/app/components/none-content/examples/custom/none-content-custom-example.component.ts
  apps/doc/src/app/components/none-content/none-content-example.component.html
  apps/doc/src/app/components/none-content/none-content-example.component.ts
  apps/doc/src/app/components/none-content/none-content.module.ts
  libs/components/src/lib/components/none-content/none-content.component.html
  libs/components/src/lib/components/none-content/none-content.component.less
  libs/components/src/lib/components/none-content/none-content.component.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/english.ts
  libs/i18n/src/lib/languages/english/index.ts
  libs/i18n/src/lib/languages/english/none-content.ts
  libs/i18n/src/lib/languages/russian/index.ts
  libs/i18n/src/lib/languages/russian/none-content.ts
  libs/i18n/src/lib/languages/russian/russian.ts
Due: eslint, prettier --write

feat(components/none-content): small improvments and class name fix #2404
  apps/doc/src/app/components/none-content/examples/custom/none-content-custom-example.component.html
  apps/doc/src/app/components/none-content/none-content-example.component.html
  libs/components/src/lib/components/none-content/none-content.component.less
  libs/i18n/src/lib/languages/english/none-content.ts
Due: eslint, prettier --write

feat(doc/side-menu): improve example in accordance with style guides #2418
  apps/doc/src/app/components/side-menu/examples/side-menu-example-basic/side-menu-example-basic.component.html
  apps/doc/src/app/components/side-menu/examples/side-menu-example-basic/side-menu-example-basic.component.less
  apps/doc/src/app/components/side-menu/examples/side-menu-example-basic/side-menu-example-basic.component.ts
  apps/doc/src/app/components/side-menu/side-menu-example.module.ts
  libs/components/src/lib/components/none-content/none-content.component.less
Due: eslint, prettier --write

feat(components/none-content): remove background color and paddings #2404
  apps/doc/src/app/components/side-menu/examples/side-menu-example-basic/side-menu-example-basic.component.html
  apps/doc/src/app/components/side-menu/examples/side-menu-example-basic/side-menu-example-basic.component.less
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/none-content/none-content.component.less
  libs/components/src/lib/components/none-content/none-content.component.ts
Due: eslint, prettier --write

fix(components/column-settings): return empty string if no hint translations given #000
  libs/components/src/lib/components/column-settings/pipes/column-hint.pipe.ts
Due: eslint, prettier --write

feat(components/accordion): change button size to xm #2393
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.html
Due: eslint, prettier --write

feat(components/file-upload): add hover for dropzone #2399
  libs/components/src/lib/components/file-upload/file-upload.component.html
  libs/components/src/lib/components/file-upload/file-upload.component.less
Due: eslint, prettier --write

fix(doc): add polyfill for event listeners in cdk #0
  apps/doc/src/polyfills.ts
Due: eslint, prettier --write

fix(chore): add firebaseToolsVersion to ng18 doc deploy #000
  .github/workflows/deploy-main-doc-ng18.yml
Due: prettier --write

feat(components/toast): toast new logic #0
  apps/doc/src/app/app.module.ts
  apps/doc/src/app/components/tabs/chat.component.ts
  apps/doc/src/app/components/tabs/openai.service.ts
  apps/doc/src/app/components/toast/examples/message-info-example/message-info-example.component.html
  apps/doc/src/app/components/toast/examples/message-secondary-example/message-secondary-example.component.html
  apps/doc/src/app/components/toast/toast.component.html
  apps/doc/src/app/components/toast/toast.module.ts
  libs/components/jest.config.ts
  libs/components/src/lib/components/toast/toast-control.ts
  libs/components/src/lib/components/toast/toast.module.ts
  libs/components/src/lib/components/toast/toast.service.ts
  libs/plugin/executors.json
  libs/plugin/project.json
  libs/plugin/src/executors/ai-sync/executor.new.ts
  libs/plugin/src/executors/ai-sync/executor.old.ts
  libs/plugin/src/executors/ai-sync/executor.spec.ts
  libs/plugin/src/executors/ai-sync/executor.ts
  libs/plugin/src/executors/ai-sync/readMe.md
  libs/plugin/src/executors/ai-sync/schema.d.ts
  libs/plugin/src/executors/ai-sync/schema.json
  package-lock.json
  package.json
Due: eslint, prettier --write

fix(chore): change firebase tools version #000
  .github/workflows/deploy-main-doc-ng18.yml
Due: prettier --write

Returning the original url to ingress
  .gitlab-ci.yml
Due: prettier --write

feat(components/none-content): add head-text slot and remove default texts, examples upadete #2404
  apps/doc/src/app/components/none-content/examples/base/none-content-base-example.component.html
  apps/doc/src/app/components/none-content/examples/custom/none-content-custom-example.component.html
  apps/doc/src/app/components/none-content/none-content-example.component.html
  apps/doc/src/app/components/none-content/none-content-example.component.ts
  libs/components/src/lib/components/none-content/none-content.component.html
  libs/components/src/lib/components/none-content/none-content.component.less
  libs/components/src/lib/components/none-content/none-content.component.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/english.ts
  libs/i18n/src/lib/languages/english/index.ts
  libs/i18n/src/lib/languages/russian/index.ts
  libs/i18n/src/lib/languages/russian/russian.ts
Due: eslint, prettier --write

feat(components/navigation): navigation and header components become deprecated #2456
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/header/prizm-header.module.ts
  libs/components/src/lib/components/navigation/prizm-navigation.module.ts
Due: eslint, prettier --write

feat(components/none-content): remove extra files #000:
  libs/i18n/src/lib/languages/english/none-content.ts
  libs/i18n/src/lib/languages/russian/none-content.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
