Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

ci: update ci for previous versions v1-v3
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
Due: prettier --write

feat: update theme changer
  apps/doc/src/app/app.module.ts
  apps/doc/src/app/logo/logo.component.ts
  apps/doc/src/app/logo/logo.module.ts
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.html
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.less
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.ts
  apps/doc/src/app/theme-token-changer/theme-token-changer.service.ts
  apps/doc/src/styles.less
  libs/doc/base/src/lib/components/documentation/documentation-property-connector.directive.ts
  libs/theme/src/lib/const.ts
  libs/theme/src/lib/obj.ts
  libs/theme/src/lib/services/theme.service.ts
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

fix: text color
  libs/doc/base/src/lib/components/documentation/documentation.style.less
Due: prettier --write

fix: text color
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.ts
Due: eslint, prettier --write

fix: text color
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.less
Due: prettier --write

fix: save changes after update
  apps/doc/src/app/app.component.ts
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.html
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.ts
  apps/doc/src/app/theme-token-changer/theme-token-changer.service.ts
Due: eslint, prettier --write

feat: update changelog for 4.0.0-next.2
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: nrwl to nx
  package.json
  package.json.ng17
Due: prettier --write

chore: update files for ng 17
  libs/ast/project.json.ng17
  libs/charts/base/project.json.ng17
  libs/components/project.json.ng17
  libs/doc/base/project.json.ng17
  libs/helpers/project.json.ng17
  libs/i18n/project.json.ng17
  libs/icons/base/project.json.ng17
  libs/nxmv/project.json.ng14
  libs/nxmv/project.json.ng15
  libs/nxmv/project.json.ng16
  libs/nxmv/project.json.ng17
  libs/schematics/project.json.ng17
  libs/theme/project.json.ng17
Due: none

fix: accordion styles fixes #1116, #1236, #1285
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.html
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.less.ng14
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.less.ng15
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.less.ng17
Due: eslint, prettier --write

fix: custom title example fix #1240
  apps/doc/src/app/components/accordion/examples/custom-title/custom-title.component.html
  apps/doc/src/app/components/accordion/examples/custom-title/custom-title.component.less
  apps/doc/src/app/components/accordion/examples/custom-title/custom-title.component.ts
Due: eslint, prettier --write

fix: theme
  apps/doc/src/app/app.component.html
  apps/doc/src/app/app.component.ts
  apps/doc/src/app/app.module.ts
  apps/doc/src/app/logo/logo.component.ts
  apps/doc/src/app/theme-token-changer/theme-token-changer.service.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.html
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.ts
  libs/components/src/lib/components/dialogs/dialog/dialog.component.html
  libs/components/src/lib/components/dialogs/dialog/dialog.component.ts
  libs/components/src/lib/components/dialogs/dialog/dialog.models.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.html
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.ts
  libs/doc/base/src/lib/components/main/main.component.ts
  libs/doc/base/src/lib/components/main/main.module.ts
  libs/doc/base/src/lib/components/main/main.template.html
  libs/icons/base/project.json
Due: eslint, prettier --write

feat(local): generate icons
  .eslintrc.json
  .vscode/settings.json
  libs/local/.eslintrc.json
  libs/local/README.md
  libs/local/executors.json
  libs/local/jest.config.ts
  libs/local/package.json
  libs/local/project.json
  libs/local/src/executors/icons-to-lazy/executor.spec.ts
  libs/local/src/executors/icons-to-lazy/executor.ts
  libs/local/src/executors/icons-to-lazy/schema.d.ts
  libs/local/src/executors/icons-to-lazy/schema.json
  libs/local/src/index.ts
  libs/local/tsconfig.json
  libs/local/tsconfig.lib.json
  libs/local/tsconfig.spec.json
  package.json
  tsconfig.base.json
Due: eslint, prettier --write

fix: listing item selected item hover #1280
  apps/doc/src/app/components/listing-item/examples/with-instrumnets/listing-item-with-instruments-example.component.html
  apps/doc/src/app/components/listing-item/listing-item-example.component.html
  apps/doc/src/app/components/listing-item/listing-item-example.component.ts
  apps/doc/src/app/components/listing-item/listing-item-example.module.ts
  libs/components/src/lib/components/listing-item/listing-item.component.less
Due: eslint, prettier --write

fix: listing item selected item hover for 4.0 #1280
  apps/doc/src/app/components/listing-item/examples/with-instrumnets/listing-item-with-instruments-example.component.html
  apps/doc/src/app/components/listing-item/listing-item-example.component.html
  apps/doc/src/app/components/listing-item/listing-item-example.component.ts
  apps/doc/src/app/components/listing-item/listing-item-example.module.ts
  libs/components/src/lib/components/listing-item/listing-item.component.less
Due: eslint, prettier --write

feat: add hint to navigation menu #1216, #1312
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.ts
Due: eslint, prettier --write

feat: accordion title hint added
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.html
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.ts
  libs/components/src/lib/util/dom/is-textoverflow.ts
Due: eslint, prettier --write

feat: new executors
  libs/icons/base/project.json
  libs/icons/base/src/lib/icons/24/source/agenda-fil/index.ts
  libs/icons/base/src/lib/icons/24/source/agenda-fil/ng-package.json
  libs/local/src/executors/icons-to-lazy/executor.ts
  libs/local/src/executors/icons-to-lazy/schema.d.ts
  libs/local/src/executors/icons-to-lazy/schema.json
  local/.eslintrc.json
  local/README.md
  local/executors.json
  local/jest.config.ts
  local/package.json
  local/project.json
  local/src/executors/icons-to-lazy/executor.spec.ts
  local/src/executors/icons-to-lazy/executor.ts
  local/src/executors/icons-to-lazy/schema.d.ts
  local/src/executors/icons-to-lazy/schema.json
  local/src/index.ts
  local/tsconfig.json
  local/tsconfig.lib.json
  local/tsconfig.spec.json
  package.json
  tsconfig.base.json
Due: eslint, prettier --write

fix: accordion example title fix
  apps/doc/src/app/components/accordion/examples/accordion-basic-example/accordion-basic-example.component.html
  apps/doc/src/app/components/accordion/examples/accordion-multiple-expand-example/accordion-multiple-expand-example.component.html
  apps/doc/src/app/components/accordion/examples/accordion-single-expand-example/accordion-single-expand-example.component.html
  apps/doc/src/app/components/accordion/examples/accordion-with-instruments-example/accordion-with-instruments-example.component.html
  apps/doc/src/app/components/accordion/examples/nested/nested.component.html
Due: eslint, prettier --write

feat: base changes
  apps/doc/src/app/app.component.ts
Due: eslint, prettier --write

feat: base changes
  libs/icons/base/src/index.ts
Due: eslint, prettier --write

feat: base changes
  apps/doc/src/app/app.module.ts
  apps/doc/src/app/logo/logo.module.ts
Due: eslint, prettier --write

feat: base changes
  libs/doc/base/src/lib/components/main/main.component.ts
Due: eslint, prettier --write

chore: up from 1.14.0 to 1.15.0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: prettier --write

chore: up from 2.11.0 to 2.12.0
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: prettier --write

chore: up from 3.10.0 to 3.11.0
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

chore: up from 3.10.0 to 3.11.0
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/current.const.ts.ng15
Due: eslint, prettier --write

chore: version 1.14.0 up tp 1.15.0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

chore: version 2.11.0 up tp 2.12.0
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: prettier --write

chore: version 3.10.0 up tp 3.11.0
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

chore: current const for 1.15.0 update
  apps/doc/src/app/version-manager/current.const.ts.ng14
Due: none

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: accordion examples line height changed according to markup values
  apps/doc/src/app/components/accordion/examples/accordion-basic-example/accordion-basic-example.component.less
  apps/doc/src/app/components/accordion/examples/accordion-multiple-expand-example/accordion-multiple-expand-example.component.less
  apps/doc/src/app/components/accordion/examples/accordion-single-expand-example/accordion-single-expand-example.component.less
  apps/doc/src/app/components/accordion/examples/accordion-with-instruments-example/accordion-with-instruments-example.component.less
  apps/doc/src/app/components/accordion/examples/custom-title/custom-title.component.less
  apps/doc/src/app/components/accordion/examples/nested/nested.component.less
Due: prettier --write

fix: search label for inout select and input multiselect added #1323
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/kit.ts
Due: eslint, prettier --write

fix: search label for inout select and input multiselect added #1323
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/kit.ts
  libs/i18n/src/lib/languages/russian/kit.ts
Due: eslint, prettier --write

fix: extra title in input select #1286
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
Due: eslint, prettier --write
