Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix(compoinents/file-upload): replace in prizmFileSize pipe #000
  libs/components/src/lib/components/file-upload/pipes/file-size.pipe.ts
Due: eslint, prettier --write

fix(components/panel): set default border radius as 0px to panel #1767
  libs/components/src/lib/components/panel/panel.component.less
Due: prettier --write

fix(components/file-upload): replace in prizmFileSize pipe #000
  libs/components/src/lib/components/file-upload/pipes/file-size.pipe.ts
Due: eslint, prettier --write

Update apps/doc/src/app/version-manager/versions.constants.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(components/input-date-relative): active items not updated when value set by formControl #1685
  apps/doc/src/app/components/input/input-layout-date-relative/examples/base/input-layout-date-relative-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date-relative/examples/base/input-layout-date-relative-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-relative/input-layout-date-relative.module.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.html
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

fix(components/input-date-relative): active items not updated when value set by formControl #1685
  apps/doc/src/app/components/input/input-layout-date-relative/examples/base/input-layout-date-relative-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date-relative/examples/base/input-layout-date-relative-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-relative/input-layout-date-relative.module.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

fix(components/polymorph): remove type any for polymorph #1530
  libs/components/src/lib/components/button/button.component.html
  libs/components/src/lib/components/button/button.component.ts
  libs/components/src/lib/components/data-list/data-list.component.html
  libs/components/src/lib/components/dialogs/dialog/dialog.component.html
  libs/components/src/lib/components/dialogs/dialog/dialog.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/directives/polymorph/classes/component.ts
  libs/components/src/lib/directives/polymorph/classes/context.ts
  libs/components/src/lib/directives/polymorph/classes/primitive-context.ts
  libs/components/src/lib/directives/polymorph/directives/outlet.old.ts
  libs/components/src/lib/directives/polymorph/directives/outlet.ts
  libs/components/src/lib/directives/polymorph/directives/template.ts
  libs/components/src/lib/directives/polymorph/types/content.ts
  libs/components/src/lib/directives/polymorph/types/handler.ts
  libs/components/src/lib/directives/polymorph/types/primitive.ts
  libs/components/src/lib/directives/polymorph/util.ts
  libs/helpers/src/lib/pipes/to-type/to-type.pipe.ts
Due: eslint, prettier --write

fix(components/input-date-time): default time is set only after focus is removed #1762
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

fix(components/input): remove setvalue #1190
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng16
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng17
Due: eslint, prettier --write

fix(components/input): remove setvalue #1190
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng16
Due: eslint, prettier --write

fix(components/chips): update chips on async changes #1754
  libs/components/src/lib/components/chips/chips.component.ts
Due: eslint, prettier --write

Update libs/components/src/lib/components/input/input-text/input-text.component.ts.ng17
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng17
Due: none

fix(doc/file-upload): i18n example fix #000
  apps/doc/src/app/components/file-upload/examples/auto-upload/auto-upload.component.ts
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.ts
Due: eslint, prettier --write

fix(components/file-upload): fix styles for size #000
  libs/components/src/lib/components/file-upload/file-upload.component.less
Due: prettier --write

fix(components/file-upload): do not throw max count error while multiply true #000
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.ts
  libs/components/src/lib/components/file-upload/file-upload.component.ts
Due: eslint, prettier --write

fix(doc/file-upload): update examples #000
  apps/doc/src/app/components/file-upload/examples/auto-upload/auto-upload.component.ts
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.ts
Due: eslint, prettier --write

fix(icons): restored icon selection-checkbox-marked-circle #1735
  libs/components/src/lib/abstract/dialog.service.ts
  libs/icons/base/assets/16/temp-selection-checkbox-marked-circle.svg
  libs/icons/base/assets/24/temp-selection-checkbox-marked-circle.svg
  libs/icons/base/base/index.ts
  libs/icons/base/base/names/index.ts
  libs/icons/base/base/source/icon-set.ts
  libs/icons/base/base/source/index.ts
  libs/icons/base/base/source/prizm-icons.model.ts
  libs/icons/base/base/source/temp-selection-checkbox-marked-circle/index.ts
  libs/icons/base/base/source/temp-selection-checkbox-marked-circle/ng-package.json
  libs/icons/base/base/source/temp-selection-checkbox-marked-circle/prizmIcons-temp-selection-checkbox-marked-circle.icon.ts
  libs/icons/base/full/index.ts
  libs/icons/base/full/names/index.ts
  libs/icons/base/full/source/icon-set.ts
  libs/icons/base/full/source/index.ts
  libs/icons/base/full/source/prizm-icons.model.ts
  libs/icons/base/full/source/temp-selection-checkbox-marked-circle/index.ts
  libs/icons/base/full/source/temp-selection-checkbox-marked-circle/ng-package.json
  libs/icons/base/full/source/temp-selection-checkbox-marked-circle/prizmIcons-temp-selection-checkbox-marked-circle.icon.ts
  libs/icons/base/src/styles/icons-base/prizm-base-icons-location.css
  libs/icons/base/src/styles/icons-base/prizm-base-icons-location.scss
  libs/icons/base/src/styles/icons-base/prizm-base-icons.css
  libs/icons/base/src/styles/icons-base/prizm-base-icons.eot
  libs/icons/base/src/styles/icons-base/prizm-base-icons.scss
  libs/icons/base/src/styles/icons-base/prizm-base-icons.ttf
  libs/icons/base/src/styles/icons-base/prizm-base-icons.woff
  libs/icons/base/src/styles/icons-base/prizm-base-icons.woff2
  libs/icons/base/src/styles/icons-full/prizm-full-icons-location.css
  libs/icons/base/src/styles/icons-full/prizm-full-icons-location.scss
  libs/icons/base/src/styles/icons-full/prizm-full-icons.css
  libs/icons/base/src/styles/icons-full/prizm-full-icons.eot
  libs/icons/base/src/styles/icons-full/prizm-full-icons.scss
  libs/icons/base/src/styles/icons-full/prizm-full-icons.ttf
  libs/icons/base/src/styles/icons-full/prizm-full-icons.woff
  libs/icons/base/src/styles/icons-full/prizm-full-icons.woff2
  libs/icons/loader/full/src/icons.ts
  libs/icons/loader/src/lib/icons.ts
Due: eslint, prettier --write

fix(doc/textarea): missing border property added for textarea livedemo #1803
  apps/doc/src/app/components/input/textarea/textarea-example.component.html
Due: eslint, prettier --write

feat(chore): update mr checklist template #000
  .gitlab/merge_request_templates/mr_template.md
Due: none

fix(components/file-upload): validation logig update #000
  libs/components/src/lib/components/file-upload/file-upload.component.ts
Due: eslint, prettier --write

feat(chore/release): 1.17.2 up to 1.18.0 #000
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

feat(chore/release): 2.14.2 up to 2.15.0 #000
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

feat(chore/release): 3.13.2 up to 3.14.0 #000
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng16
  libs/charts/base/package.json.ng16
  libs/components/package.json.ng16
  libs/core/package.json.ng16
  libs/helpers/package.json.ng16
  libs/i18n/package.json.ng16
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json.ng16
  libs/plugin/package.json.ng16
  libs/schematics/package.json.ng16
  libs/theme/package.json.ng16
  package.json.ng16
Due: eslint, prettier --write

feat(doc/changelog): changelog update #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(doc/icons): fix search icons after get empty list #000
  apps/doc/src/app/components/icons/base/all/all-icon.component.ts
Due: eslint, prettier --write

fix(chore): update detector for multiple domains #1133
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_3.md
  apps/doc/src/app/version-manager/util.ts
Due: eslint, prettier --write

feat(doc/changelog): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(chore): up version to 4.3.2 #000
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/current.const.ts.ng17
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng17
  libs/charts/base/package.json
  libs/charts/base/package.json.ng17
  libs/components/package.json
  libs/components/package.json.ng17
  libs/core/package.json
  libs/core/package.json.ng17
  libs/helpers/package.json
  libs/helpers/package.json.ng17
  libs/i18n/package.json
  libs/i18n/package.json.ng17
  libs/icons/base/package.json
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng17
  libs/nxmv/package.json
  libs/nxmv/package.json.ng17
  libs/plugin/package.json
  libs/plugin/package.json.ng17
  libs/schematics/package.json
  libs/schematics/package.json.ng17
  libs/theme/package.json
  libs/theme/package.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
