Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

Update apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(chore): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/tabs): tabindex should recalculate on close from dropdown #1948
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix(components/listing-item): disabled items should not fire mouse events #1947
  libs/components/src/lib/components/listing-item/listing-item.component.less
  libs/components/src/lib/components/listing-item/listing-item.component.ts
Due: eslint, prettier --write

fix(doc/multiselect): improve example #000
  apps/doc/src/app/components/input/input-multi-select/examples/with-transformer/multi-select-with-transformer-example.component.ts
Due: eslint, prettier --write

fix(components/textarea): clear btn shouldnt be shown when disabled #000
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
Due: prettier --write

fix(components/chips): disabled chips should not be interactive #000
  libs/components/src/lib/components/chips/chips.component.less
Due: prettier --write

fix(components/navigation-menu): fix item height #1964
  apps/doc/src/app/components/tree/tree.component.html
  apps/doc/src/app/components/tree/tree.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
  libs/components/src/lib/components/tree/components/tree-item-content/tree-item-content.component.less
Due: eslint, prettier --write

fix(doc): missing fix info added to 4.3.6 version in changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(chore): run release after created tag #000
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/released.yml
Due: prettier --write

feat(chore): run release after created tag #000
  .github/workflows/main-publish-ng14.yml
Due: prettier --write

feat(chore): run release after created tag #000
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

feat(chore): run release after created tag #000
  .github/workflows/main-publish-ng17.yml
  .github/workflows/released.yml
Due: prettier --write

feat(chore): run release after created tag #000
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/released.yml
Due: prettier --write

feat(chore): run release after created tag #000
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/main-publish-ng17.yml
Due: prettier --write

feat(ci): relase after push tag #000
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/released.yml
Due: prettier --write

Update libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
Due: prettier --write

fix(doc): fox spelling error #000
  apps/doc/src/app/components/tree/tree.component.html
Due: eslint, prettier --write

fix(components/button): correct outline buttons height #1399
  libs/components/src/lib/components/button/button.component.less
Due: prettier --write

Config write true
  helm/values.prizm.yaml
Due: none

fix(components/input-layout-date): min max should correction for manual input #000
  apps/doc/src/app/components/input/input-layout-date/examples/base/input-layout-date-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date/examples/base/input-layout-date-base-example.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
Due: eslint, prettier --write

fix(components/input-layput-date): progress for min max correction #000
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.html
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
Due: eslint, prettier --write

feat(components/tree-select): stage 1 #000
  libs/components/src/lib/components/dropdowns/tree-select/input-tree-select.component.html
  libs/components/src/lib/components/dropdowns/tree-select/input-tree-select.component.less
  libs/components/src/lib/components/dropdowns/tree-select/input-tree-select.component.ts
  libs/components/src/lib/components/dropdowns/tree-select/input-tree-select.model.ts
  libs/components/src/lib/components/dropdowns/tree-select/input-tree-select.token.ts
  libs/components/src/lib/components/dropdowns/tree-select/input-tree-select.util.ts
Due: eslint, prettier --write

fix(components/input-date): update value for mask #000
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.html
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
Due: eslint, prettier --write

feat(components/input-date-time): add time restrictions for min max values #1570
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/pipes/month/month.pipe.ts
  libs/components/src/lib/pipes/time-constraints/index.ts
  libs/components/src/lib/pipes/time-constraints/time-constraints.pipe.ts
Due: eslint, prettier --write

feat(components/date-transform): transform min-max should return null for invalid date string #1315
  libs/components/src/lib/@core/date-time/date-transform-util.ts
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
Due: eslint, prettier --write

fix(schematics): fix versions #000
  libs/schematics/src/ng-add/consts.ts.ng17
Due: none

feat(components): added icons to peerDependencies #1989
  libs/components/package.json
  libs/components/package.json.ng17
Due: prettier --write

fix(components/tabs): view not updated for activeTabindexChage when overflow #1863
  apps/doc/src/app/components/tabs/tabs-example.component.html
  apps/doc/src/app/components/tabs/tabs-example.component.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write
