Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: table head height on every table size should be 32px #1643
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

fix: add translation for year input placeholder in cron
  libs/components/src/lib/components/cron/components/year/year.component.html
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/cron.ts
  libs/i18n/src/lib/languages/russian/cron.ts
Due: eslint, prettier --write

fix: stackblitz template files for open private demo
  apps/doc/project.json
  apps/doc/src/app/code-demo/files/angular.json.template.ng14
  apps/doc/src/app/code-demo/files/angular.json.template.ng15
  apps/doc/src/app/code-demo/files/angular.json.template.ng16
  apps/doc/src/app/code-demo/files/src/app/app.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng17
  apps/doc/src/app/code-demo/files/src/styles.less.template
  apps/doc/src/app/code-demo/files/src/styles.less.template.ng17
Due: prettier --write

fix(components/input-number): right style on disabled mode #1644 #1645
  apps/doc/src/app/components/input/input-number/examples/disabled-example/input-number-disabled-example.component.html
  apps/doc/src/app/components/input/input-number/examples/disabled-example/input-number-disabled-example.component.less
  apps/doc/src/app/components/input/input-number/examples/disabled-example/input-number-disabled-example.component.spec.ts
  apps/doc/src/app/components/input/input-number/examples/disabled-example/input-number-disabled-example.component.ts
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.ts
  apps/doc/src/app/components/input/input-number/input-number-example.module.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/input/input-number/input-number.component.ts
  libs/components/src/lib/components/input/input-number/input-number.module.ts
Due: eslint, prettier --write

fix: remove stackblits for version < 4
  apps/doc/src/app/code-demo/files/src/app/app.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng14
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng15
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng16
  apps/doc/src/app/components/dialogs/confirm-dialog/confirm.component.html
  apps/doc/src/app/components/dialogs/sidebar/sidebar.component.html
  apps/doc/src/app/components/listing-item/listing-item-example.component.html
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/zoom-control/zoom-control-example.component.html
  libs/components/src/lib/directives/dropdown-controller/dropdown-controller.directive.ts
  libs/components/src/lib/directives/dropdown-controller/dropdown-controller.module.ts
  libs/doc/base/src/lib/components/example/example.component.html
  libs/doc/base/src/lib/components/example/example.component.ts
  libs/doc/base/src/lib/components/example/example.module.ts
Due: eslint, prettier --write

fix: error with listing item
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng17
  apps/doc/src/app/code-demo/files/src/styles.less.template
Due: eslint, prettier --write

fix: editable row example td cursor changed
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
Due: prettier --write

fix: add hover on table tree button
  libs/components/src/lib/components/tree-button/tree-button.component.less
Due: prettier --write

feat: add table size xl #1651
  apps/doc/src/app/components/table/examples/table-basic-example/table-basic-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
  libs/components/src/lib/components/table/directives/table.directive.ts
  libs/components/src/lib/components/table/tbody/tbody.component.less
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

fix: filter tables styles
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.html
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.less
Due: eslint, prettier --write

fix: table row default cursor
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
  apps/doc/src/app/components/table/table-example.component.ts
  libs/components/src/lib/components/table/tr/tr.component.less
Due: eslint, prettier --write

fix: table xl size fix for empty row
  libs/components/src/lib/components/table/tbody/tbody.component.less
Due: prettier --write

fix: table group example text fix
  apps/doc/src/app/components/table/examples/table-dynamic-row-group-example/table-dynamic-row-group-example.component.html
Due: eslint, prettier --write

fix: table filter example styles fix
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.less
  libs/components/src/lib/components/tree-button/tree-button.component.less
Due: prettier --write

fix: added new lib to demo service
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template
  apps/doc/src/app/code-demo/util.ts
  apps/doc/src/app/components/icons/flags/examples/setup-module.md
  libs/components/src/lib/components/input/input-number/input-number.module.ts
Due: eslint, prettier --write

fix: scroll theme works incorrect #1657
  libs/components/src/lib/components/scrollbar/scroll-controls.component.html
  libs/components/src/lib/components/scrollbar/scroll-controls.component.ts
Due: eslint, prettier --write

fix: correct upper padding at chips in outer inputs in multiselect #1640
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
Due: prettier --write

fix: table examples styles improvement #1655
  apps/doc/src/app/components/table/examples/table-track-by-example/table-track-by-example.component.less
  apps/doc/src/app/components/table/table-example.component.html
  libs/components/src/lib/components/table/tbody/tbody.component.html
  libs/components/src/lib/components/table/tbody/tbody.component.less
Due: eslint, prettier --write

fix: table examples styles improvement #1655
  apps/doc/src/app/components/table/examples/table-track-by-example/table-track-by-example.component.less
  apps/doc/src/app/components/table/table-example.component.html
  libs/components/src/lib/components/table/tbody/tbody.component.less
Due: eslint, prettier --write

feat: support standalone for doc components
  apps/doc/src/app/code-demo/code-demo.service.ts
  apps/doc/src/app/code-demo/files/src/app/app.module.standalone.ts.template
  apps/doc/src/app/code-demo/util.spec.ts
  apps/doc/src/app/code-demo/util.ts
  apps/doc/src/app/components/buttons/button/button.module.ts
  apps/doc/src/app/components/buttons/button/examples/counter/button-with-counter-example.component.ts
  apps/doc/src/app/components/buttons/button/examples/filled/filled-buttons-example.component.ts
  apps/doc/src/app/components/buttons/button/examples/ghost/ghost-buttons-example.component.ts
  apps/doc/src/app/components/buttons/button/examples/icons/icons-buttons-example.component.ts
  apps/doc/src/app/components/buttons/button/examples/outline/outline-buttons-example.component.ts
Due: eslint, prettier --write

fix(doc): in dark mode after update them get ng100
  apps/doc/src/app/app.component.ts
Due: eslint, prettier --write

feat(doc): added text for eng in input-number #1644 #1645
  apps/doc/src/app/components/input/input-number/examples/disabled-example/input-number-disabled-example.component.html
  apps/doc/src/app/components/input/input-number/examples/disabled-example/input-number-disabled-example.component.ts
  libs/i18n/src/lib/switch/index.ts
  libs/i18n/src/lib/switch/language.pipe.ts
Due: eslint, prettier --write

fix: remove hint from input-number #000
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/input-number/input-number.component.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

fix(doc): uncommented examples for input-number #000
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
Due: eslint, prettier --write

feat(chore/commitlint): support slash in scope #000
  commitlint.config.js
Due: none

fix: style fix for table head border top #1643
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

Добавлена инициализация переменных autoreposition и placement после получения их из инпута
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

feat(components/input-date-time): added native date transformation of min max properties #1315
  apps/doc/src/app/components/input/input-layout-date-time/examples/native-date/input-layout-native-date-time-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time/examples/native-date/input-layout-native-date-time-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.html
  libs/components/src/lib/@core/date-time/date-transform-util.spec.ts
  libs/components/src/lib/@core/date-time/date-transform-util.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

feat(components/table): add 5 lines rowspan support for table head #000
  apps/doc/src/app/components/table/examples/table-sort-example/table-sort-example.component.html
  apps/doc/src/app/components/table/examples/table-sort-example/table-sort-example.component.ts
  libs/components/src/lib/components/table/th/th.style.less
Due: eslint, prettier --write

fix(components/hint): switcher extra empty hint shown #1682
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

fix(doc): stackblitz styles #000
  apps/doc/src/app/code-demo/files/src/app/app.module.standalone.ts.template
  apps/doc/src/app/code-demo/files/src/app/app.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng14
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng15
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng16
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng17
  apps/doc/src/app/code-demo/files/src/index.html.template
Due: eslint, prettier --write

fix(components/dropdown-host): does not show when placement eaquils null #1596
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

fix: revert fix for 32px height of table head for v3 as bc #000
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
