Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: color variables prefeix v3 removed
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
  libs/components/src/styles/mixins/picker.less
Due: prettier --write

fix: outline removed for breadcrumb content projection example
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.less
Due: prettier --write

feat(doc/icons): update documentation
  apps/doc/src/app/components/icons/base/examples/old-transformer/icons-old-transformer-example.component.less
Due: prettier --write

fix: fileupload buttons incorrect gap #1482
  libs/components/src/lib/components/file-upload/file-upload.component.less
Due: prettier --write

feat: charts colors update #1196
  apps/doc/src/app/charts/waterfall/examples/base/prizm-charts-waterfall-example.component.ts
  apps/doc/src/app/charts/waterfall/waterfall.component.ts
  libs/charts/base/src/lib/theme/dark.const.ts
  libs/charts/base/src/lib/theme/light.const.ts
Due: eslint, prettier --write

fix: remove redundant token from default theme
  libs/theme/src/styles/theme/default.less
Due: prettier --write

fix: theming not applyes to charts #1489
  libs/charts/base/src/lib/theme/dark.const.ts
  libs/charts/base/src/lib/theme/light.const.ts
Due: eslint, prettier --write

feat: release 4.1.0
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  package.json
Due: prettier --write

feat: icons
  libs/icons/loader/package.json
Due: prettier --write

fix: ci
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/pr-ng17.yml
Due: prettier --write

fix: ci
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/check-build-in-real-project-ng14.yml
  .github/workflows/check-build-in-real-project-ng15.yml
  .github/workflows/deploy-main-doc-ng14.yml
  .github/workflows/deploy-main-doc-ng15.yml
  .github/workflows/deploy-main-doc-ng16.yml
  .github/workflows/deploy-main-doc-ng17.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  .github/workflows/pr-ng17.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
  .github/workflows/pre-release-publish-ng17.yml
  Dockerfile
Due: prettier --write

feat(docs/icons): added new page with all icons register example
  apps/doc/src/app/components/icons/base/examples/all/icons-all-example.component.html
  apps/doc/src/app/components/icons/base/examples/all/icons-all-example.component.less
  apps/doc/src/app/components/icons/base/examples/all/icons-all-example.component.ts
  apps/doc/src/app/components/icons/base/icons.component.html
  apps/doc/src/app/components/icons/base/icons.component.ts
  apps/doc/src/app/components/icons/base/icons.module.ts
Due: eslint, prettier --write

feat: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat: add preview label
  libs/icons/base/src/lib/icons/icons.component.ts
  libs/icons/base/src/lib/icons/icons.options.ts
Due: eslint, prettier --write

feat: update tags for npm delpoy ci pipelines for v3 version
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

feat: update tags for npm delpoy ci pipelines for v3 version
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

Update apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: review comments
  apps/doc/src/app/components/icons/base/examples/all/icons-all-example.component.ts
Due: eslint, prettier --write

feat: add lazy loader icons to doc app module
  apps/doc/src/app/app.module.ts
  apps/doc/src/app/pages.ts
Due: eslint, prettier --write

fix(doc): version in switcher
  apps/doc/src/app/code-demo/util.ts
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(components/cron): small fixes
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/switcher/switcher.component.html
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

fix: version fix for cron switcher #1494
  libs/components/src/lib/components/cron/cron.component.html
Due: eslint, prettier --write

chore: version 1.15.1 up tp 1.16.0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

chore: version 2.12.1 up tp 2.13.0
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

chore: version 3.11.1 up tp 3.12.0
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

feat: changelog update
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: releases files for 4.1
  apps/doc/project.json.ng17
  apps/doc/src/app/version-manager/current.const.ts.ng17
  libs/ast/package.json.ng17
  libs/charts/base/package.json.ng17
  libs/components/package.json.ng17
  libs/core/package.json.ng17
  libs/helpers/package.json.ng17
  libs/i18n/package.json.ng17
  libs/icons/base/package.json.ng17
  libs/icons/base/project.json.ng17
  libs/icons/flags/package.json.ng17
  libs/nxmv/package.json.ng17
  libs/plugin/package.json.ng17
  libs/schematics/package.json.ng17
  libs/theme/package.json.ng17
  nx.json.ng17
  package-lock.json.ng17
  package.json.ng17
  tsconfig.base.json.ng17
Due: none

fix: package lock version
  package-lock.json
  package-lock.json.ng17
Due: prettier --write

fix: recall switcher changes
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/switcher/switcher.component.html
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

fix: switcher in cron returns incorrect value #1519
  libs/components/src/lib/components/switcher/switcher.component.html
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

feat: 4.1.0 up to 4.1.1
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng17
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng17
  libs/charts/base/package.json
  libs/charts/base/package.json.ng17
  libs/components/package.json
  libs/components/package.json.ng17
  libs/core/package.json
  libs/core/package.json.ng17
  libs/helpers/package.json
  libs/helpers/package.json.ng17
  libs/i18n/package.json
  libs/i18n/package.json.ng17
  libs/icons/base/package.json
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng17
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/nxmv/package.json.ng17
  libs/plugin/package.json
  libs/plugin/package.json.ng17
  libs/schematics/package.json
  libs/schematics/package.json.ng17
  libs/theme/package.json
  libs/theme/package.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

fix: changelog 3.12.0 fix texts
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
