Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat: borders for cells with inputs and status #1093
  apps/doc/src/app/components/table/examples/table-editable-col-example/table-editable-col-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-col-example/table-editable-col-example.component.less
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

feat: table cell status with input colors update
  libs/components/src/lib/components/table/td/td.component.less
  libs/components/src/lib/components/table/th/th.style.less
  libs/components/src/lib/components/table/tr/tr.component.less
Due: prettier --write

fix: lint
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.ts
Due: eslint, prettier --write

feat: add shadow to palete
  libs/theme/src/styles/theme/v3/dark-palette.less
  libs/theme/src/styles/theme/v3/dark.less
  libs/theme/src/styles/theme/v3/default.less
  libs/theme/src/styles/theme/v3/palette.less
Due: prettier --write

feat: stackblit pathes
  libs/icons/base/src/styles/styles.less
  libs/icons/flags/src/styles/styles.less
  libs/theme/src/styles/font.less
  libs/theme/src/styles/styles.less
  libs/theme/src/styles/theme/index.less
  libs/theme/src/styles/theme/v1/dark.less
  libs/theme/src/styles/theme/v1/default.less
  libs/theme/src/styles/theme/v1/index.less
  libs/theme/src/styles/theme/v2/index.less
  libs/theme/src/styles/theme/v3/index.less
  libs/theme/src/styles/typography/typography.less
Due: prettier --write

feat: navigation-menu colors update #1151
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-basic-example/navigation-menu-basic-example.component.less
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-children-handler-example/navigation-menu-children-handler-example.component.less
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-groups-example/navigation-menu-groups-example.component.less
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-one-mode-example/navigation-menu-one-mode-example.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-group/prizm-navigation-menu-group.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-group/prizm-navigation-menu-group.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-search/prizm-navigation-menu-search.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-search/prizm-navigation-menu-search.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-search/prizm-navigation-menu-search.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-simple/prizm-navigation-item-simple.component.html
Due: eslint, prettier --write

fix: track by example fix, borders stle fix #1093
  apps/doc/src/app/components/table/examples/table-track-by-example/table-track-by-example.component.html
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

fix: switcher active state colors #1168
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
Due: eslint, prettier --write

fix: carousel buttonts displayed none, when disabled #1146
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: cron font color fix #1124
  libs/components/src/lib/components/cron/cron.component.less
Due: prettier --write

fix: table grid style fix
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

feat: tree colors update #1162
  apps/doc/src/app/components/tree/examples/active-color/tree-active-color-example.component.ts
  apps/doc/src/app/components/tree/examples/base/tree-base-example.component.ts
  apps/doc/src/app/components/tree/examples/component/folder.component.less
  apps/doc/src/app/components/tree/examples/in-modal/tree-in-modal-example.component.ts
  apps/doc/src/app/components/tree/examples/lazy/tree-template-lazy-example.component.ts
  apps/doc/src/app/components/tree/examples/lazy/tree-template-lazy-example.module.ts
  apps/doc/src/app/components/tree/examples/template-checkbox/tree-template-example.module.ts
  libs/components/src/lib/components/tree/components/tree-item-content/tree-item-content.component.less
  libs/components/src/lib/components/tree/components/tree-item/tree-item.component.less
Due: eslint, prettier --write

fix: stepper background and stroke color fix #1153
  libs/components/src/lib/components/stepper/stepper-selector.component.html
  libs/components/src/lib/components/stepper/stepper.component.less
  libs/components/src/lib/components/stepper/stepper.component.ts
Due: eslint, prettier --write

feat: add styles for search input
  apps/doc/src/app/components/table/examples/table-search-example/table-search-example.component.less
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

fix: cron title color and controls size #1124
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
Due: eslint, prettier --write

feat: search clear example added
  apps/doc/src/app/components/table/examples/table-search-example/table-search-example.component.html
Due: eslint, prettier --write

fix: add widget content color
  libs/components/src/lib/components/widget/widget.component.less
Due: prettier --write

fix: add search cell focus
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

feat: toast colors update to v3 #1177
  apps/doc/src/app/components/toast/examples/message-none-example/message-none-example.component.html
  apps/doc/src/app/components/toast/examples/message-none-example/message-none-example.component.ts
  apps/doc/src/app/components/toast/toast.component.html
  apps/doc/src/app/components/toast/toast.component.ts
  apps/doc/src/app/components/toast/toast.module.ts
  libs/components/src/lib/components/toast/toast/toast.component.less
  libs/components/src/lib/components/toast/types.ts
Due: eslint, prettier --write

fix: buttons padding fix
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.less
Due: prettier --write

chore: up to 1.12.0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

chore: up to 2.9.0
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/generators.json
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

chore: up to 3.8.0
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

feat: update changelog 3.8.0-next.1
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: update pipelines
  .github/workflows/beta-released.yml
  .github/workflows/pre-released.yml
  .github/workflows/released.yml
Due: prettier --write

feat: toast colors update #1177
  apps/doc/src/app/components/toast/examples/inner-html/toast-inner-html-example.component.ts
  apps/doc/src/app/components/toast/examples/message-danger-example/message-danger-example.component.ts
  apps/doc/src/app/components/toast/examples/message-info-example/message-info-example.component.ts
  apps/doc/src/app/components/toast/examples/message-none-example/message-none-example.component.ts
  apps/doc/src/app/components/toast/examples/message-success-example/message-success-example.component.ts
  apps/doc/src/app/components/toast/examples/toast-example/toast-example.component.ts
  apps/doc/src/app/guidelines/colors/components/theme-colors/theme-colors.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.ts
  libs/components/src/lib/components/toast/toast/toast.component.less
  libs/theme/src/styles/theme/v3/dark.less
  libs/theme/src/styles/theme/v3/default.less
Due: eslint, prettier --write

fix: tree icons padding fix #1162
  apps/doc/src/app/components/tree/examples/component/folder.component.less
  libs/components/src/lib/components/tree/components/tree-item-content/tree-item-content.component.less
Due: prettier --write

fix: beta deploy
  .github/workflows/beta-publish-ng16.yml
Due: prettier --write

chore: upgrade node version for pipelines
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/check-build-in-real-project-ng14.yml
  .github/workflows/check-build-in-real-project-ng15.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

fix: toast example fotn styles fix
  apps/doc/src/app/components/toast/examples/inner-html/toast-inner-html-example.component.ts
  apps/doc/src/app/components/toast/examples/message-danger-example/message-danger-example.component.html
  apps/doc/src/app/components/toast/examples/message-danger-example/message-danger-example.component.ts
  apps/doc/src/app/components/toast/examples/message-info-example/message-info-example.component.html
  apps/doc/src/app/components/toast/examples/message-info-example/message-info-example.component.ts
  apps/doc/src/app/components/toast/examples/message-none-example/message-none-example.component.html
  apps/doc/src/app/components/toast/examples/message-none-example/message-none-example.component.ts
  apps/doc/src/app/components/toast/examples/message-success-example/message-success-example.component.html
  apps/doc/src/app/components/toast/examples/message-success-example/message-success-example.component.ts
  apps/doc/src/app/components/toast/examples/message-warning-example/message-warning-example.component.html
  apps/doc/src/app/components/toast/examples/message-warning-example/message-warning-example.component.ts
  apps/doc/src/app/components/toast/examples/toast-example/toast-example.component.html
  apps/doc/src/app/components/toast/examples/toast-example/toast-example.component.ts
Due: eslint, prettier --write

fix: header color fix for sidebar and dialog
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.less
  libs/components/src/lib/components/dialogs/dialog/dialog.component.less
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
Due: prettier --write

fix: file upload active state colors fix
  libs/components/src/lib/components/file-upload/file-upload.component.less
Due: prettier --write

feat: none status toast renamed to secondary
  apps/doc/src/app/components/toast/examples/message-secondary-example/message-secondary-example.component.html
  apps/doc/src/app/components/toast/examples/message-secondary-example/message-secondary-example.component.ts
  apps/doc/src/app/components/toast/toast.component.html
  apps/doc/src/app/components/toast/toast.component.ts
  apps/doc/src/app/components/toast/toast.module.ts
  libs/components/src/lib/components/toast/toast/toast.component.less
  libs/components/src/lib/components/toast/toast/toast.component.ts
  libs/components/src/lib/components/toast/types.ts
Due: eslint, prettier --write

fix: toast gap fix
  libs/components/src/lib/components/toast/toast/toast.component.less
Due: prettier --write

fix: navigation paddings fix
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-group/prizm-navigation-menu-group.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-search/prizm-navigation-menu-search.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
Due: eslint, prettier --write

fix: beta releases
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
Due: prettier --write

fix(components): added empty initializer for all query list
  libs/components/src/lib/components/accordion/accordion.component.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.ts
  libs/components/src/lib/components/grid/grid.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-items/prizm-navigation-menu-items.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.ts
  libs/components/src/lib/components/slider/slider.component.ts
  libs/components/src/lib/components/splitter/splitter.component.ts
  libs/components/src/lib/components/stepper/stepper-selector.component.ts
  libs/components/src/lib/components/stepper/stepper.component.ts
  libs/components/src/lib/components/table/directives/sort-by.directive.ts
  libs/components/src/lib/components/table/tbody/tbody.component.ts
  libs/components/src/lib/components/table/th-group/th-group.component.ts
  libs/components/src/lib/components/table/tr/tr.component.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix(components/input-select): show placeholder #1187 #1038
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
