Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix(doc): when a hint appears, some storefront elements change theme #1407
  libs/doc/base/src/lib/components/main/main.component.ts
Due: eslint, prettier --write

fix(doc/input-date-multi): update currentIdx on changes on api page
  apps/doc/src/app/components/input/input-date-multi/input-date-multi.component.html
Due: eslint, prettier --write

feat(components/hint): add passing context as $implicit to templatess #291
  apps/doc/src/app/components/hint/examples/with-custom-context/hint-with-custom-context-example.component.html
  apps/doc/src/app/components/hint/examples/with-custom-context/hint-with-custom-context-example.component.ts
  apps/doc/src/app/components/hint/hint-example.component.html
  apps/doc/src/app/components/hint/hint-example.component.ts
  apps/doc/src/app/components/hint/hint-example.module.ts
  apps/doc/src/app/components/tooltip/examples/with-custom-context/tooltip-with-custom-context-example.component.html
  apps/doc/src/app/components/tooltip/examples/with-custom-context/tooltip-with-custom-context-example.component.ts
  apps/doc/src/app/components/tooltip/tooltip-example.component.html
  apps/doc/src/app/components/tooltip/tooltip-example.component.ts
  apps/doc/src/app/components/tooltip/tooltip-example.module.ts
  libs/components/src/lib/directives/hint/hint-options.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

fix(components/input-date-time-range): afte clear time values in calendar got error #1368
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

fix: small bugs
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

feat: update taiga
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
Due: prettier --write

fix(components/input-date-time): min/max does not work correctly in InputLayoutDateTime #1421
  libs/components/src/lib/@core/date-time/index.ts
  libs/components/src/lib/@core/date-time/time-limit.ts
  libs/components/src/lib/@core/date-time/time.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

fix: restored input-text file
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng17
Due: eslint, prettier --write

feat: ci deploy doc for ng17
  .github/workflows/deploy-main-doc-ng17.yml
Due: prettier --write

fix(components/input-mask): remove placeholder
  apps/doc/src/app/components/input/input-mask/input-mask-example.component.html
  firebase.json
Due: eslint, prettier --write

fix: small bugs
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.ts
  apps/doc/src/app/components/input/input-select/input-select.component.ts
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.html
  apps/doc/src/app/components/table/table-example.module.ts
  apps/doc/src/app/guidelines/colors/components/palette/palette.component.css
  apps/doc/src/app/guidelines/colors/components/theme-colors/theme-colors.component.css
  apps/doc/src/app/guidelines/colors/components/theme-colors/theme-colors.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.directive.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.module.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/index.ts
  libs/helpers/src/lib/util/is-equal.ts
Due: eslint, prettier --write

fix: small bugs
  libs/icons/base/src/lib/replace/common.ts
Due: eslint, prettier --write

fix(doc): style in navigation
  apps/doc/src/styles.less
Due: prettier --write

fix(componets/checkbox): fix size
  libs/components/src/lib/components/checkbox/checkbox.component.html
  libs/components/src/lib/components/checkbox/checkbox.component.less
  libs/components/src/lib/components/checkbox/checkbox.component.ts
Due: eslint, prettier --write

fix(componets/checkbox): fix size
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.less
Due: prettier --write

fix(componets/checkbox): fix size
  libs/components/src/lib/components/checkbox/checkbox.component.less
Due: prettier --write

fix(componets/checkbox): fix size
  apps/doc/src/app/guidelines/colors/components/palette/palette.component.html
Due: eslint, prettier --write

fix(componets/checkbox): fix size
  libs/components/src/lib/components/checkbox/checkbox.component.html
  libs/components/src/lib/components/checkbox/checkbox.component.less
Due: eslint, prettier --write

fix: test bugs
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

fix: test bugs
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/date-list-edit/date-list-edit.component.html
Due: eslint, prettier --write

feat: change focus to focus visible to slider cnob
  libs/components/src/lib/components/slider/slider-cnob.component.less
Due: prettier --write

feat: change focus to focus visible to stepper button
  libs/components/src/lib/components/stepper/stepper-selector.component.less
Due: prettier --write

feat: change focus to focus visible to toggle
  libs/components/src/lib/components/toggle/toggle.component.less
Due: prettier --write

feat: change focus to focus visible to buttons
  libs/components/src/lib/components/button/button.component.less
Due: prettier --write

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier --write

feat(icons): update generator
  libs/icons/base/project.json
  local/src/executors/icons-to-lazy/executor.ts
  local/src/executors/icons-to-lazy/schema.d.ts
Due: eslint, prettier --write

fix: ci build
  package-lock.json
  package.json
  package.json.ng17
Due: prettier --write

fix: ci build
  package-lock.json.ng17
Due: none

fix: calendar and calendar month markup change #1242
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/lib/components/calendar/calendar.component.less
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.less
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.module.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.less
  libs/components/src/styles/mixins/picker.less
Due: eslint, prettier --write

fix: replace title by hint in year spin button #1457
  apps/doc/src/app/components/calendars/calendar/examples/base/calendar-base-example.component.ts
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.module.ts
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.template.html
  libs/components/src/styles/mixins/picker.less
Due: eslint, prettier --write
