Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix(doc/input-layout-date-time): ngModel cannot be used to register form #445
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

ci: update auto release
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

chore: release 1.2.3-next.2
  libs/ast/project.json
  libs/charts/base/project.json
  libs/components/ng-package.json
  libs/components/package.json
  libs/components/project.json
  libs/core/ng-package.json
  libs/core/package.json
  libs/core/project.json
  libs/deprecated/ng-package.json
  libs/deprecated/package.json
  libs/deprecated/project.json
  libs/helpers/ng-package.json
  libs/helpers/package.json
  libs/helpers/project.json
  libs/i18n/ng-package.json
  libs/i18n/package.json
  libs/i18n/project.json
  libs/icons/base/ng-package.json
  libs/icons/base/project.json
  libs/icons/flags/ng-package.json
  libs/icons/flags/project.json
  libs/schematics/project.json
  libs/theme/ng-package.json
  libs/theme/package.json
  libs/theme/project.json
Due: prettier --write

fix(components/icon): wrong data-testid #443
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/icon/icon.component.ts
Due: eslint, prettier --write

fix(chore): added updateBuildableProjectDepsInPackageJson to project configs #448
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat: release 1.2.3
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(components/input-layout-date-time): #452 #451
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(components/input-layout-date): #453
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

fix(components/cron): cron in days error in "last day before the end of the month" #455
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/cron/cron-ui-base.state.ts
  libs/components/src/lib/components/cron/cron-ui-day.state.ts
Due: eslint, prettier --write

fix(doc/tree): tree jumps when checkbox #457
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/tree/examples/template-checkbox/tree-template-example.component.html
Due: eslint, prettier --write

docs: Update versions.constants.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix: restore main
  .github/workflows/main-publish.yml
  .github/workflows/notify-on-pr-merged.yml
  .github/workflows/pr.yml
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

fix(doc): #476, #250, #474
  apps/doc/src/app/components/navigation-menu/navigation-menu-example.component.html
  apps/doc/src/app/components/sticky/sticky.component.html
Due: eslint, prettier --write

fix(components/input-date-time-range): disabled state did not work #269
  libs/helpers/src/lib/util/form/index.ts
Due: eslint, prettier --write

chore: fix lint
  apps/doc/src/app/components/sticky/sticky.component.html
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/helpers/src/lib/util/form/index.ts
Due: eslint, prettier --write

fix: remove deprecated from menu
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix: remove deprecated from menu
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  tsconfig.base.json
Due: prettier --write

fix: lint
  tsconfig.base.json
Due: prettier --write

chore: merge laters changes
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: lint
  .github/workflows/notify-on-pr-merged.yml
  .github/workflows/notify-on-pr-updated.yml
  .github/workflows/pr.yml
Due: prettier --write

fix(components/switcher): remove border for active item #279
  .github/workflows/pr.yml
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
Due: prettier --write

fix(components/switcher): remove border for active item #279
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(doc/confirm-dialog): removed unused properties #338 #336 #310
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/dialogs/confirm-dialog/confirm.component.html
  apps/doc/src/app/components/dialogs/confirm-dialog/confirm.component.ts
Due: eslint, prettier --write

fix(doc/multi-select): does not work right in modal window #462
  libs/components/src/lib/components/cron/components/year/year.component.html
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
Due: eslint, prettier --write

fix(doc/multi-select): update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(chore): remove deprecated
  angular.json
Due: prettier --write

fix(chore): restore ngx-mask
  libs/components/src/lib/modules/mask/mask.module.ts
Due: eslint, prettier --write

fix(components/cron): small test errors #469
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/cron/components/day/day.component.html
  libs/components/src/lib/components/cron/components/minute/minute.component.html
Due: eslint, prettier --write

fix(components/input-layout-date-range): sometimes date text is truncated area #467
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date/input-layout-date-shared.component.less
Due: eslint, prettier --write

fix(components/cron): fix error when click day
  libs/components/src/lib/components/cron/cron-ui-day.state.ts
Due: eslint, prettier --write

fix(components/cron): fix error when click day
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/switcher): focus only for not active elements
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
Due: prettier --write
