Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix(components/all): fixed for review #000
  apps/doc/src/app/components/buttons/button/button.module.ts
  apps/doc/src/app/components/counter/counter-example.module.ts
  apps/doc/src/app/components/counter/examples/setup-module.md
  apps/doc/src/app/components/listing-item/listing-item-example.module.ts
  libs/components/src/lib/components/button/button.module.ts
  libs/components/src/lib/components/counter/counter.module.ts
  libs/components/src/lib/components/counter/index.ts
Due: eslint, prettier --write

fix(components/all): fixed for review #000
  libs/components/src/lib/components/button/index.ts
Due: eslint, prettier --write

feat(components): removed deprecations #000
  apps/doc/src/app/components/buttons/split-button/examples/setup-module.md
  apps/doc/src/app/components/buttons/split-button/examples/with-dropdown/split-buttons-with-dropdown-example.module.ts
  apps/doc/src/app/components/buttons/split-button/split-button.component.html
  apps/doc/src/app/components/buttons/split-button/split-button.module.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.ts
Due: eslint, prettier --write

feat(components/all): removed panel module #000
  libs/components/src/lib/components/panel/panel.module.ts
Due: eslint, prettier --write

feat(chore): update nx/ng to latest stable #000
  .eslintrc.json.ng18
  .prettierignore
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng18
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng18
  libs/charts/base/package.json
  libs/charts/base/package.json.ng18
  libs/components/package.json
  libs/components/package.json.ng18
  libs/core/package.json
  libs/core/package.json.ng18
  libs/helpers/package.json
  libs/helpers/package.json.ng18
  libs/i18n/package.json
  libs/i18n/package.json.ng18
  libs/icons/base/package.json
  libs/icons/base/package.json.ng18
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng18
  libs/icons/loader/package.json
  libs/icons/loader/package.json.ng17
  libs/icons/loader/package.json.ng18
  libs/nxmv/package.json.ng18
  libs/plugin/package.json.ng18
  libs/schematics/package.json.ng18
  libs/theme/package.json
  libs/theme/package.json.ng18
  local/project.json.ng18
  migrations.json
  package-lock.json
  package-lock.json.ng18
  package.json
  package.json.ng18
  tsconfig.base.json.ng18
Due: eslint, prettier --write

fix(components/paginator): add margin left for rows shown left direction #1154
  libs/components/src/lib/components/paginator/paginator.component.less
Due: prettier --write

fix(doc/paginator): example direction fix #1154
  apps/doc/src/app/components/paginator/examples/paginator-basic-left-example/paginator-basic-left-example.component.html
Due: eslint, prettier --write

fix(components/tabs): template usage for tabs listing #1859
  apps/doc/src/app/components/tabs/examples/tabs-example-component/tabs-example-component.component.ts
  apps/doc/src/app/components/tabs/examples/tabs-example-component/tabs-example-content-component.component.ts
  libs/components/src/lib/components/tabs/tabs.component.html
Due: eslint, prettier --write

fix(components/file-upload): emit events for clear files fix #1848
  libs/components/src/lib/components/file-upload/file-upload.component.ts
Due: eslint, prettier --write

feat(nx-plugin/apply): added ability to use templeter #000
  libs/ast/package.json.ng18
  libs/charts/base/package.json.ng18
  libs/components/package.json.ng18
  libs/core/package.json.ng18
  libs/helpers/package.json.ng18
  libs/i18n/package.json.ng18
  libs/icons/base/package.json.ng18
  libs/icons/flags/package.json.ng18
  libs/icons/loader/package.json.ng18
  libs/nxmv/package.json.ng18
  libs/nxmv/src/generators/apply/index.ts
  libs/nxmv/src/generators/apply/schema.d.ts
  libs/plugin/package.json.ng18
  libs/schematics/package.json.ng18
  libs/theme/package.json.ng18
  local/package.json.ng18
  nxmv.json
  package-lock.json
  package.json.ng18
Due: eslint, prettier --write

feat(doc): new check list and update ci #000
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_5.md
  .github/workflows/beta-publish-ng18.yml.ng18
  .github/workflows/deploy-main-doc-ng18.yml.ng18
  .github/workflows/main-publish-ng18.yml.ng18
  .github/workflows/pre-release-publish-ng18.yml.ng18
  apps/doc/src/app/version-manager/current.const.ts.ng18
  apps/doc/src/app/version-manager/versions.constants.ts.ng18
Due: none

fix(components): fixed imports error after merge #000
  apps/doc/src/app/components/input/input-text/input-example.module.ts
  apps/doc/src/app/components/panel/panel-example.module.ts
  apps/doc/src/app/components/switcher/examples/setup-module.md
  apps/doc/src/app/components/switcher/switcher-example.component.html
  apps/doc/src/app/components/switcher/switcher-example.module.ts
  libs/components/src/lib/components/panel/panel.component.spec.ts
  libs/components/src/lib/components/panel/panel.component.ts
Due: eslint, prettier --write

feat(components): fix spelling error in sidebar and confirm result enums #1548
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.models.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.service.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.spec.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.models.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.service.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.spec.ts
  libs/components/src/lib/directives/confirm-popup/confirm-popup.directive.ts
Due: eslint, prettier --write

fix(components/multiselect): usage with transformers should cover case with selectAll option #1919
  apps/doc/src/app/components/input/input-multi-select/examples/with-transformer/multi-select-with-transformer-example.component.html
  apps/doc/src/app/components/input/input-multi-select/examples/with-transformer/multi-select-with-transformer-example.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

feat(nxmv): added ability to pass vars #000
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_5.md
  libs/nxmv/src/generators/apply/index.ts
  libs/nxmv/src/generators/apply/schema.d.ts
  libs/nxmv/src/generators/apply/schema.json
  nxmv.json
Due: eslint, prettier --write

feat(chore): new release 5.0.0-rc.1 #000
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  local/package.json
  local/package.json.ng18
  package.json
Due: eslint, prettier --write

feat(chore): merge with #1862 pr
  libs/charts/base/ng-package.json
  libs/charts/base/package.json
  libs/charts/base/package.json.ng18
  libs/components/package.json
  libs/components/package.json.ng18
  local/package.json.ng18
Due: prettier --write

feat(chore): update packages #000
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  local/package.json
  package.json
Due: eslint, prettier --write

feat(doc/nxmv): added page for nxmv #000
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/pages.ts
  apps/doc/src/app/tools/nxmv/files/nxmv.ignore.md
  apps/doc/src/app/tools/nxmv/files/nxmv.json.md
  apps/doc/src/app/tools/nxmv/files/package.json.md
  apps/doc/src/app/tools/nxmv/files/ts.const.ts
  apps/doc/src/app/tools/nxmv/nxmv.component.html
  apps/doc/src/app/tools/nxmv/nxmv.component.ts
  apps/doc/src/app/tools/nxmv/nxmv.module.ts
  libs/doc/base/src/lib/components/example/example.component.less
  libs/doc/base/src/lib/components/example/example.component.ts
  libs/nxmv/README.md
  libs/nxmv/package.json
  libs/nxmv/package.json.ng18
  package-lock.json.ng18
  package.json
  package.json.ng18
Due: eslint, prettier --write

feat(chore): update config for v5 deploy doc #000
  .firebaserc
  firebase.json
Due: prettier --write

feat(chore): update nxmv version for fast update #000
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_4.md
  .github/workflows/beta-publish-ng17.yml.ng17
  .github/workflows/main-publish-ng17.yml.ng17
  .github/workflows/pre-release-publish-ng17.yml.ng17
  libs/ast/package.json.ng17
  libs/charts/base/package.json.ng17
  libs/components/package.json.ng17
  libs/core/package.json.ng17
  libs/helpers/package.json.ng17
  libs/i18n/package.json.ng17
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json.ng17
  libs/icons/loader/package.json.ng17
  libs/nxmv/package.json.ng17
  libs/plugin/package.json.ng17
  libs/schematics/package.json.ng17
  libs/theme/package.json.ng17
  local/package.json.ng17
  nxmv.json
  package-lock.json.ng17
  package.json.ng17
Due: prettier --write

feat(chore): up to 4.3.8 #000
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  local/package.json
  package-lock.json
  package.json
Due: prettier --write

feat(chore): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(chore): add skipped files for fast update #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng17
  apps/doc/src/app/version-manager/versions.constants.ts.ng17
Due: eslint, prettier --write

Update README.md
  README.md
Due: none

fix(components/tabs): view not updated for activeTabindexChage when overflow #1863
  apps/doc/src/app/components/tabs/tabs-example.component.html
  apps/doc/src/app/components/tabs/tabs-example.component.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

feat(chore): up version to 1.19.1 #000
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

feat(chore): up version to 2.16.1 #000
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

feat(chore): up version to 3.15.1 #000
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng16
  libs/charts/base/package.json.ng16
  libs/components/package.json.ng16
  libs/core/package.json.ng16
  libs/helpers/package.json.ng16
  libs/i18n/package.json.ng16
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json.ng16
  libs/plugin/package.json.ng16
  libs/schematics/package.json.ng16
  libs/theme/package.json.ng16
  package.json.ng16
Due: eslint, prettier --write

fix(chore): update versions #000
  apps/doc/src/app/code-demo/files/package.json.template
  libs/ast/package.json
  libs/charts/base/package.json
  libs/charts/base/package.json.ng17
  libs/components/package.json
  libs/components/package.json.ng17
  libs/core/package.json
  libs/core/package.json.ng17
  libs/helpers/package.json
  libs/helpers/package.json.ng17
  libs/i18n/package.json
  libs/i18n/package.json.ng17
  libs/icons/base/package.json
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng17
  libs/icons/loader/package.json
  libs/icons/loader/package.json.ng17
  libs/theme/package.json
  libs/theme/package.json.ng17
  local/package.json
  local/package.json.ng17
  package.json
  package.json.ng17
Due: prettier --write

feat(doc): up versions from v3 for v4 #000
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(theme): devided files to location and styles #1412
  apps/doc/src/app/components/dialogs/sidebar/examples/base/base.component.ts
  libs/theme/src/styles/font.less
  libs/theme/src/styles/fonts/location.less
  libs/theme/src/styles/styles.less
  libs/theme/src/styles/styles_.less
Due: eslint, prettier --write

feat(chore): up version to 4.3.8 #000
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write
