Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(components/table): max colspan counter
  apps/doc/src/app/components/table/examples/table-search-example/table-search-example.component.html
  libs/components/src/lib/components/table/directives/table.directive.ts
  libs/components/src/lib/components/table/table.service.ts
  libs/components/src/lib/components/table/tbody/tbody.component.ts
  libs/components/src/lib/components/table/th-group/th-group.component.ts
  libs/components/src/lib/components/table/th-group/th-group.service.ts
  libs/components/src/lib/components/table/th/th.component.ts
Due: eslint, prettier --write

feat(components/table): max colspan counter
  libs/components/src/lib/components/table/th-group/th-group.component.ts
Due: eslint, prettier --write

feat: add maxValue property to counter
  apps/doc/src/app/components/counter/counter-example.component.html
  apps/doc/src/app/components/counter/counter-example.component.ts
  apps/doc/src/app/components/counter/examples/directive/counter-directive-example.component.html
  libs/components/src/lib/components/counter/counter.component.html
  libs/components/src/lib/components/counter/counter.component.less
  libs/components/src/lib/components/counter/counter.component.ts
  libs/components/src/lib/components/counter/counter.directive.ts
Due: eslint, prettier --write

fix: counter test fix
  libs/components/src/lib/components/counter/counter.component.spec.ts
Due: eslint, prettier --write

fix: counter test
  libs/components/src/lib/components/counter/counter.component.spec.ts
Due: eslint, prettier --write

fix: incorrect colspan set for table group heading #230
  apps/doc/src/app/components/table/examples/table-row-group-example/table-row-group-example.component.html
  apps/doc/src/app/components/table/examples/table-row-group-example/table-row-group-example.component.ts
  apps/doc/src/app/components/table/examples/table-search-example/table-search-example.component.html
  libs/components/src/lib/components/table/directives/table.directive.ts
  libs/components/src/lib/components/table/table.service.ts
  libs/components/src/lib/components/table/tbody/tbody.component.html
  libs/components/src/lib/components/table/tbody/tbody.component.ts
  libs/components/src/lib/components/table/th-group/th-group.component.ts
  libs/components/src/lib/components/table/th/th.component.ts
Due: eslint, prettier --write

fix: empty template styles #230
  libs/components/src/lib/components/table/tbody/tbody.component.html
  libs/components/src/lib/components/table/tbody/tbody.component.less
Due: eslint, prettier --write

feat: v3 colors for indicator #867
  libs/components/src/lib/components/indicator/indicator.component.less
Due: prettier --write

feat: v3 colors for checkbox #871, for spinner and loader #870
  libs/components/src/lib/components/checkbox/checkbox.component.less
  libs/components/src/lib/components/loader/loader.component.less
  libs/components/src/lib/components/spinner/spinner.component.less
  libs/theme/src/styles/theme/v3/default.less
Due: prettier --write

fix: inputDateMulti incorrect label text #753
  apps/doc/src/app/components/input/input-date-multi/examples/four/input-date-multi-four-example.component.html
Due: eslint, prettier --write

fix(components/table): re render on update context #816
  apps/doc/src/app/components/table/examples/table-track-by-example/table-track-by-example.component.html
  apps/doc/src/app/components/table/examples/table-track-by-example/table-track-by-example.component.less
  apps/doc/src/app/components/table/examples/table-track-by-example/table-track-by-example.component.ts
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
  apps/doc/src/app/components/table/table-example.module.ts
  libs/components/src/lib/components/table/directives/row-init.directive.ts
Due: eslint, prettier --write

fix(components/table): re render on update context #816
  apps/doc/src/app/components/table/examples/table-track-by-example/table-track-by-example.component.html
Due: eslint, prettier --write

fix(doc/input-layout-date-time): example date format
  apps/doc/src/app/components/input/input-layout-date-time/examples/base-transformer/input-layout-date-time-base-transformer-example.component.html
Due: eslint, prettier --write

fix(doc/input-layout-date-time): example date format
  libs/components/src/lib/components/input/input-date-time/input-date-time-base.transformer.ts
Due: eslint, prettier --write

feat: update toggle colors to v3 #876
  libs/components/src/lib/components/toggle/toggle.component.less
  libs/theme/src/styles/theme/v3/default.less
Due: prettier --write

feat: scrollbar stage 2
  apps/doc/src/app/components/scrollbar/scrollbar.component.html
  libs/components/src/lib/components/scrollbar/scrollbar.component.html
  libs/components/src/lib/components/scrollbar/scrollbar.component.less
Due: eslint, prettier --write

feat(scrollbar): stage 3
  libs/components/src/lib/components/scrollbar/scroll-controls.component.ts
  libs/components/src/lib/components/scrollbar/scrollbar-ref.directive.ts
  libs/components/src/lib/components/scrollbar/scrollbar.component.html
  libs/components/src/lib/components/scrollbar/scrollbar.component.less
  libs/components/src/lib/components/scrollbar/scrollbar.component.ts
  libs/components/src/lib/components/scrollbar/scrollbar.module.ts
Due: eslint, prettier --write

chore: updated changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

docs: add metrics
  apps/doc/src/index.html
Due: eslint, prettier --write

feat: changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: lint errors
  libs/components/src/lib/components/cron-human-readable/human-readable/expression-descriptor.ts
  libs/components/src/lib/components/input/common/input-allowed-symbols/input-allowed-symbols.directive.ts
  libs/components/src/lib/components/input/common/input-corrector/input-corrector.directive.ts
  libs/components/src/lib/modules/overlay/overlay.component.ts
Due: eslint, prettier --write

fix(doc/input-select): fix transform error
  apps/doc/src/app/components/input/input-select/examples/with-transformer/select-with-transformer-example.component.ts
Due: eslint, prettier --write

feat: add hint to switcher #856
  apps/doc/src/app/components/switcher/examples/switcher-only-icon-example/switcher-only-icon-example.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
  libs/components/src/lib/components/switcher/directives/switcher-hint.directive.ts
  libs/components/src/lib/components/switcher/switcher.component.html
  libs/components/src/lib/components/switcher/switcher.interface.ts
  libs/components/src/lib/components/switcher/switcher.module.ts
Due: eslint, prettier --write

feat: scrollbar colors update to v3 #895
  libs/components/src/lib/components/scrollbar/scroll-controls.component.less
Due: prettier --write

feat: colors v3 for panel and card #897
  libs/components/src/lib/components/card/card.component.less
  libs/components/src/lib/components/panel/panel.component.html
  libs/components/src/lib/components/panel/panel.component.less
  libs/components/src/lib/components/panel/panel.module.ts
Due: eslint, prettier --write

feat: add prizm counter to tabs #863
  apps/doc/src/app/components/tabs/examples/tabs-example-counter/tabs-example-counter.component.html
  apps/doc/src/app/components/tabs/examples/tabs-example-counter/tabs-example-counter.component.ts
  libs/components/src/lib/components/counter/counter.component.less
  libs/components/src/lib/components/tabs/components/tab.component.html
  libs/components/src/lib/components/tabs/components/tab.component.ts
  libs/components/src/lib/components/tabs/tabs.interface.ts
  libs/components/src/lib/components/tabs/tabs.module.ts
Due: eslint, prettier --write

fix: lint ng14 errors
  libs/components/src/lib/components/input/common/input-corrector/input-corrector.directive.ts
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

feat: panel colors v3 #897
  libs/components/src/lib/components/panel/panel.component.less
Due: prettier --write

feat: live demo example for counter options added #863
  apps/doc/src/app/components/tabs/tabs-example.component.html
  apps/doc/src/app/components/tabs/tabs-example.component.ts
Due: eslint, prettier --write

fix: panel buttons indents
  libs/components/src/lib/components/panel/panel.component.html
  libs/components/src/lib/components/panel/panel.component.less
Due: eslint, prettier --write

feat: example update for switcher hint
  apps/doc/src/app/components/switcher/examples/switcher-only-icon-example/switcher-only-icon-example.component.ts
  apps/doc/src/app/components/switcher/switcher-example.component.html
Due: eslint, prettier --write

fix: file upload button type #837
  apps/doc/src/app/components/file-upload/examples/file-upload-in-form/file-upload-in-form-example.component.html
  apps/doc/src/app/components/file-upload/examples/file-upload-in-form/file-upload-in-form-example.component.less
  apps/doc/src/app/components/file-upload/examples/file-upload-in-form/file-upload-in-form-example.component.ts
  apps/doc/src/app/components/file-upload/file-upload-example.component.html
  apps/doc/src/app/components/file-upload/file-upload-example.component.ts
  apps/doc/src/app/components/file-upload/file-upload-example.module.ts
  libs/components/src/lib/components/file-upload/file-upload.component.html
Due: eslint, prettier --write

chore: up to 1.7.0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

feat(components/hint): standalone directives
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/directives/hint/hint.module.ts
Due: eslint, prettier --write

feat: remove lodash
  libs/components/src/lib/components/column-settings/column-settings.component.ts
  libs/components/src/lib/components/cron/cron-ui-base.state.ts
  libs/helpers/src/lib/util/clone-deep.spec.ts
  libs/helpers/src/lib/util/clone-deep.ts
  libs/helpers/src/lib/util/index.ts
  libs/helpers/src/lib/util/order-by.spec.ts
  libs/helpers/src/lib/util/order-by.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
