Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix(components/hint): small fixes from review #000
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

fix(chore): pipelines for run from release after v4-1 and fix linters and tests #1900 #1899 #1898
  .github/workflows/pre-released.yml
  .github/workflows/released.yml
  libs/components/src/lib/components/panel/panel.component.spec.ts
  libs/components/src/lib/services/cron/model.ts
  libs/helpers/src/lib/util/invert-object.spec.ts
  libs/helpers/src/lib/util/invert-object.ts
  libs/icons/loader/.eslintrc.json
  local/.eslintrc.json
Due: eslint, prettier --write

feat(doc/with-icons): added info to doc for components with icons #1841
  apps/doc/src/app/components/accordion/accordion-example.component.html
  apps/doc/src/app/components/accordion/accordion-example.module.ts
  apps/doc/src/app/components/breadcrumbs/breadcrumbs-example.component.html
  apps/doc/src/app/components/breadcrumbs/breadcrumbs-example.module.ts
  apps/doc/src/app/components/buttons/button/button.component.html
  apps/doc/src/app/components/buttons/button/button.module.ts
  apps/doc/src/app/components/buttons/icon-button/icon-button.component.html
  apps/doc/src/app/components/buttons/icon-button/icon-button.module.ts
  apps/doc/src/app/components/buttons/split-button/split-button.component.html
  apps/doc/src/app/components/buttons/split-button/split-button.module.ts
  apps/doc/src/app/components/file-upload/file-upload-example.component.html
  apps/doc/src/app/components/indicators/indicators-example.component.html
  apps/doc/src/app/components/indicators/indicators-example.module.ts
  apps/doc/src/app/components/input/input-layout-date-relative/input-layout-date-relative.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.module.ts
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.module.ts
  apps/doc/src/app/components/input/input-text/input-example.module.ts
  apps/doc/src/app/components/input/input-text/input.component.html
  apps/doc/src/app/components/navigation/navigation-example.component.html
  apps/doc/src/app/components/navigation/navigation-example.module.ts
  apps/doc/src/app/components/tabs/tabs-example.component.html
  apps/doc/src/app/components/tabs/tabs-example.module.ts
  apps/doc/src/app/components/toggle/toggle-example.component.html
  apps/doc/src/app/components/toggle/toggle-example.module.ts
  apps/doc/src/app/components/tree/tree.component.html
  apps/doc/src/app/components/tree/tree.module.ts
Due: eslint, prettier --write

fix(components/hint): remove array #000
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
Due: eslint, prettier --write

feat(doc): update date in chagelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(chore): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(chore): added action to auto describe pr #000
  .github/workflows/pr-describe.yaml
Due: none

feat(chore): pr ai reviewer #000
  .github/workflows/pr-describe.yaml
  .github/workflows/pr-review.yml
Due: prettier --write

feat(components/tree-select): stage 1 #000
  libs/components/src/lib/components/dropdowns/tree-select/index.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.html
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.less
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.options.ts
Due: eslint, prettier --write

feat(components/tree-select): page 1 #000
  libs/components/src/lib/components/dropdowns/tree-select/model.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.html
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.ts
Due: eslint, prettier --write

fix(chore): remove need step for v1-v2 #000
  .github/workflows/pre-released.yml
  .github/workflows/released.yml
Due: prettier --write

fix(components/input-icon-button): icon button should be hidden in forms #1727 #1728
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

fix(components/input-icon-button): icon button should be hidden in forms #1727 #1728
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

feat(chore): added manual run for gitlab pipelines #000
  .gitlab-ci.yml
  package-lock.json
Due: prettier --write

feat(components/input-date): add transformers for strings in progress #1574
  libs/components/src/lib/@core/date-time/date-transform-util.ts
  libs/components/src/lib/components/input/input-date/input-date-full.transformer.ts
  libs/components/src/lib/types/date-string.ts
  libs/components/src/lib/types/index.ts
Due: eslint, prettier --write

feat(chore): added manual run for gitlab pipelines #000
  .gitlab-ci.yml
Due: prettier --write

refactor(components/paginator): update implementation for left direction support #1154
  apps/doc/src/app/components/paginator/examples/paginator-basic-left-example/paginator-basic-left-example.component.html
  apps/doc/src/app/components/paginator/paginator-example.component.html
  apps/doc/src/app/components/paginator/paginator-example.component.ts
  libs/components/src/lib/components/paginator/interfaces/prizm-paginator.interface.ts
  libs/components/src/lib/components/paginator/paginator.component.ts
Due: eslint, prettier --write

feat(components/input-date): ad full transformer in progress #1574
  apps/doc/src/app/components/input/input-layout-date/examples/date-provider/input-date-provider-example.component.html
  apps/doc/src/app/components/input/input-layout-date/examples/date-provider/input-date-provider-example.component.ts
  apps/doc/src/app/components/input/input-layout-date/input-layout-date.module.ts
  libs/components/src/lib/@core/date-time/date-transform-util.ts
  libs/components/src/lib/components/input/input-date/input-date-full.transformer.ts
Due: eslint, prettier --write

feat(components/cron): fix circular deps #000
  apps/doc/src/app/components/input/input-layout-date/examples/date-provider/input-date-provider-example.component.html
  libs/components/src/lib/@core/date-time/date-transform-util.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
Due: eslint, prettier --write

feat(components): remove deprecated exports #1849
  apps/doc/src/app/components/input/input-select/examples/with-transformer/select-with-transformer-example.component.ts
  libs/components/src/lib/components/dropdowns/select/select.model.ts
  libs/components/src/lib/components/dropdowns/select/select.options.ts
  libs/components/src/lib/components/grid/components/grid-item/grid-item.component.ts
  libs/components/src/lib/components/grid/grid.component.ts
  libs/components/src/lib/components/indicator/indicator.component.ts
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
  libs/helpers/src/lib/pipes/call-func/call-func.pipe.ts
  libs/helpers/src/lib/pipes/to-type/to-type.pipe.ts
Due: eslint, prettier --write

feat(components/mask): remove deprecated function prizmCreateDateMask #000
  libs/components/src/lib/@core/mask/create-date-mask.ts
Due: eslint, prettier --write

feat(components): removed deprecations #000
  apps/doc/src/app/components/dialogs/confirm-dialog/confirm.module.ts
  apps/doc/src/app/components/icons/flags/flags.module.ts
  apps/doc/src/app/components/input/input-date-multi/input-date-multi.module.ts
  apps/doc/src/app/tools/to-observable/to-observable.module.ts
  apps/doc/src/app/version-manager/version-manager.module.ts
  libs/components/src/lib/@core/mask/create-time-mask.ts
  libs/components/src/lib/components/chips/chips-item/chips-item.spec.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.ts
  libs/components/src/lib/components/table/table.module.ts
  libs/components/src/lib/components/tree/tree.module.ts
  libs/doc/base/src/lib/components/documentation/documentation.module.ts
  libs/helpers/src/lib/directives/let/index.ts
  libs/helpers/src/lib/directives/let/let.module.ts
  libs/helpers/src/lib/pipes/call-func/call-func.module.ts
  libs/helpers/src/lib/pipes/call-func/call-func.pipe.ts
  libs/helpers/src/lib/pipes/call-func/index.ts
  libs/helpers/src/lib/pipes/pluck/index.ts
  libs/helpers/src/lib/pipes/pluck/pluck.module.ts
  libs/helpers/src/lib/pipes/sanitize/index.ts
  libs/helpers/src/lib/pipes/sanitize/sanitizer-pipe.module.ts
  libs/helpers/src/lib/pipes/to-observable/index.ts
  libs/helpers/src/lib/pipes/to-observable/to-observable.module.ts
  libs/helpers/src/lib/pipes/to-type/index.ts
  libs/helpers/src/lib/pipes/to-type/to-type.module.ts
  libs/helpers/src/lib/pipes/to-type/to-type.pipe.ts
  libs/icons/flags/src/index.ts
  libs/icons/flags/src/lib/prizm-flag-icons.module.ts
Due: eslint, prettier --write

feat(doc): improve date example #000
  apps/doc/src/app/components/input/input-layout-date/examples/date-provider/input-date-provider-example.component.html
Due: eslint, prettier --write

feat(components): removed deprecations #000
  libs/doc/base/src/lib/components/documentation/documentation.module.ts
  libs/doc/base/src/lib/components/main/main.module.ts
  libs/doc/base/src/lib/components/page/page.module.ts
  libs/doc/base/src/lib/internal/header/header.component.ts
  libs/doc/base/src/lib/internal/header/header.module.ts
  libs/doc/base/src/lib/internal/input-opacity/input-opacity.directive.ts
  libs/doc/base/src/lib/internal/input-opacity/input-opacity.module.ts
  libs/doc/base/src/lib/internal/see-also/see-also.component.ts
  libs/doc/base/src/lib/internal/see-also/see-also.module.ts
  libs/doc/base/src/lib/internal/source-code/source-code.component.ts
  libs/doc/base/src/lib/internal/source-code/source-code.module.ts
Due: eslint, prettier --write

feat(components): removed deprecations #000
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng14
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng15
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng16
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng17
  apps/doc/src/app/components/calendars/calendar-month/calendar-month.component.html
  apps/doc/src/app/components/calendars/calendar-month/calendar-month.module.ts
  apps/doc/src/app/components/calendars/calendar-month/examples/import/import-module.md
  apps/doc/src/app/components/calendars/calendar-range/calendar-range.component.html
  apps/doc/src/app/components/calendars/calendar-range/calendar-range.module.ts
  apps/doc/src/app/components/calendars/calendar-range/examples/setup-module.md
  apps/doc/src/app/components/dialogs/sidebar/examples/setup-module.md
  apps/doc/src/app/components/dialogs/sidebar/sidebar.component.html
  apps/doc/src/app/components/dialogs/sidebar/sidebar.module.ts
  apps/doc/src/app/components/error-page/error-page.component.html
  apps/doc/src/app/components/error-page/error-page.module.ts
  apps/doc/src/app/components/error-page/examples/setup-module.md
  apps/doc/src/app/components/file-upload/examples/setup-module.md
  apps/doc/src/app/components/file-upload/file-upload-example.component.html
  apps/doc/src/app/components/file-upload/file-upload-example.module.ts
  libs/components/src/lib/components/calendar-month/calendar-month.module.ts
  libs/components/src/lib/components/calendar-month/index.ts
  libs/components/src/lib/components/calendar-range/calendar-range.module.ts
  libs/components/src/lib/components/calendar-range/index.ts
  libs/components/src/lib/components/column-settings/column-settings.module.ts
  libs/components/src/lib/components/column-settings/index.ts
  libs/components/src/lib/components/dialogs/sidebar/index.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.module.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.spec.ts
  libs/components/src/lib/components/error-page/error-page.component.ts
  libs/components/src/lib/components/error-page/error-page.module.ts
  libs/components/src/lib/components/error-page/index.ts
  libs/components/src/lib/components/file-upload/file-upload.module.ts
  libs/components/src/lib/components/file-upload/index.ts
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.ts
Due: eslint, prettier --write

Update apps/doc/src/app/components/listing-item/listing-item-example.component.html
  apps/doc/src/app/components/listing-item/listing-item-example.component.html
Due: eslint, prettier --write

fix(components/all): fixed for review #000
  apps/doc/src/app/charts/area/examples/setup-module.md
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng14
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng15
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng16
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng17
  apps/doc/src/app/components/buttons/tree-button/examples/setup-module.md
  apps/doc/src/app/components/input/textarea/textarea-example.module.ts
  apps/doc/src/app/components/toggle/examples/setup-module.md
  apps/doc/src/app/components/toggle/toggle-example.component.html
  apps/doc/src/app/tools/overlay/examples/import-module.md
  apps/doc/src/app/tools/overlay/overlay.component.html
  apps/doc/src/app/tools/polymorph/polymorph.component.html
  libs/icons/base/src/lib/icons-svg/prizm-icons-svg.component.ts
Due: eslint, prettier --write

fix(components/chips): fiz spelling error in css variable name for height #000
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.html
  libs/components/src/lib/components/chips/chips-item/chips-item.component.less
  libs/components/src/lib/components/chips/chips.component.less
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
Due: eslint, prettier --write

fix(charts/all): fixed for review #000
  apps/doc/src/app/charts/bar/bar.component.html
  apps/doc/src/app/charts/bar/examples/setup-module.md
  apps/doc/src/app/charts/column/column.component.html
  apps/doc/src/app/charts/column/examples/setup-module.md
  apps/doc/src/app/charts/gauge/examples/setup-module.md
  apps/doc/src/app/charts/gauge/gauge.component.html
  apps/doc/src/app/charts/line/examples/setup-module.md
  apps/doc/src/app/charts/line/line.component.html
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng14
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng15
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng16
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template.ng17
Due: eslint, prettier --write

Update apps/doc/src/app/components/counter/counter-example.component.html
  apps/doc/src/app/components/counter/counter-example.component.html
Due: eslint, prettier --write

fix(components/all): fixed for review #000
  apps/doc/src/app/tools/to-observable/examples/setup-module.md
  apps/doc/src/app/tools/to-observable/to-observable.component.html
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
