Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix: fix scroll in sticky example #670
  apps/doc/src/app/components/sticky/examples/base/sticky-base-example.component.less
Due: prettier --write

feat: add new page for prizm versions list #1133
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/how-to-work/versions/versions.component.html
  apps/doc/src/app/how-to-work/versions/versions.component.less
  apps/doc/src/app/how-to-work/versions/versions.component.spec.ts
  apps/doc/src/app/how-to-work/versions/versions.component.ts
  apps/doc/src/app/how-to-work/versions/versions.module.ts
  apps/doc/src/app/pages.ts
Due: eslint, prettier --write

fix: register icons for toggle live demo
  apps/doc/src/app/components/toggle/toggle-example.component.html
  apps/doc/src/app/components/toggle/toggle-example.component.ts
Due: eslint, prettier --write

fix: register icons for zoom control
  apps/doc/src/app/components/zoom-control/examples/zoom-control-example-basic/zoom-control-example-basic.component.html
  apps/doc/src/app/components/zoom-control/examples/zoom-control-example-basic/zoom-control-example-basic.component.ts
Due: eslint, prettier --write

fix: register icons for toggle example
  apps/doc/src/app/components/toggle/examples/base/toggle-base-example.component.ts
  apps/doc/src/app/components/zoom-control/examples/zoom-control-example-basic/zoom-control-example-basic.component.html
Due: eslint, prettier --write

fix: typography page changed #1497 #1498
  apps/doc/src/app/guidelines/typography/components/frame4/frame4.component.css
  apps/doc/src/app/guidelines/typography/components/frame4/frame4.component.html
  apps/doc/src/app/guidelines/typography/components/frame9/frame9.component.css
  apps/doc/src/app/guidelines/typography/components/frame9/frame9.component.html
  apps/doc/src/app/guidelines/typography/typography.component.html
  apps/doc/src/app/guidelines/typography/typography.module.ts
Due: eslint, prettier --write

fix: markdown errorrs in styles import examples
  apps/doc/src/app/how-to-work/for-developers/for-developers.component.ts
Due: eslint, prettier --write

fix: navigation titles position #1510
  libs/components/src/lib/components/header/components/prizm-header-dropdown/prizm-header-dropdown.component.html
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-expandable/prizm-navigation-item-expandable.component.html
Due: eslint, prettier --write

fix: name hint #1541
  libs/components/src/lib/components/file-upload/file-upload.component.html
  libs/components/src/lib/components/file-upload/file-upload.component.less
Due: eslint, prettier --write

fix: fix extra code lines in det started page
  apps/doc/src/app/how-to-work/for-developers/for-developers.component.ts
Due: eslint, prettier --write

fix: fix sticky styles
  apps/doc/src/app/components/sticky/examples/base/sticky-base-example.component.less
Due: prettier --write

fix: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: ci test
  .github/workflows/pre-release-publish-ng17.yml
Due: prettier --write

chore: ci test
  .github/workflows/pr-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
Due: prettier --write

chore: ci test
  .github/workflows/pr-ng17.yml
Due: prettier --write

chore: ci test
  .github/workflows/deploy-main-doc-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pr-ng17.yml
Due: prettier --write

chore: ci test
  nx.json.ng17
Due: none

chore: remove nx cloud token
  nx.json.ng17
Due: none

feat: 4.1.1 up to 4.1.2
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng17
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng17
  libs/charts/base/package.json
  libs/charts/base/package.json.ng17
  libs/components/package.json
  libs/components/package.json.ng17
  libs/core/package.json
  libs/core/package.json.ng17
  libs/helpers/package.json
  libs/helpers/package.json.ng17
  libs/i18n/package.json
  libs/i18n/package.json.ng17
  libs/icons/base/package.json
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng17
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/nxmv/package.json.ng17
  libs/plugin/package.json
  libs/plugin/package.json.ng17
  libs/schematics/package.json
  libs/schematics/package.json.ng17
  libs/theme/package.json
  libs/theme/package.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

fix: codestyle fix
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: remoce absolete imports from breadcrumbs and accordion-item tests
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.spec.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.spec.ts
Due: eslint, prettier --write

fix: treemap stoke color and hover update
  libs/charts/base/src/lib/theme/base-options.const.ts
  libs/charts/base/src/lib/theme/dark.const.ts
  libs/charts/base/src/lib/theme/light.const.ts
Due: eslint, prettier --write

feat: cron custom title #1431
  apps/doc/src/app/components/cron/cron.component.html
  apps/doc/src/app/components/cron/cron.component.ts
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

feat: cron translation #1480
  libs/components/src/lib/components/cron/components/day/day.component.html
  libs/components/src/lib/components/cron/components/hour/hour.component.html
  libs/components/src/lib/components/cron/components/hour/hour.component.ts
  libs/components/src/lib/components/cron/components/minute/minute.component.html
  libs/components/src/lib/components/cron/components/minute/minute.component.ts
  libs/components/src/lib/components/cron/components/month/month.component.html
  libs/components/src/lib/components/cron/components/month/month.component.ts
  libs/components/src/lib/components/cron/components/second/second.component.html
  libs/components/src/lib/components/cron/components/second/second.component.ts
  libs/components/src/lib/components/cron/components/year/year.component.html
  libs/components/src/lib/components/cron/components/year/year.component.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/cron.ts
  libs/i18n/src/lib/languages/russian/cron.ts
Due: eslint, prettier --write

fix: bar example tooltip and code fixed
  apps/doc/src/app/charts/bar/bar.component.html
  apps/doc/src/app/charts/bar/examples/base/prizm-charts-bar-example.component.html
  apps/doc/src/app/charts/bar/examples/base/prizm-charts-bar-example.component.ts
Due: eslint, prettier --write

feat: cron translation #1480
  apps/doc/src/app/components/cron/cron.component.html
  apps/doc/src/app/components/cron/cron.component.ts
  apps/doc/src/app/components/cron/examples/specified-tabs/cron-specified-tabs-example.component.ts
  libs/components/src/lib/components/cron/components/day/day.component.html
  libs/components/src/lib/components/cron/components/hour/hour.component.html
  libs/components/src/lib/components/cron/components/minute/minute.component.html
  libs/components/src/lib/components/cron/components/month/month.component.html
  libs/components/src/lib/components/cron/components/second/second.component.html
  libs/components/src/lib/components/cron/components/year/year.component.html
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/cron.ts
  libs/i18n/src/lib/languages/russian/cron.ts
Due: eslint, prettier --write

feat: cron custom title #1431
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

fix: cron selected working with specified tabs #1494
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

fix: incorrect data colors display in charts #1505
  apps/doc/src/app/charts/waterfall/waterfall.component.ts
  libs/charts/base/src/lib/theme/base-options.const.ts
Due: eslint, prettier --write

feat: cron translation #1480
  libs/components/src/lib/components/cron/components/day/day.component.html
  libs/components/src/lib/components/cron/components/hour/hour.component.html
  libs/components/src/lib/components/cron/components/minute/minute.component.html
  libs/components/src/lib/components/cron/components/month/month.component.html
  libs/components/src/lib/components/cron/components/second/second.component.html
  libs/components/src/lib/components/cron/components/year/year.component.html
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/cron.ts
  libs/i18n/src/lib/languages/russian/cron.ts
Due: eslint, prettier --write

fix: remove pie live demo example extra properties
  apps/doc/src/app/charts/pie/pie.component.html
Due: eslint, prettier --write

feat: add decimal input to documentation
  apps/doc/src/app/charts/gauge/gauge.component.html
  libs/doc/base/src/lib/components/documentation/documentation.component.html
  libs/doc/base/src/lib/components/documentation/documentation.module.ts
Due: eslint, prettier --write

feat: cron custom title hint #1431
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
Due: eslint, prettier --write
