Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix: ci update
  jest.config.ts
  libs/charts/base/package.json
  libs/charts/base/package.json.ng17
  libs/components/package.json
  libs/components/package.json.ng17
  package.json.ng17
  package.json.ng17.ng17
Due: eslint, prettier --write

fix: ci update
  package.json.ng17.ng17
Due: none

fix: ci update
  libs/helpers/package.json
Due: prettier --write

fix: styles for interval
  libs/components/src/styles/mixins/picker.less
Due: prettier --write

fix: nxmv
  libs/helpers/package.json
  libs/nxmv/src/generators/apply/index.ts
  libs/nxmv/src/generators/apply/util.ts
Due: eslint, prettier --write

fix: ci update
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write

fix: ci update
  package-lock.json.ng17
  package.json.ng17
  tsconfig.base.json.ng17
Due: none

fix: nxmv
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
  tsconfig.base.json
  tsconfig.base.json.ng17
Due: prettier --write

fix: nxmv
  libs/helpers/package.json
Due: prettier --write

fix: on pr update
  .github/workflows/pr-ng16.yml
  .github/workflows/pr-ng17.yml
Due: prettier --write

fix: calendar range should hilight only choosen year and month #1465
  libs/components/src/lib/components/calendar-month/calendar-month.component.html
  libs/components/src/lib/components/calendar-month/calendar-month.component.ts
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.less
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
Due: eslint, prettier --write

fix: index marker color blends with the background of the selected date #1461
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
Due: prettier --write

refactor: some commented code removed
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
Due: eslint, prettier --write

fix: calendar range year picker and month picker fix
  apps/doc/src/app/components/calendars/calendar-month/examples/range/range.component.ts
  apps/doc/src/app/components/calendars/calendar/calendar.component.html
  apps/doc/src/app/components/calendars/calendar/calendar.component.ts
  libs/components/src/lib/components/calendar/calendar.component.html
  libs/components/src/lib/components/calendar/calendar.component.ts
  libs/components/src/lib/components/internal/primitive-calendar-range/primitive-calendar-range.component.html
  libs/components/src/lib/components/internal/primitive-calendar-range/primitive-calendar-range.component.ts
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
Due: eslint, prettier --write

fix: calendar range corners for interval
  libs/components/src/lib/components/calendar-month/calendar-month.component.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
  libs/components/src/styles/mixins/picker.less
Due: eslint, prettier --write

fix: incorrect hover behavior in calnedar
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
Due: eslint, prettier --write

fix: calendar year bouncing on hover
  libs/components/src/styles/mixins/picker.less
Due: prettier --write

fix: calendar year bouncing on hover
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/styles/mixins/picker.less
Due: prettier --write

fix: spin button hint direction
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.template.html
Due: eslint, prettier --write

fix: hint icon margins added fot navigation menu #1329
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.less
Due: prettier --write

feat: change focus to focus visible to buttons
  libs/components/src/lib/components/button/button.component.less
Due: prettier --write

feat: change focus to focus visible to toggle
  libs/components/src/lib/components/toggle/toggle.component.less
Due: prettier --write

feat: change focus to focus visible to stepper button
  libs/components/src/lib/components/stepper/stepper-selector.component.less
Due: prettier --write

feat: change focus to focus visible to slider cnob
  libs/components/src/lib/components/slider/slider-cnob.component.less
Due: prettier --write

feat: change focus to focus visible to chips item and input icon btn
  libs/components/src/lib/components/chips/chips-item/chips-item.component.less
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
Due: prettier --write

feat: change focus to focus-visible for radiobtn, checkbox, breadcrumbs #1297
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.less
  libs/components/src/lib/components/checkbox/checkbox.component.less
  libs/components/src/lib/components/radio/prizm-radio-button.component.less
Due: prettier --write

fix: calendar and calendar month markup change #1242
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/lib/components/calendar/calendar.component.less
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.less
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.less
  libs/components/src/styles/mixins/picker.less
Due: prettier --write

fix: replace title by hint in year spin button #1457
  apps/doc/src/app/components/calendars/calendar/examples/base/calendar-base-example.component.ts
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.module.ts
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.template.html
  libs/components/src/styles/mixins/picker.less
Due: eslint, prettier --write
