Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix(ci): restore nrwl/nx-set-shas@v3 and fix checkout
  .github/workflows/draft-publish.yml
  .github/workflows/main-publish.yml
  .github/workflows/prerelease-publish.yml
  .github/workflows/prereleased.yml
Due: prettier --write

fix(ci): update version before draft/prerelease
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

fix(components): small fixes #316, #314, #315
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/main-publish.yml
  .github/workflows/prerelease-publish.yml
  .github/workflows/released.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/input-text/examples/input-validation-custom-example/input-validation-custom-example.component.html
  apps/doc/src/app/components/input/input-text/examples/input-validation-custom-example/input-validation-custom-example.component.ts
  apps/doc/src/app/components/input/input-text/examples/input-validation-custom-example/input-validation-custom-texts.service.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/input/common/base/input-invalid-text-base-class.directive.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/directives/outside-event/outside-event.directive.ts
  libs/components/src/lib/directives/outside-event/outsize-event.service.ts
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

feat(ci): add published to fb after draft|pre|main releases
  .github/workflows/draft-publish.yml
  .github/workflows/main-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

chore: add cacheableOperations
  nx.json
Due: prettier --write

fix(table): remove prizmCell after destroy
  apps/doc/src/app/components/table/examples/table-tree-example/table-tree-example.component.html
  libs/components/src/lib/components/table/directives/cell.directive.ts
  libs/components/src/lib/components/table/directives/cell.service.ts
  libs/components/src/lib/components/table/tr/tr.component.ts
Due: eslint, prettier --write

ci: add fetch-depth to checkout
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

fix(ci): remove duplicated releases
  .github/workflows/prerelease-publish.yml
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

docs: up bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

chore: fix lint
  libs/charts/base/src/lib/theme/types.ts
  libs/deprecated/src/lib/components/nav-menu/components/nav-menu-group/prizm-nav-menu-group.component.ts
  libs/deprecated/src/lib/components/nav-menu/utils/treeNode.functions.ts
  libs/icons/base/src/lib/prizm-icons.component.ts
  libs/icons/flags/src/lib/prizm-flag-icons.component.ts
  libs/plugin/src/generators/migrate-from-cb3/index.ts
  libs/plugin/src/generators/update-version/index.ts
Due: eslint, prettier --write

chore: update ngx-mask
  libs/ast/schematics-helpers/src/update-all-files-when/update-all-files-when.spec.ts
  libs/components/src/lib/modules/mask/mask.module.ts
Due: eslint, prettier --write

fix: build errors
  apps/doc/project.json
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-groups-example/example-data/expanded-items.service.ts
  libs/deprecated/src/lib/components/table-old/directives/reordable-row-handler.directive.ts
  package-lock.json
Due: eslint, prettier --write

fix(components/time): time correction
  libs/components/src/lib/@core/date-time/time.ts
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.ts
  libs/components/src/lib/components/input/input-time/input-time.component.ts
Due: eslint, prettier --write

fix(components/input-select): updater after enable
  apps/doc/src/app/components/input/input-select/input-select.component.html
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

fix(component/layout): content status show
  apps/doc/src/app/components/input/input-select/examples/base/select-base-example.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

feat(components/inputs): add ngModelOptions to inner inputs
  libs/components/src/lib/components/input/input-date-range/input-date-range.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.html
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date/date.component.html
  libs/components/src/lib/components/input/input-date/input-layout-date.component.html
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.html
  libs/components/src/lib/components/input/input-month-range/input-month-range.component.html
  libs/components/src/lib/components/input/input-month/input-layout-month.component.html
  libs/components/src/lib/components/input/input-month/input-month.component.html
  libs/components/src/lib/components/input/input-time/input-layout-time.component.html
  libs/components/src/lib/components/input/input-time/input-time.component.html
Due: eslint, prettier --write

feat(components/input-date-time): restore time template
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.html
Due: eslint, prettier --write

fix(components/outside): fix inside first event
  libs/components/src/lib/directives/outside-event/outsize-event.service.ts
Due: eslint, prettier --write

ci: up
  Dockerfile
Due: none

ci: up
  .gitlab-ci.yml
Due: prettier --write

ci: up
  .gitlab-ci.yml
  Dockerfile
Due: prettier --write

docs(select): add example with select in a sidebar
  apps/doc/src/app/components/input/input-select/examples/in-template/select-in-template-example.component.html
  apps/doc/src/app/components/input/input-select/examples/in-template/select-in-template-example.component.ts
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.ts
  apps/doc/src/app/components/input/input-select/input-select.module.ts
Due: eslint, prettier --write

fix(components/select-input): fix render select in dynamic ng-template
  apps/doc/src/app/components/input/input-select/examples/in-template/select-in-template-example.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
Due: eslint, prettier --write

fix(components/input): error with ngModel when it is in modal window on another projects
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.module.ts
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/date-list-edit/date-list-edit.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/date-list-with-nested/date-list.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/directives/outside-event/outsize-event.service.ts
Due: eslint, prettier --write

refactor(components/outside): refactor outside listener
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/directives/outside-event/outside-event.directive.ts
  libs/components/src/lib/directives/outside-event/outsize-event.service.ts
Due: eslint, prettier --write

refactor(components/outside): remove draft code
  libs/components/src/lib/directives/outside-event/outsize-event.service.ts
Due: eslint, prettier --write

fix(components/outside): add sequence
  libs/components/src/lib/components/input/input-month/input-month.component.ts
  libs/components/src/lib/directives/outside-event/outside-event.directive.ts
  libs/components/src/lib/directives/outside-event/outsize-event.service.ts
Due: eslint, prettier --write

fix(components/outside): add sequence
  libs/components/src/lib/directives/outside-event/outside-event.directive.ts
Due: eslint, prettier --write

feat(components/input-select): cleat search value on open input-select modal
  apps/doc/src/app/components/dropdowns/select/select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

feat(components/outside): rename to zoneEvent
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.module.ts
  libs/components/src/lib/components/input/common/input-common.module.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.module.ts
  libs/components/src/lib/directives/index.ts
  libs/components/src/lib/directives/outside-event/index.ts
  libs/components/src/lib/directives/outside-event/outside-event.module.ts
  libs/components/src/lib/directives/zone-event/index.ts
  libs/components/src/lib/directives/zone-event/model.ts
  libs/components/src/lib/directives/zone-event/zone-event.directive.ts
  libs/components/src/lib/directives/zone-event/zone-event.module.ts
  libs/components/src/lib/directives/zone-event/zone-event.service.ts
Due: eslint, prettier --write

feat(doc/zone-event): add page with examples to doc
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/pages.ts
  apps/doc/src/app/tools/zone-event/examples/base/base.component.html
  apps/doc/src/app/tools/zone-event/examples/base/base.component.ts
  apps/doc/src/app/tools/zone-event/examples/import-module.md
  apps/doc/src/app/tools/zone-event/zone-event.component.html
  apps/doc/src/app/tools/zone-event/zone-event.component.ts
  apps/doc/src/app/tools/zone-event/zone-event.module.ts
  libs/components/src/lib/directives/zone-event/zone-event.directive.ts
  libs/components/src/lib/directives/zone-event/zone-event.service.ts
Due: eslint, prettier --write

feat(doc/zone-event): add page with examples to doc
  apps/doc/src/app/tools/zone-event/examples/base/base.component.html
  apps/doc/src/app/tools/zone-event/examples/base/base.component.ts
  apps/doc/src/app/tools/zone-event/zone-event.module.ts
Due: eslint, prettier --write

fix(components/cron): fix end date label
  libs/i18n/src/lib/languages/russian/cron.ts
Due: eslint, prettier --write

fix(components/multi-select): clear search value after close
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.component.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
