Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix: style fix
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix: build error #1033
  libs/components/package.json.ng14
  libs/components/package.json.ng15
  libs/components/package.json.ng16
Due: none

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: replaced fixed versions on patch relative
  apps/doc/src/app/code-demo/files/package.json.template
  libs/charts/base/package.json
  libs/charts/base/package.json.ng14
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng14
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng14
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng14
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng14
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng14
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng14
  libs/icons/flags/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng14
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng14
  libs/theme/package.json.ng16
Due: prettier --write

fix: moved required deps to dependencies group
  libs/charts/base/package.json
  libs/charts/base/package.json.ng14
  libs/charts/base/package.json.ng15
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng14
  libs/components/package.json.ng15
  libs/components/package.json.ng16
Due: prettier --write

feat: rename component dropdown cell to listing item
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/dropdown-cell/dropdown-cell-example.module.ts
  apps/doc/src/app/components/dropdown-cell/examples/base/dropdown-cell-base-example.component.html
  apps/doc/src/app/components/dropdown-cell/examples/chips/dropdown-cell-chips-example.component.html
  apps/doc/src/app/components/listing-item/examples/base/listing-item-base-example.component.html
  apps/doc/src/app/components/listing-item/examples/base/listing-item-base-example.component.ts
  apps/doc/src/app/components/listing-item/examples/chips/listing-item-chips-example.component.html
  apps/doc/src/app/components/listing-item/examples/chips/listing-item-chips-example.component.ts
  apps/doc/src/app/components/listing-item/examples/setup-module.md
  apps/doc/src/app/components/listing-item/examples/with-instrumnets/listing-item-with-instruments-example.component.html
  apps/doc/src/app/components/listing-item/examples/with-instrumnets/listing-item-with-instruments-example.component.ts
  apps/doc/src/app/components/listing-item/listing-item-example.component.html
  apps/doc/src/app/components/listing-item/listing-item-example.component.ts
  apps/doc/src/app/components/listing-item/listing-item-example.module.ts
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/dropdown-cell/dropdown-cell.component.html
  libs/components/src/lib/components/dropdown-cell/index.ts
  libs/components/src/lib/components/index.ts
  libs/components/src/lib/components/listing-item/index.ts
  libs/components/src/lib/components/listing-item/listing-item.component.html
  libs/components/src/lib/components/listing-item/listing-item.component.less
  libs/components/src/lib/components/listing-item/listing-item.component.ts
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.component.less
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

refactor: funtions moved to pipes, text to translations, depreceted modules are removed
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.ts
  libs/components/src/lib/components/file-upload/file-upload-options.ts
  libs/components/src/lib/components/file-upload/file-upload.component.html
  libs/components/src/lib/components/file-upload/file-upload.component.ts
  libs/components/src/lib/components/file-upload/file-upload.enums.ts
  libs/components/src/lib/components/file-upload/pipes/file-size.pipe.ts
  libs/components/src/lib/components/file-upload/pipes/upload-status.pipe.ts
  libs/components/src/lib/components/file-upload/types.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/file-upload.ts
Due: eslint, prettier --write

fix(components/input-layout): bug with center position
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
Due: eslint, prettier --write

fix(components/input-text): bug with ngx-mask when clear field
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

fix(components/input-text): get real native value
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/input/carousel/carousel.component.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.ts
  libs/components/src/lib/components/input/input-month/input-layout-month.component.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.ts
Due: eslint, prettier --write

fix: input date range size for calnedar #1051
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
Due: eslint, prettier --write

feat: changelog update
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: error with mask in ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng16
Due: none

fix: test errors
  apps/doc/src/app/about-prizm/contacts/contacts.component.spec.ts
  apps/doc/src/app/about-prizm/license/license.component.spec.ts
  apps/doc/src/app/guidelines/grid/grid.component.spec.ts
  apps/doc/src/app/guidelines/theme/theme-guide.component.spec.ts
  libs/components/src/lib/components/accordion/accordion.component.spec.ts
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.spec.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.spec.ts
  libs/components/src/lib/components/card/card.component.spec.ts
  libs/components/src/lib/components/chips/chips-item/chips-item.spec.ts
  libs/components/src/lib/components/chips/chips.component.spec.ts
  libs/components/src/lib/components/counter/counter.component.spec.ts
  libs/components/src/lib/components/grid/components/grid-item/grid-item.component.spec.ts
  libs/components/src/lib/components/grid/grid.component.spec.ts
  libs/components/src/lib/components/header/prizm-header.component.spec.ts
  libs/components/src/lib/components/indicator/indicator.component.spec.ts
  libs/components/src/lib/components/radio/prizm-radio-button.component.spec.ts
  libs/components/src/lib/components/switcher/switcher.component.spec.ts
  libs/components/src/lib/components/widget/widget.component.spec.ts
Due: eslint, prettier --write

fix: tests
  apps/doc/src/app/about-prizm/contacts/contacts.component.spec.ts
  apps/doc/src/app/about-prizm/license/license.component.spec.ts
  apps/doc/src/app/guidelines/grid/grid.component.spec.ts
Due: eslint, prettier --write

fix: lint errors
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

feat: theme guide for developers #979
  apps/doc/src/app/guidelines/theme/components/examples/custom-theme-inverted.md
  apps/doc/src/app/guidelines/theme/components/examples/custom-theme.md
  apps/doc/src/app/guidelines/theme/components/examples/setup.md
  apps/doc/src/app/guidelines/theme/components/examples/style-variables.md
  apps/doc/src/app/guidelines/theme/components/examples/theme-reverse.md
  apps/doc/src/app/guidelines/theme/components/examples/theme-switcher.md
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.ts
  apps/doc/src/app/guidelines/theme/theme-guide.component.html
  apps/doc/src/app/guidelines/theme/theme-guide.component.ts
  apps/doc/src/app/guidelines/theme/theme-guide.module.ts
Due: eslint, prettier --write

fix(components): remove changes invoked brecking
  apps/doc/src/app/components/table/examples/table-track-by-example/table-track-by-example.component.ts
  apps/doc/src/app/components/table/table-example.component.html
  libs/components/src/lib/components/grid/components/grid-item/grid-item.component.ts
  libs/components/src/lib/components/grid/grid.component.ts
  libs/components/src/lib/components/icon/icon.component.ts
  libs/components/src/lib/components/indicator/indicator.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/stepper/stepper-selector.component.ts
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
  libs/helpers/src/lib/pipes/call-func/call-func.pipe.ts
  libs/helpers/src/lib/pipes/to-type/to-type.pipe.ts
Due: eslint, prettier --write

chore: up to 3.5.1
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/core/package.json
  libs/core/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/theme/package.json
  package.json
  package.json.ng16
Due: eslint, prettier --write

feat: uncomment example
  apps/doc/src/app/components/table/table-example.component.html
Due: eslint, prettier --write

chore: up to 2.6.1
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  libs/ast/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/generators.json
  libs/nxmv/package.json.ng15
  libs/plugin/generators.json
  libs/plugin/package.json.ng15
  package.json.ng15
Due: prettier --write

chore: up to 1.9.1
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

feat: preview label added for doc menu, labels added to list in menu
  apps/doc/src/app/pages.ts
  libs/doc/base/src/lib/components/navigation/navigation.component.html
  libs/doc/base/src/lib/components/navigation/navigation.component.less
  libs/doc/base/src/lib/components/navigation/navigation.module.ts
  libs/doc/base/src/lib/interfaces/page.ts
Due: eslint, prettier --write

fix: listing item component desrciprion text update
  apps/doc/src/app/components/listing-item/listing-item-example.component.html
Due: eslint, prettier --write

feat: inputs v3 colors in progress
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-invalid-subtext/input-status-subtext.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/common/styles/input.component.less
Due: prettier --write

feat: add variable names to tokens table #979
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.less
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.ts
Due: eslint, prettier --write

feat: add tokens to color page in doc #979
  apps/doc/src/app/guidelines/colors/components/frame25826/frame25826.component.css
  apps/doc/src/app/guidelines/colors/components/frame25826/frame25826.component.html
Due: eslint, prettier --write

chore: pre release ng 16
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

chore: update changelog
  libs/ast/package.json
  libs/ast/package.json.ng14
  libs/ast/package.json.ng15
  libs/ast/package.json.ng16
  libs/ast/schematics-helpers/src/run-tasks-by-project-name/run-tasks-by-project-name.ts
  libs/nxmv/tsconfig.lib.json
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: update changelog
  libs/ast/package.json
  libs/ast/package.json.ng14
  libs/ast/package.json.ng15
  libs/ast/package.json.ng16
Due: prettier --write

feat: input icon button colors #1064
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
Due: prettier --write

chore: update changelog
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

chore: update changelog
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
Due: prettier --write

fix: @ng-web-apis versions
  libs/components/package.json
  package-lock.json
  package-lock.json.ng16
  package.json
  package.json.ng14
  package.json.ng15
  package.json.ng16
Due: prettier --write

feat: input layout v3 colors #1064
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: pipeline job names
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
Due: prettier --write
