Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat: doc example for hint theme added, input value for tooltip and confirmpopup added
  apps/doc/src/app/components/confirm-popup/confirm-popup.component.html
  apps/doc/src/app/components/confirm-popup/confirm-popup.component.ts
  apps/doc/src/app/components/hint/examples/change-theme/hint-change-theme-example.component.html
  apps/doc/src/app/components/hint/examples/change-theme/hint-change-theme-example.component.ts
  apps/doc/src/app/components/tooltip/tooltip-example.component.html
  apps/doc/src/app/components/tooltip/tooltip-example.component.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/directives/tooltip/tooltip-options.ts
Due: eslint, prettier --write

refactor: confirm popup doc example file names has been changed
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/confirm-popup/confirm-popup-example.component.html
  apps/doc/src/app/components/confirm-popup/confirm-popup-example.component.less
  apps/doc/src/app/components/confirm-popup/confirm-popup-example.component.ts
  apps/doc/src/app/components/confirm-popup/confirm-popup-example.module.ts
  apps/doc/src/app/components/confirm-popup/confirm-popup.component.less
Due: eslint, prettier --write

fix: model importing update
  libs/theme/src/lib/directive/theme/const.ts
Due: eslint, prettier --write

fix: hint theme example code content changed
  apps/doc/src/app/components/hint/hint-example.component.html
Due: eslint, prettier --write

feat(helpers): add moveInEventLoopIteration operator for rxjs and update table
  libs/components/src/lib/components/table/th-group/th-group.component.ts
  libs/components/src/lib/directives/sticky/sticky.directive.ts
  libs/helpers/src/lib/util/rxjs/rxjs.ts
Due: eslint, prettier --write

feat(helpers): add moveInEventLoopIteration operator for rxjs and update table
  libs/components/src/lib/components/table/th-group/th-group.component.ts
Due: eslint, prettier --write

feat(helpres): add tests for rxjs
  libs/helpers/src/lib/util/rxjs/rxjs.spec.ts
Due: eslint, prettier --write

fix: last show column disabling #82
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
Due: eslint, prettier --write

fix: tests
  libs/helpers/src/lib/util/rxjs/move.spec.ts
  libs/helpers/src/lib/util/rxjs/race-emit.spec.ts
  libs/helpers/src/lib/util/rxjs/rxjs.spec.ts
Due: eslint, prettier --write

feat: new theme added
  libs/theme/src/styles/theme/index.less
  libs/theme/src/styles/theme/v3/dark-palette.less
  libs/theme/src/styles/theme/v3/dark.less
  libs/theme/src/styles/theme/v3/default-palette.less
  libs/theme/src/styles/theme/v3/default.less
  libs/theme/src/styles/theme/v3/index.less
Due: prettier --write

fix: tests
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
Due: eslint, prettier --write

feat: release-3.1.0.next.1
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(components/table): polymorph support for column-setings
  libs/components/src/lib/components/column-settings/column-settings.model.ts
  libs/components/src/lib/components/column-settings/column-settings.module.ts
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.html
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
Due: eslint, prettier --write

fix: last shown column checking
  libs/components/src/lib/components/column-settings/column-settings.component.html
  libs/components/src/lib/components/column-settings/column-settings.component.ts
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
Due: eslint, prettier --write

chore: merge
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat: mirror links added to doc
  apps/doc/src/app/about-prizm/repositories/repositories.component.html
  apps/doc/src/app/about-prizm/service-level-agreement/service-level-agreement.component.html
Due: eslint, prettier --write

fix: disabled sync between layout in in put #771
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

feat: sync on touched change with parent layout #353
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

fix: new theme default palette colors fix
  libs/theme/src/styles/theme/v3/default-palette.less
  libs/theme/src/styles/theme/v3/default.less
Due: prettier --write

fix(components/input-layout): clear button with status message #766
  apps/doc/src/app/components/input/textarea/examples/textarea-basic-example/textarea-basic-example.component.html
  apps/doc/src/app/components/input/textarea/examples/textarea-basic-example/textarea-basic-example.component.ts
  apps/doc/src/app/components/side-menu/examples/side-menu-example-basic/side-menu-example-basic.component.html
  libs/components/assets/icon-codepoints.json
  libs/components/src/lib/components/icon/icon-16-definitions.ts
  libs/components/src/lib/components/icon/icon-definitions.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/styles/icons-16/icons-16.less
  libs/components/src/styles/icons/icons.less
Due: eslint, prettier --write

fix(components/polymorph): build error #738
  libs/components/src/lib/directives/polymorph/classes/component.ts
  libs/components/src/lib/directives/polymorph/directives/outlet.ts
  libs/components/src/lib/directives/polymorph/directives/template.ts
  libs/components/src/lib/directives/polymorph/types/content.ts
  libs/components/src/lib/directives/polymorph/types/handler.ts
Due: eslint, prettier --write

feat: colors v3 for tabs #401 fix: tab disable active state #703
  libs/components/src/lib/components/tabs/components/tab.component.less
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.component.less
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

feat: colors v3 for tab controls #401
  libs/components/src/lib/components/tabs/components/tab.component.less
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.component.less
Due: eslint, prettier --write

fix: deprecated select component has been changed for new one for paginator #792
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.ts
  libs/components/src/lib/components/paginator/prizm-paginator.module.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/paginator.ts
  libs/i18n/src/lib/languages/russian/russian.ts
Due: eslint, prettier --write

feat: colors v3 for buttons (wrapper component) in progress
  libs/components/src/lib/components/button/button.component.less
  libs/components/src/lib/directives/wrapper/wrapper.component.less
Due: prettier --write

fix: input layout outer label incorrect display #788
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

feat: initial table sort example #126
  apps/doc/src/app/components/table/examples/table-sort-example/table-sort-example.component.html
  apps/doc/src/app/components/table/examples/table-sort-example/table-sort-example.component.ts
Due: eslint, prettier --write

fix: code style fix
  apps/doc/src/app/components/table/examples/table-sort-example/table-sort-example.component.ts
Due: eslint, prettier --write

fix(components/tabs): update tab #759
  apps/doc/src/app/components/tabs/examples/tabs-example-closable/tabs-example-closable.component.html
  apps/doc/src/app/components/tabs/examples/tabs-example-closable/tabs-example-closable.component.ts
  libs/components/src/lib/components/tabs/components/tab.component.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

fix(components/tabs): update tab #759
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

fix: initial sort option for table works incorrect #126
  libs/components/src/lib/components/table/directives/table.directive.ts
  libs/components/src/lib/components/table/service/table-sorter.service.ts
Due: eslint, prettier --write

fix(components/tabs): update tab #759
  libs/components/src/lib/components/tabs/components/tab.component.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

chore: fix version
  libs/theme/package.json.ng16
Due: none

feat(components/input-select): added wrap model for simple content #793
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

feat: buttons colors update to v3
  libs/components/src/lib/directives/wrapper/wrapper.component.less
  libs/theme/src/styles/theme/v3/dark.less
Due: prettier --write

fix(components/tabs): move tab index
  libs/components/src/lib/components/tabs/components/tab.component.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
