Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix(doc): update examples for stackblitz #1595
  apps/doc/src/app/code-demo/files/src/index.html.template
  apps/doc/src/app/components/dialogs/confirm-dialog/examples/custom-button/custom-button.component.ts
  apps/doc/src/app/components/dialogs/confirm-dialog/examples/full/full.component.ts
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.html
  apps/doc/src/app/components/dialogs/sidebar/examples/custom-button/custom-button-template.component.ts
  apps/doc/src/app/components/radio/examples/big-example/radio-button-big-example.component.html
  apps/doc/src/app/components/radio/examples/big-example/radio-button-big-example.component.less
  apps/doc/src/app/components/radio/examples/big-example/radio-button-big-example.component.ts
  apps/doc/src/app/components/radio/examples/small-example/radio-button-small-example.component.html
  apps/doc/src/app/components/radio/examples/small-example/radio-button-small-example.component.less
  apps/doc/src/app/components/radio/examples/small-example/radio-button-small-example.component.ts
  apps/doc/src/app/components/radio/radio-button-example.component.html
  apps/doc/src/app/components/radio/radio-button-example.component.ts
  apps/doc/src/app/components/radio/radio-button-example.module.ts
Due: eslint, prettier --write

fix(icons): fix builder to generate #1691
  libs/icons/base/base/ng-package.json
  libs/icons/base/full/ng-package.json
  libs/icons/base/tsconfig.lib.json
  libs/icons/loader/full/src/icons.ts
Due: eslint, prettier --write

fix(components/input-layout): status button hint return #000
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
Due: eslint, prettier --write

fix(doc/dialog): add dismissable prop to live demo #1551
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.html
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.ts
Due: eslint, prettier --write

fix(doc/dialog): fix spelling error #000
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.html
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.ts
Due: eslint, prettier --write

feat(chore/release): 1.17.0 up to 1.17.1 #000
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

feat(chore/release): 2.14.0 up to 2.14.1 #000
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

feat(chore/release): version 3.13.0 up to 3.13.1 #000
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json.ng16
  libs/core/package.json.ng16
  libs/helpers/package.json.ng16
  libs/i18n/package.json.ng16
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json.ng16
  libs/plugin/package.json.ng16
  libs/schematics/package.json.ng16
  libs/theme/package.json.ng16
  package.json.ng16
Due: eslint, prettier --write

fix(icons): loader #1692 #1691 #1652
  libs/icons/base/base/source/book-open-re-arrow-left/index.ts
Due: eslint, prettier --write

feat(chore): release 4.3.0 #000
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng17
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng17
  libs/charts/base/package.json
  libs/charts/base/package.json.ng17
  libs/components/package.json
  libs/components/package.json.ng17
  libs/core/package.json
  libs/core/package.json.ng17
  libs/helpers/package.json
  libs/helpers/package.json.ng17
  libs/i18n/package.json
  libs/i18n/package.json.ng17
  libs/icons/base/package.json
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng17
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/nxmv/package.json.ng17
  libs/plugin/package.json
  libs/plugin/package.json.ng17
  libs/schematics/package.json
  libs/schematics/package.json.ng17
  libs/theme/package.json
  libs/theme/package.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

feat(chore/release): up ast version in package.json main file #000
  libs/ast/package.json
Due: prettier --write

fix(chore/release): remove unnesessary versions changes #000
  libs/ast/package.json
  libs/charts/base/package.json
Due: prettier --write

feat(doc/changelog): changelog update #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc/dialog): add examples how to use custom dialog #1602
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.html
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.ts
  apps/doc/src/app/components/dialogs/dialog/dialog-example.module.ts
  apps/doc/src/app/components/dialogs/dialog/examples/custom-service/dialog-custom-service-example.component.html
  apps/doc/src/app/components/dialogs/dialog/examples/custom-service/dialog-custom-service-example.component.ts
  apps/doc/src/app/components/dialogs/dialog/examples/custom-service/my-custom-service.ts
  libs/components/src/lib/abstract/dialog.service.ts
  libs/components/src/lib/components/dialogs/dialog/dialog.service.ts
Due: eslint, prettier --write

refactor(components/dialog): remove comments #000
  libs/components/src/lib/abstract/dialog.service.ts
Due: eslint, prettier --write

fix(icons/icons-full): added skipped provider for PrizmDestroyService #1652
  libs/icons/base/src/lib/icons/icons-full.component.ts
Due: eslint, prettier --write

refactor(components/dialog): removed log #000
  libs/components/src/lib/abstract/dialog.service.ts
Due: eslint, prettier --write

fix(components/table): ghost button in table should have no hover state #1486
  libs/components/src/lib/components/table/td/td.component.less
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

fix(components/tooltip): tooltip close on click in showed dropdown #1704
  libs/components/src/lib/directives/tooltip/tooltip.directive.ts
Due: eslint, prettier --write

fix(components/table): merge error fix #000
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

fix(components/chips): deletable chips xmark font icon reblaced by base icon #1698
  libs/components/src/lib/components/chips/chips-item/chips-item.component.html
  libs/components/src/lib/components/chips/chips-item/chips-item.component.ts
Due: eslint, prettier --write

refactor(components/tooltip): fixed name prizmHintTheme and refactor code #1709
  apps/doc/src/app/components/tooltip/tooltip-example.component.html
  libs/components/src/lib/directives/confirm-popup/confirm-popup.directive.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/directives/tooltip/tooltip.directive.ts
Due: eslint, prettier --write

feat(doc): add support for get inputs and outputs from hostDirectives #1710
  apps/doc/src/app/components/tooltip/tooltip-example.component.html
  libs/doc/base/src/lib/components/host/host-element.service.ts
  libs/helpers/src/lib/util/index.ts
  libs/helpers/src/lib/util/invert-object.spec.ts
  libs/helpers/src/lib/util/invert-object.ts
Due: eslint, prettier --write

feat(components/context-menu): context-menu component #000
  apps/doc/src/app/components/tooltip/examples/with-component/some.component.ts
  apps/doc/src/app/components/tooltip/examples/with-template/tooltip-with-template-example.component.html
  apps/doc/src/app/components/tooltip/tooltip-example.component.html
  libs/components/src/lib/directives/context-menu/context-menu-container.component.less
  libs/components/src/lib/directives/context-menu/dropdown-context-container.component.ts
  libs/components/src/lib/directives/context-menu/dropdown-context-options.ts
  libs/components/src/lib/directives/context-menu/dropdown-context.directive.ts
  libs/components/src/lib/directives/context-menu/index.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/directives/index.ts
  libs/components/src/lib/modules/overlay/index.ts
  libs/components/src/lib/modules/overlay/models.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
Due: eslint, prettier --write

fix(doc/host-element): fix check from extended inputs and outputs #000
  libs/doc/base/src/lib/components/host/host-element.service.ts
  libs/helpers/src/lib/util/invert-object.ts
Due: eslint, prettier --write

fix(components/input-layout): add margin bottom for label in outer inputs #1659
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix(doc): filter extended keys #000
  libs/doc/base/src/lib/components/host/host-element.service.ts
Due: eslint, prettier --write

feat(doc/icons): added info about enum name to copied values #1648
  apps/doc/src/app/components/icons/base/all/all-icon.component.ts
Due: eslint, prettier --write

fix(chore): remove extra version changes #000
  libs/charts/base/package.json
Due: prettier --write

feat(chore): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(chore): feat from fix section moved in changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

Update apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/calendar): change calendar resrtictions ux #1674
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.ts
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.html
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
  libs/components/src/styles/mixins/mixins.less
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
