Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(helpers): added empty query getter
  libs/components/src/lib/components/accordion/accordion.component.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.ts
  libs/components/src/lib/components/grid/grid.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-items/prizm-navigation-menu-items.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.ts
  libs/components/src/lib/components/slider/slider.component.ts
  libs/components/src/lib/components/splitter/splitter.component.ts
  libs/components/src/lib/components/stepper/stepper-selector.component.ts
  libs/components/src/lib/components/stepper/stepper.component.ts
  libs/components/src/lib/components/table/directives/sort-by.directive.ts
  libs/components/src/lib/components/table/tbody/tbody.component.ts
  libs/components/src/lib/components/table/th-group/th-group.component.ts
  libs/components/src/lib/components/table/tr/tr.component.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/doc/base/src/lib/components/documentation/documentation.component.ts
  libs/doc/base/src/lib/components/page/page.component.ts
  libs/helpers/src/lib/util/common.ts
Due: eslint, prettier --write

feat(helpers): added empty query getter
  libs/doc/base/src/lib/components/documentation/documentation.component.ts
Due: eslint, prettier --write

fix: check box extra margin #1189
  apps/doc/src/app/components/checkbox/checkbox-example.component.html
  apps/doc/src/app/components/checkbox/checkbox-example.component.less
  libs/components/src/lib/components/checkbox/checkbox.component.less
Due: eslint, prettier --write

fix: subtext sizing
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: hide breaking in table till 4.0
  apps/doc/src/app/components/table/examples/table-editable-col-example/table-editable-col-example.component.less
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
  libs/components/src/lib/components/table/td/td.component.less
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

feat: update beta ci to dev mode on build
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
Due: prettier --write

chore: update ci beta deploy tages
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
Due: prettier --write

feat(components/input-select): layout now optional
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.html
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.html
  libs/components/src/lib/components/input/input-month/input-layout-month.component.html
  libs/components/src/lib/components/input/input-time/input-layout-time.component.html
Due: eslint, prettier --write

fix: paddings in navigation changed
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.less
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.less
Due: prettier --write

fix: ci dev configuration for beta
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
Due: prettier --write

feat: temp logs
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
  libs/components/src/lib/components/scrollbar/scrollbar.component.ts
Due: eslint, prettier --write

feat: update colors for shadow #1199
  libs/components/src/lib/directives/shadow/models.ts
  libs/components/src/lib/modules/overlay/overlay.component.less
Due: eslint, prettier --write

feat: temp logs
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
Due: prettier --write

fix: ci
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
Due: prettier --write

feat: column setting dev
  apps/doc/src/app/components/table/examples/table-column-settings-custom-example/pipes/column-sticky-pipe.pipe.ts
  apps/doc/src/app/components/table/examples/table-column-settings-custom-example/pipes/header-sticky-pipe.pipe.ts
  apps/doc/src/app/components/table/examples/table-column-settings-custom-example/table-column-settings-example.component.html
  apps/doc/src/app/components/table/examples/table-column-settings-custom-example/table-column-settings-example.component.less
  apps/doc/src/app/components/table/examples/table-column-settings-custom-example/table-column-settings-example.component.ts
  apps/doc/src/app/components/table/table-example.component.html
  libs/components/src/lib/components/column-settings/column-settings.model.ts
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.html
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
Due: eslint, prettier --write

feat: temp logs
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
  libs/components/src/lib/directives/scroll-into-view/scroll-into-view.directive.ts
Due: eslint, prettier --write

fix: issue 952
  apps/doc/src/app/components/input/input-date-multi/examples/four/input-date-multi-four-example.component.html
Due: eslint, prettier --write

fix(components/input-select): fix style #946
  apps/doc/src/app/components/input/input-select/input-select.component.less
Due: prettier --write

fix(components/input-multi-select): re render fix #1048
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

fix(components/table): fix error in DI
  libs/components/src/lib/components/table/directives/table.directive.ts
Due: eslint, prettier --write

fix(components/input-layout-date-time): after clear set state
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

feat(component/table): added example with select
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.ts
  apps/doc/src/app/components/table/table-example.module.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

refactor: move to standalones some components
  libs/components/src/lib/components/calendar-month/calendar-month.component.ts
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.ts
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.module.ts
  libs/components/src/lib/directives/hovered/hovered.directive.ts
  libs/components/src/lib/directives/hovered/hovered.module.ts
  libs/components/src/lib/directives/mutation-observer/mutation-observer.directive.ts
  libs/components/src/lib/directives/mutation-observer/mutation-observer.module.ts
  libs/components/src/lib/directives/native-value/input-native-value.directive.ts
  libs/components/src/lib/directives/native-value/input-native-value.module.ts
  libs/components/src/lib/directives/overscroll/overscroll.directive.ts
  libs/components/src/lib/directives/overscroll/overscroll.module.ts
  libs/components/src/lib/directives/pressed/pressed.directive.ts
  libs/components/src/lib/directives/pressed/pressed.module.ts
  libs/components/src/lib/directives/prevent-default/prevent-default.directive.ts
  libs/components/src/lib/directives/prevent-default/prevent-default.module.ts
  libs/components/src/lib/directives/scroll-into-view/scroll-into-view.directive.ts
  libs/components/src/lib/directives/scroll-into-view/scroll-into-view.module.ts
  libs/components/src/lib/directives/shadow/shadow.directive.ts
  libs/components/src/lib/directives/shadow/shadow.module.ts
  libs/components/src/lib/directives/skeleton/skeleton.directive.ts
  libs/components/src/lib/directives/skeleton/skeleton.module.ts
Due: eslint, prettier --write

fix: style
  libs/components/src/lib/components/scrollbar/scrollbar.component.ts
  libs/components/src/lib/directives/scroll-into-view/scroll-into-view.directive.ts
  libs/icons/base/src/styles/icons-24/prizm-icons.less
  libs/icons/base/src/styles/styles.less
  libs/icons/flags/src/styles/font/prizm-flag-icons.less
  libs/icons/flags/src/styles/styles.less
  libs/theme/src/styles/font.less
Due: eslint, prettier --write

ci: update order
  .github/workflows/beta-released.yml
  .github/workflows/pre-released.yml
  .github/workflows/released.yml
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
  libs/components/src/lib/components/scrollbar/scrollbar.component.ts
  libs/components/src/lib/directives/scroll-into-view/scroll-into-view.directive.ts
Due: eslint, prettier --write

feat: cache to artifacts
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

chore: update ng and nx to 17
  .github/workflows/pr-ng17.yml
  .gitignore
  apps/doc/src/app/about-prizm/contacts/contacts.component.html
  migrations.json.ng17
  nxmv.json
  package-lock.json.ng17
  package.json.ng17
Due: eslint, prettier --write

chore: update ng and nx to 17
  .github/workflows/pr-ng17.yml
Due: prettier --write

fix(components/input-select): update value
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

feat(components/chips): update chips rerender
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
  libs/components/src/lib/components/chips/chips.component.html
  libs/components/src/lib/components/chips/chips.component.ts
Due: eslint, prettier --write

fix: test bug
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.less
Due: eslint, prettier --write

fix: test bugs
  apps/doc/src/app/components/input/input-select/input-select.component.less
Due: prettier --write

feat: update changelog for 3.8.0
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: prettier --write

fix: input-select style
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

chore: add to ignore
  .eslintignore
  .gitignore
  .prettierignore
Due: none

fix: style in doc
  apps/doc/src/app/components/input/input-text/examples/input-icon-buttons-example/input-icon-buttons-example.component.less
Due: prettier --write

fix: multi select input
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
