Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix(doc): fix test
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng14
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng15
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng16
Due: none

fix(doc): fix test
  .github/workflows/draft-publish-ng16.yml
  package-lock.json
  package-lock.json.ng16
  package.json
  package.json.ng16
Due: prettier --write

ci: ng16 draft
  .github/workflows/draft-publish-ng16.yml
Due: prettier --write

ci: release
  .github/workflows/draft-released.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

ci: next multiple version releases
  .github/workflows/draft-released.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

ci: next multiple version releases
  .github/workflows/pre-released.yml
Due: prettier --write

ci: release
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/tabs): opening a dropdown with tabs
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/tabs/components/tab.component.ts
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix(components/icon): icon name doesn't show in test id #589
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/icons/base/src/lib/prizm-icons.component.ts
Due: eslint, prettier --write

fix(components/dropdown): control with public methods #586
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.ts
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.module.ts
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/by-method/by-method-example.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/by-method/by-method-example.component.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

feat(components/input-layout-date-time-range): example with formgroup was added #565
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/form-group/input-layout-date-time-range-form-group-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/form-group/input-layout-date-time-range-form-group-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.module.ts
Due: eslint, prettier --write

fix(comoponents/checkbox): indeterminate state #608
  libs/components/src/lib/components/checkbox/checkbox.component.ts
Due: eslint, prettier --write

fix(components/sidebar): var name #587
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
Due: prettier --write

ci: pre released
  .github/workflows/pre-released.yml
Due: prettier --write

ci: pre released
  .github/workflows/released.yml
Due: prettier --write

feat(components/cron): pipe human readable
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

fix(components/sidbar): var value #587
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
Due: prettier --write

feat(components/cron-human-readable): stage 1
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.component.html
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.component.less
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.component.ts
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.module.ts
  apps/doc/src/app/components/cron-human-readable/examples/base/cron-base-example.component.html
  apps/doc/src/app/components/cron-human-readable/examples/base/cron-base-example.component.ts
  apps/doc/src/app/components/cron-human-readable/examples/setup-module.md
  libs/components/src/lib/components/cron-human-readable/cron-human-readable.module.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/cron-parser.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/cron.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/crons-i18n.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/expression-descriptor.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/i18n/all-locales-loader.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/i18n/all-locales.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/i18n/en-locale-loader.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/i18n/locale-loader.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/i18n/locale.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/i18n/locales/en.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/i18n/locales/ru.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/index.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/options.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/range-validator.ts
  libs/components/src/lib/components/cron-human-readable/human-readable/string-utilities.ts
  libs/components/src/lib/components/cron-human-readable/index.ts
  libs/components/src/lib/components/cron-human-readable/pipe/cron-human-readable.pipe.ts
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.ts
  libs/components/src/lib/components/cron/cron.module.ts
Due: eslint, prettier --write

fix(components/sidebar): style color var value
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
Due: prettier --write

feat(components/cron-human-readable): new independent module #577
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.component.html
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.component.ts
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.module.ts
  apps/doc/src/app/components/cron-human-readable/examples/base/cron-base-example.component.html
  apps/doc/src/app/components/cron-human-readable/examples/base/cron-base-example.component.ts
  apps/doc/src/app/components/cron-human-readable/examples/func/cron-func-example.component.html
  apps/doc/src/app/components/cron-human-readable/examples/func/cron-func-example.component.ts
  apps/doc/src/app/components/cron-human-readable/examples/setup-module.md
  apps/doc/src/app/components/cron/cron.component.html
  apps/doc/src/app/components/cron/cron.module.ts
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/cron-human-readable/pipe/cron-human-readable.pipe.ts
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.ts
  libs/components/src/lib/components/index.ts
  libs/i18n/src/lib/interfaces/language-names.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/russian.ts
Due: eslint, prettier --write

fix(components/dropdown): control with public methods #586
  libs/components/src/lib/components/cron-human-readable/pipe/cron-human-readable.pipe.ts
Due: eslint, prettier --write

feat(components/dialog): added new css vars #616
  libs/components/src/lib/components/dialogs/dialog/dialog.component.less
Due: prettier --write

feat(components/table): added row idx and example #598
  apps/doc/src/app/components/table/examples/table-index-example/table-index-example.component.html
  apps/doc/src/app/components/table/examples/table-index-example/table-index-example.component.less
  apps/doc/src/app/components/table/examples/table-index-example/table-index-example.component.ts
  apps/doc/src/app/components/table/examples/table-tree-example/table-tree-example.component.html
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
  apps/doc/src/app/components/table/table-example.module.ts
  libs/components/src/lib/components/table/table.types.ts
  libs/components/src/lib/components/table/tbody/tbody.component.html
Due: eslint, prettier --write

fix(doc/table): last element does not render in sticky footer #596
  apps/doc/src/app/components/table/examples/table-sticky-example/table-sticky-example.component.html
Due: eslint, prettier --write

fix(components/cron): fix error with changes in day zone #579
  libs/components/src/lib/components/cron/cron-ui-base.state.ts
Due: eslint, prettier --write

feat(components/multi-select): add tree multi select example
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.options.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.html
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.less
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.module.ts
Due: eslint, prettier --write

fix(components/cron): fix error
  libs/components/src/lib/components/cron/cron-ui-day.state.ts
Due: eslint, prettier --write

fix(doc/sticky): fix error
  apps/doc/src/app/components/sticky/examples/table/sticky-table-example.component.html
Due: eslint, prettier --write

fix(doc/dialog): add css color for footer
  libs/components/src/lib/components/dialogs/dialog/dialog.component.less
Due: prettier --write

fix(doc/multi-select): example was added
  apps/doc/src/app/components/input/input-multi-select/examples/with-tree/multi-select-with-tree-example.component.html
  apps/doc/src/app/components/input/input-multi-select/examples/with-tree/multi-select-with-tree-example.component.ts
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.ts
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.module.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.html
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.less
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.module.ts
Due: eslint, prettier --write

fix(components/sidebar): fix styles
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
Due: prettier --write

chore: prepare release 3.0.0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(componets/tree-multiselect): stage 1
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/dropdowns/multi-select/examples/with-object/multi-select-with-object-example.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/examples/base/tree-multi-select-base-example.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/examples/base/tree-multi-select-base-example.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/examples/setup-module.md
  apps/doc/src/app/components/input/input-tree-multi-select/examples/validators/tree-multi-select-validators-example.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/examples/validators/tree-multi-select-validators-example.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/examples/with-object/tree-multi-select-with-object-example.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/examples/with-object/tree-multi-select-with-object-example.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/examples/with-search/tree-multi-select-with-search-example.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/examples/with-search/tree-multi-select-with-search-example.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/examples/with-template/tree-multi-select-with-template-example.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/examples/with-template/tree-multi-select-with-template-example.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/examples/with-tree/tree-multi-select-with-tree-example.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/examples/with-tree/tree-multi-select-with-tree-example.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.component.less
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.module.ts
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/index.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/input-tree-multi-select.component.html
  libs/components/src/lib/components/dropdowns/tree-multi-select/input-tree-multi-select.component.less
  libs/components/src/lib/components/dropdowns/tree-multi-select/input-tree-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/input-tree-multi-select.module.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/tree-multi-select.model.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/tree-multi-select.options.ts
  libs/components/src/lib/components/index.ts
Due: eslint, prettier --write

feat(doc): versions was fixed in doc
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/version-manager.component.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

ci: update main publishing
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

ci: update main publishing
  .github/workflows/draft-released.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

ci: update main publishing
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

fix: correct npm tag for v2, v3
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
Due: prettier --write
