Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

feat(components/input-layout-month-range): added new component which support input-layout
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/input/input-layout-month-range/examples/base/input-layout-month-range-base-example.component.html
  apps/doc/src/app/components/input/input-layout-month-range/examples/base/input-layout-month-range-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-month-range/examples/setup-module.md
  apps/doc/src/app/components/input/input-layout-month-range/input-layout-month-range.component.html
  apps/doc/src/app/components/input/input-layout-month-range/input-layout-month-range.component.less
  apps/doc/src/app/components/input/input-layout-month-range/input-layout-month-range.component.ts
  apps/doc/src/app/components/input/input-layout-month-range/input-layout-month-range.module.ts
  apps/doc/src/app/components/input/input-month-range/input-month-range.component.html
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-month-range/index.ts
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.html
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.less
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.ts
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.directive.ts
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.module.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.ts
Due: eslint, prettier --write

feat(components/input-layout-month-range): added new component which support input-layout
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.html
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.html
  libs/components/src/lib/components/input/input-month/input-layout-month.component.html
  libs/components/src/lib/components/input/input-month/input-layout-month.component.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.html
  libs/components/src/lib/components/input/input-time/input-layout-time.component.ts
Due: eslint, prettier --write

chore: release 1.0.0-rc.2
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  package-lock.json
  package.json
Due: eslint, prettier --write

chore: update changelog file and small fixes
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.ts
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.html
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-date-range-time.transformer.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

fix(components/input-layout-*): add mark as touched
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.module.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.html
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.module.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date/input-layout-date.component.html
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.module.ts
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.html
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.module.ts
  libs/components/src/lib/components/input/input-month/input-layout-month.component.html
  libs/components/src/lib/components/input/input-month/input-layout-month.module.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.html
  libs/components/src/lib/components/input/input-time/input-layout-time.module.ts
Due: eslint, prettier --write

fix(doc/input-date-multi): update doc
  apps/doc/src/app/components/input/input-date-multi/input-date-multi.component.html
Due: eslint, prettier --write

fix(components/input-layout-date-time): small fixes
  apps/doc/src/app/components/input/input-date-multi/input-date-multi.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

feat(doc/live-demo): added controller to live demo for add/delete required validator
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/doc/base/src/lib/components/documentation/documentation.component.html
  libs/doc/base/src/lib/components/documentation/documentation.component.ts
Due: eslint, prettier --write

fix(components/input-layout-date-time): set time on null date
  libs/components/src/lib/@core/date-time/day-time-range.ts
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.less
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.less
  libs/components/src/lib/components/input/input-date-time-range/input-date-range-time.component.less
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.less
  libs/components/src/lib/components/input/input-date/input-layout-date.component.less
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.component.less
  libs/components/src/lib/components/input/input-month/input-layout-month.component.less
  libs/components/src/lib/components/input/input-time/input-layout-time.component.less
Due: eslint, prettier --write

feat(components/input-layout-date): modal window width should be as input layout width
  apps/doc/src/app/components/input/input-layout-date/input-layout-date.component.html
  apps/doc/src/app/components/input/input-layout-time/examples/with-ms/input-layout-time-with-ms-example.component.html
  apps/doc/src/app/components/input/input-layout-time/examples/with-preset/input-layout-time-with-preset-example.component.html
  apps/doc/src/app/components/input/input-layout-time/examples/with-preset/input-layout-time-with-preset-example.component.ts
  apps/doc/src/app/components/input/input-layout-time/examples/with-seconds/input-layout-time-with-seconds-example.component.html
  libs/components/src/lib/components/dialogs/sidebar/sidebar.models.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.html
Due: eslint, prettier --write

fix(components/input-password): when disabled is true, the show password button does not disable
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/input-layout-date-range/input-layout-date-range.component.html
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/input/input-password/input-password-auxiliary-control.component.ts
  libs/components/src/lib/components/input/input-password/input-password.directive.ts
Due: eslint, prettier --write

feat(components/input-multi-select): small fixes
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
Due: eslint, prettier --write

fix(components/input-multi-select): chips width
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

chore: updated changelog file
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/table): destroy table tree after destroy
  libs/components/src/lib/components/table/directives/cell.directive.ts
  libs/components/src/lib/components/table/directives/empty.directive.ts
  libs/components/src/lib/components/table/directives/head.directive.ts
  libs/components/src/lib/components/table/directives/loading.directive.ts
  libs/components/src/lib/components/table/directives/row.directive.ts
  libs/components/src/lib/components/table/directives/tree-loading.directive.ts
Due: eslint, prettier --write

fix(components/input): work ng-control
  apps/doc/src/app/components/input/input-select/examples/validators/select-validators-example.component.html
  apps/doc/src/app/components/input/input-select/examples/validators/select-validators-example.component.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

fix(components/input): detect required field
  apps/doc/src/app/components/input/input-select/examples/validators/select-validators-example.component.html
Due: eslint, prettier --write

fix(chore): rxjs version
  package-lock.json
  package.json
Due: prettier --write

fix(chore): remove cloud record
  .husky/pre-commit
Due: none

fix(chore): remove cloud record
  .husky/pre-push
Due: none

fix(chore): remove cloud record
  package-lock.json
  package.json
Due: prettier --write

fix(chore): schematics build errors
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .husky/pre-push
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-groups-example/example-data/expanded-items.service.ts
  libs/components/src/lib/components/checkbox/checkbox.component.ts
  libs/components/src/lib/components/navigation-menu/services/prizm-navigation-menu-group.service.ts
  libs/components/src/lib/components/navigation-menu/services/prizm-navigation-menu-toolbar.service.ts
  libs/components/src/lib/components/table/data-source.ts
  libs/components/src/lib/components/toast/toast.service.ts
  libs/components/src/lib/directives/dropdown-controller/dropdown-controller.directive.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/directives/outside-event/outsize-event.service.ts
  libs/components/src/lib/directives/sticky/sticky.directive.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
  libs/core/src/lib/decorators/observable.ts
  libs/deprecated/src/lib/components/nav-menu/components/nav-menu-group/prizm-nav-menu-group.component.ts
  libs/deprecated/src/lib/components/nav-menu/components/nav-menu/prizm-nav-menu.component.ts
  libs/doc/base/src/lib/components/copy/copy.component.ts
  libs/schematics/src/ng-add/setup/styles.ts
  nx.json
  package-lock.json
  package.json
Due: eslint, prettier --write

chore: fix test runner
  angular.json
  apps/doc-e2e/project.json
  apps/doc-pw-e2e/project.json
  apps/doc/project.json
  apps/plugin-e2e/project.json
  libs/ast/project.json
  libs/charts/base/project.json
  libs/components/project.json
  libs/core/project.json
  libs/deprecated/project.json
  libs/helpers/jest.config.ts
  libs/helpers/project.json
  libs/helpers/src/lib/pipes/call-func/call-func.pipe.spec.ts
  libs/i18n/project.json
  libs/icons/base/project.json
  libs/icons/flags/project.json
  libs/plugin/project.json
  libs/schematics/project.json
  libs/test/.eslintrc.json
  libs/test/README.md
  libs/test/jest.config.ts
  libs/test/project.json
  libs/test/src/index.ts
  libs/test/src/lib/test.module.ts
  libs/test/src/test-setup.ts
  libs/test/tsconfig.json
  libs/test/tsconfig.lib.json
  libs/test/tsconfig.spec.json
  libs/theme/project.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint, prettier --write

feat(nx-plugin): new generator for update versions
  libs/ast/schematics-helpers/src/get-publishable-projects/index.ts
  libs/ast/schematics-helpers/src/get-publishable-projects/util.spec.ts
  libs/ast/schematics-helpers/src/get-publishable-projects/util.ts
  libs/ast/schematics-helpers/src/index.ts
  libs/ast/schematics-helpers/src/update-project-versions/index.ts
  libs/ast/schematics-helpers/src/update-project-versions/util.spec.ts
  libs/ast/schematics-helpers/src/update-project-versions/util.ts
  libs/plugin/generators.json
  libs/plugin/src/generators/migrate-from-cb3/index.ts
  libs/plugin/src/generators/update-version/index.ts
  libs/plugin/src/generators/update-version/schema.d.ts
  libs/plugin/src/generators/update-version/schema.json
  package-lock.json
  package.json
Due: eslint, prettier --write

feat(ast): add semver manipulate functions
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/pages.ts
  apps/doc/src/app/tools/plugin/examples/accordion/accordion.component.html
  apps/doc/src/app/tools/plugin/examples/accordion/accordion.component.ts
  apps/doc/src/app/tools/plugin/plugin.component.html
  apps/doc/src/app/tools/plugin/plugin.component.ts
  apps/doc/src/app/tools/plugin/plugin.module.ts
  libs/ast/schematics-helpers/src/update-project-versions/util.ts
  libs/ast/src/index.ts
  libs/ast/src/lib/semver/index.ts
  libs/ast/src/lib/semver/model.ts
  libs/ast/src/lib/semver/parse.spec.ts
  libs/ast/src/lib/semver/parse.ts
  libs/ast/src/lib/semver/stingify.ts
  libs/ast/src/lib/semver/stringify.spec.ts
  libs/ast/src/lib/semver/update.spec.ts
  libs/ast/src/lib/semver/update.ts
  libs/plugin/src/generators/update-version/generator.spec.ts
  libs/plugin/src/generators/update-version/schema.d.ts
Due: eslint, prettier --write

fix(ast): small fixes
  apps/doc/src/app/tools/plugin/plugin.component.html
  libs/ast/package.json
  libs/ast/src/lib/semver/parse.ts
  libs/ast/src/lib/semver/stingify.ts
  libs/ast/src/lib/semver/update.ts
  libs/plugin/src/generators/update-version/generator.spec.ts
Due: eslint, prettier --write

fix(ast): test for semver utils
  libs/ast/src/lib/semver/parse.spec.ts
  libs/ast/src/lib/semver/parse.ts
Due: eslint, prettier --write

feat: stage 1
  .github/workflows/draft-publish.yml
Due: prettier --write

feat(ci): add draft publishing to release
  .github/workflows/main-publish.yml
  .github/workflows/prerelease-publish.yml
  .github/workflows/prereleased.yml
  .github/workflows/publish.yml
  apps/doc/src/app/tools/plugin/plugin.component.html
  libs/ast/schematics-helpers/src/update-project-versions/util.ts
  libs/plugin/src/generators/update-version/generator.spec.ts
  libs/plugin/src/generators/update-version/index.ts
  libs/plugin/src/generators/update-version/schema.d.ts
  libs/plugin/src/generators/update-version/schema.json
Due: eslint, prettier --write

feat(ci): add draft publishing to release
  .github/workflows/prerelease-publish.yml
Due: prettier --write

chore: fix deps version
  package-lock.json
  package.json
Due: prettier --write

feat(ci): add triggers
  .github/workflows/draft-publish.yml
  .github/workflows/main-publish.yml
  .github/workflows/notify-on-pr-merged.yml
  .github/workflows/notify-on-pr-updated.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

feat(ci): update nx-set-shas@v3
  .github/workflows/draft-publish.yml
  .github/workflows/main-publish.yml
  .github/workflows/pr.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

fix(ci): error with checkout
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .github/workflows/prereleased.yml
Due: prettier --write

fix(ci): error with checkout
  .github/workflows/prereleased.yml
Due: prettier --write

fix(ci): restore nrwl/nx-set-shas@v2
  .github/workflows/draft-publish.yml
  .github/workflows/main-publish.yml
  .github/workflows/pr.yml
  .github/workflows/prerelease-publish.yml
  .github/workflows/prereleased.yml
Due: prettier --write
