Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: icons
  apps/doc/src/app/code-demo/files/src/app/app.component.html.template
  apps/doc/src/app/components/buttons/button/examples/icons/icons-buttons-example.component.html
  apps/doc/src/app/components/dialogs/sidebar/examples/custom-button/custom-button-template.component.html
  apps/doc/src/app/components/dialogs/sidebar/examples/custom-header-template/custom-header-template.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/by-method/by-method-example.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/with-template/template.html
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-groups-example/navigation-menu-groups-example.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu/prizm-navigation-menu.component.html
Due: eslint, prettier --write

fix: icons
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.html
Due: eslint, prettier --write

fix: icons
  apps/doc/src/app/components/input/input-carousel/examples/input-as-carousel/input-as-carousel.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.html
Due: eslint, prettier --write

fix: icons
  apps/doc/src/app/components/buttons/tree-button/tree-button.component.ts
  libs/components/src/lib/components/button/split-button/split-button.component.ts
  libs/components/src/lib/components/input/carousel/input-carousel-auxiliary-left.component.ts
  libs/components/src/lib/components/input/carousel/input-carousel-auxiliary-right.component.ts
  libs/components/src/lib/components/input/input-number/input-number-auxiliary-controls.component.ts
Due: eslint, prettier --write

fix: icons
  apps/doc/src/app/components/input/input-number/examples/input-number-counter-example/input-number-counter-example.component.html
  apps/doc/src/app/components/input/input-number/examples/input-number-counter-float-example/input-number-counter-float-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  libs/components/src/lib/components/input/input-date-relative/input-date-relative.models.ts
Due: eslint, prettier --write

fix: icons
  libs/icons/base/src/lib/replace/common.ts
Due: eslint, prettier --write

fix: icons
  libs/components/src/lib/components/input/input-date-relative/input-date-relative.models.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.html
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

fix: icons
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

fix: hint icon margins added fot navigation menu #1329
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.less
Due: prettier --write

fix: add shadow color and fix doc styles #900
  apps/doc/src/app/guidelines/colors/components/palette/palette.component.css
  apps/doc/src/app/guidelines/colors/components/palette/palette.component.html
  apps/doc/src/app/guidelines/colors/components/theme-colors/theme-colors.component.css
  apps/doc/src/app/guidelines/colors/components/theme-colors/theme-colors.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.ts
Due: eslint, prettier --write

fix: required i18n
  apps/doc/src/app/components/input/input-text/examples/input-validation-custom-example/input-validation-custom-example.component.ts
  apps/doc/src/app/components/input/input-text/examples/input-validation-custom-example/input-validation-custom-texts.service.ts
  libs/components/src/lib/components/input/common/base/input-invalid-text-base-class.directive.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/input/common/services/input-invalid-subtext.service.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/english.ts
  libs/i18n/src/lib/languages/english/input.ts
  libs/i18n/src/lib/languages/russian/input.ts
  libs/i18n/src/lib/languages/russian/russian.ts
Due: eslint, prettier --write

fix: required i18n
  libs/i18n/src/lib/languages/english/english.ts
  libs/i18n/src/lib/languages/english/input.ts
Due: eslint, prettier --write

fix: navigation example icon fix
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-children-handler-example/navigation-menu-children-handler-example.component.html
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-groups-example/navigation-menu-groups-example.component.html
  libs/components/src/lib/components/button/button.component.less
Due: eslint, prettier --write

fix: accordion title hint incorrect position and showing
  apps/doc/src/app/components/accordion/accordion-example.component.html
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.html
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.ts
Due: eslint, prettier --write

fix: added translations for date time and code style fixes
  libs/components/src/lib/components/tabs/tabs.module.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
  libs/i18n/src/lib/languages/english/english.ts
  libs/i18n/src/lib/languages/english/input-layout-date-time.ts
Due: eslint, prettier --write

feat: change focus to focus-visible for radiobtn, checkbox, breadcrumbs #1297
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.less
  libs/components/src/lib/components/checkbox/checkbox.component.less
  libs/components/src/lib/components/radio/prizm-radio-button.component.less
Due: prettier --write

feat: change focus to focus visible to chips item and input icon btn
  libs/components/src/lib/components/chips/chips-item/chips-item.component.less
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
Due: prettier --write

feat: remove lodash es
  apps/doc/src/app/components/table/examples/table-column-settings-example/pipes/header-sticky-pipe.pipe.ts
  apps/doc/src/app/components/table/examples/table-tree-example/table-tree-example.component.ts
  libs/ast/schematics-helpers/src/run-tasks-by-project-name/run-tasks-by-project-name.ts
  libs/charts/base/src/lib/service/charts-theme.service.ts
  libs/components/src/lib/components/column-settings/column-settings.component.ts
  libs/doc/base/src/lib/components/documentation/documentation-property-connector.directive.ts
  libs/doc/base/src/lib/components/documentation/documentation.component.ts
  libs/helpers/src/lib/util/compare/compare.spec.ts
  libs/helpers/src/lib/util/index.ts
  libs/helpers/src/lib/util/is-equal.ts
  libs/helpers/src/lib/util/is-eual.spec.ts
  libs/helpers/src/lib/util/merge.spec.ts
  libs/helpers/src/lib/util/merge.ts
  libs/helpers/src/lib/util/order-by.spec.ts
  libs/helpers/src/lib/util/order-by.ts
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

feat: remove lodash es
  libs/helpers/src/lib/util/difference.spec.ts
  libs/helpers/src/lib/util/difference.ts
  libs/helpers/src/lib/util/index.ts
  libs/helpers/tsconfig.lib.json
  libs/nxmv/src/generators/apply/index.ts
  package-lock.json
  package.json
Due: eslint, prettier --write

feat: remove lodash es
  tsconfig.base.json
Due: prettier --write

fix: favicon fo doc
  apps/doc/src/favicon.ico
Due: none

fix(chore): stackblitz import style error
  apps/doc/src/app/code-demo/files/src/styles.less.template
  apps/doc/src/app/guidelines/theme/components/examples/custom-theme.md
  libs/components/src/styles/icons-16/icons-16.less
  libs/components/src/styles/icons/icons.less
  libs/components/src/styles/skeleton/skeleton.less
  libs/components/src/styles/styles.less
  libs/theme/src/styles/theme/index.less
Due: prettier --write

fix(chore): stacblitz for v3 #1209
  libs/components/src/styles/icons-16/icons-16.less
  libs/components/src/styles/icons/icons.less
  libs/components/src/styles/skeleton/skeleton.less
  libs/components/src/styles/styles.less
  libs/theme/src/styles/theme/v3/index.less
Due: prettier --write

Update apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.ts
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.ts
Due: eslint, prettier --write

feat: update docs
  .github/workflows/deploy-main-doc-ng14.yml
  .github/workflows/deploy-main-doc-ng15.yml
  .github/workflows/deploy-main-doc-ng16.yml
  .github/workflows/deploy-main-doc.yml
Due: prettier --write

fix: conflict in lock file
  package-lock.json
Due: prettier --write

fix: file upload example lang fix
  apps/doc/src/app/components/file-upload/file-upload-example.component.html
  apps/doc/src/app/components/file-upload/file-upload-example.component.ts
Due: eslint, prettier --write

fix: accordion item observer disconnect
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.ts
Due: eslint, prettier --write

fix: navigation old icons fix
  apps/doc/src/app/components/navigation/examples/navigation-basic-example/navigation-basic-example.module.ts
  apps/doc/src/app/components/navigation/navigation-example.component.ts
Due: eslint, prettier --write

fix: centeref position of icon in input icon button for new icons pack
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/doc/base/src/lib/components/host/host-element-listener.service.ts
Due: eslint, prettier --write

fix: input password icon update to new pack
  libs/components/src/lib/components/input/input-password/input-password-auxiliary-control.component.ts
Due: eslint, prettier --write

fix: input password icon styles fix
  libs/components/src/lib/components/input/input-password/input-password-auxiliary-control.component.ts
Due: eslint, prettier --write

feat: input chips css class for single line added, bc #1370
  apps/doc/src/app/components/input/input-chips/examples/input-chips-basic-example/input-chips-basic-example.component.less
  apps/doc/src/app/components/input/input-chips/examples/input-chips-item-example/input-chips-item-example.component.less
  apps/doc/src/app/components/input/input-chips/examples/input-chips-outer-example/input-chips-outer-example.component.less
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.html
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.less
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.ts
  libs/components/src/lib/components/chips/chips.component.less
  libs/components/src/lib/components/chips/chips.component.ts
Due: eslint, prettier --write

fix(component/input-layout-date-time): update native value after time correction
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

feat: release 4.0.0
  apps/doc/src/app/components/input/input-layout-date-time/examples/base-transformer/input-layout-date-time-base-transformer-example.component.ts
Due: eslint, prettier --write

fix(components/date-time): time validation does not always affect control display #1419
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

feat(ci): new deploy doc support
  .github/workflows/deploy-main-doc-ng17.yml
Due: prettier --write

fix(nxmv): for multiple version
  .eslintrc.json.ng17
  migrations.json.ng17
  package-lock.json.ng17
  package.json.ng17
  tsconfig.base.json.ng17
Due: none

fix(chore): swtiching version
  apps/doc/project.json.ng17
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng17
  libs/core/project.json.ng17
  libs/helpers/tsconfig.lib.json.ng17
  libs/icons/base/project.json.ng17
  libs/icons/base/tsconfig.lib.json.ng17
  libs/icons/flags/project.json.ng17
  libs/test/project.json.ng17
Due: none

fix(chore): swtiching version
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng17
Due: none

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
