Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix: input select examples prizm input status text fix #185
  apps/doc/src/app/components/input/input-select/examples/base/select-base-example.component.html
  apps/doc/src/app/components/input/input-select/examples/full-width/select-full-width-example.component.html
  apps/doc/src/app/components/input/input-select/examples/virtual-scroll/select-virtual-scroll-example.component.html
Due: eslint, prettier --write

fix: dropdown select panel example fix #1283
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.module.ts
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/select-panel-example/select-panel-example.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/select-panel-example/select-panel-example.component.less
Due: eslint, prettier --write

fix: breadcrumbs force update for content projection use case #1282
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.html
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.ts
Due: eslint, prettier --write

fix: breadcrumbs update for content projection use case #1282
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.ts
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.ts
Due: eslint, prettier --write

fix: style fixes
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.html
  apps/doc/src/app/components/breadcrumbs/examples/breadcrumbs-projection-basic/breadcrumbs-example-projection.component.ts
Due: eslint, prettier --write

fix: debounce time removed from template update function
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.ts
Due: eslint, prettier --write

fix: debounce replaced by asyncShceduler in breadcrumbs
  libs/components/src/lib/components/breadcrumbs/breadcrumbs.component.ts
Due: eslint, prettier --write

fix: dropdown host example module import fix
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.module.ts
Due: eslint, prettier --write

fix: input height fixes #1179, #1308
  libs/components/src/lib/components/input/carousel/input-carousel-auxiliary-left.component.ts
  libs/components/src/lib/components/input/carousel/input-carousel-auxiliary-right.component.ts
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/input-number/input-number-auxiliary-controls.component.less
Due: eslint, prettier --write

fix: fix styles for input chips
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: input chips styles fix
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: fix styles for textarea
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: input buttons overflow fix
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: input chips demo styles fix
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.less
Due: prettier --write

fix: status button for inputs style fix
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

fix: demo styles fix
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.less
Due: prettier --write

fix: date time range transformer token error #1364
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

fix(components/paginator): updated i18n #1390
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/paginator.ts
Due: eslint, prettier --write

fix: fromText added for paginator english texts
  libs/i18n/src/lib/languages/english/paginator.ts
Due: eslint, prettier --write

fix(components/tabs): issue with close tabs logic #1360
  libs/components/src/lib/components/tabs/components/tab.component.ts
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

fix(componets/tab): modificator
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

feat(components/tabs): added tests
  libs/components/src/lib/components/tabs/components/tabs.component.spec.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

feat: changelog update (3.11.1 issues)
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: input clear button position for centered values #1385
  apps/doc/src/app/components/input/input-text/examples/input-custom-clear-button-example/input-custom-clear-button-example.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/navigation-menu/services/prizm-navigation-menu-group.service.ts
Due: eslint, prettier --write

fix: input mask demo placeholder property added
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/input/input-mask/input-mask-example.component.html
  libs/doc/base/src/lib/components/host/host-element.directive.ts
Due: eslint, prettier --write

fix: multiselect size m style fixes
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
Due: prettier --write

fix: multiselect chips style fix
  libs/components/src/lib/components/chips/chips.component.less
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
Due: prettier --write

fix: textarea size l status button styles
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
Due: prettier --write

fix: shadow enum values changed to correct
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: multiselect chips style fix
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
Due: prettier --write

fix(component/tabs): error with double emitted idx on close tabls
  libs/components/src/lib/components/tabs/components/tab.component.spec.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/components/src/lib/components/tabs/tabs.module.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

feat: set default button min-width to 120px #1397
  apps/doc/src/app/components/buttons/button/button.component.ts
  apps/doc/src/app/components/buttons/button/examples/filled/filled-buttons-example.component.ts
  apps/doc/src/app/components/buttons/button/examples/ghost/ghost-buttons-example.component.ts
  apps/doc/src/app/components/buttons/button/examples/outline/outline-buttons-example.component.ts
  libs/components/src/lib/components/button/button.component.less
Due: eslint, prettier --write

fix: remove log
  libs/icons/base/src/lib/icons/icons.component.ts
Due: eslint, prettier --write
