Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: fix package lock ng 16
  package-lock.json
  package-lock.json.ng16
  pnpm-lock.yaml
Due: prettier --write

chore: fix package lock ng 16
  libs/components/package.json
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/theme/package.json
  package-lock.json.ng16
  package.json.ng16
Due: eslint, prettier --write

chore: update in ng 15
  package-lock.json.ng15
  package.json.ng15
Due: none

chore: update in ng 14
  package-lock.json.ng14
  package.json.ng14
Due: none

chore: update in ng 14
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

chore: update in ng
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
Due: prettier --write

chore: update in ng
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

refactor: replace deprecated import to inputDateMulti
  libs/components/src/lib/components/input/input-date-multi/input-date-multi.component.ts
  libs/components/src/lib/components/input/input-date-multi/input-date-multi.module.ts
Due: eslint, prettier --write

chore: update in ng
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

feat: textarea v3 colors update #1064
  libs/components/src/lib/components/input/input-date-range/input-date-range.component.ts
  libs/components/src/lib/components/input/input-month-range/input-layout-month-range.module.ts
  libs/components/src/lib/components/input/input-month-range/input-month-range.module.ts
  libs/components/src/lib/components/input/input-number/input-number.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/input/input-text/input-textarea.component.less
Due: eslint, prettier --write

fix: pipelines
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

fix: pipelines
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

fix: pipelines
  libs/components/package.json
  libs/components/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
Due: prettier --write

feat: setup guide for themes doc #979
  apps/doc/src/app/guidelines/theme/components/examples/setup-module.md
  apps/doc/src/app/guidelines/theme/components/examples/setup-styles.md
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.ts
Due: eslint, prettier --write

feat: inverted theme guide #979
  apps/doc/src/app/guidelines/theme/components/examples/theme-reverse.md
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.html
Due: eslint, prettier --write

fix: invalid icon name can be set in accordion live demo #947
  apps/doc/src/app/components/accordion/accordion-example.component.html
  apps/doc/src/app/components/accordion/accordion-example.component.ts
  apps/doc/src/app/components/accordion/accordion-example.module.ts
  apps/doc/src/app/components/buttons/button/button.component.ts
Due: eslint, prettier --write

fix: toggle extra notification in live demo #530
  apps/doc/src/app/components/toggle/toggle.component.ts
Due: eslint, prettier --write

refactor: toggle documentation module renamed
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/toggle/toggle-example.component.html
  apps/doc/src/app/components/toggle/toggle-example.component.less
  apps/doc/src/app/components/toggle/toggle-example.component.ts
  apps/doc/src/app/components/toggle/toggle-example.module.ts
  apps/doc/src/app/components/toggle/toggle.component.less
Due: eslint, prettier --write

feat: update documentation lable colors
  libs/components/src/lib/components/chips/chips-item/chips-item.component.less
  libs/doc/base/src/lib/components/navigation/navigation.component.html
  libs/doc/base/src/lib/components/navigation/navigation.component.less
  libs/doc/base/src/lib/components/navigation/navigation.module.ts
Due: eslint, prettier --write

fix(components): remove changes invoked brecking
  apps/doc/src/app/components/table/table-example.component.html
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

chore: up to 3.5.2
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

chore: up to 2.6.2
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  libs/ast/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/generators.json
  libs/nxmv/package.json.ng15
  libs/plugin/generators.json
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: prettier --write

chore: up to 1.9.2
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

chore: fix v2 packages
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  libs/charts/base/package.json.ng15
  libs/icons/flags/package.json.ng15
Due: prettier --write

chore: fix caches in pipelines
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
Due: prettier --write

fix: small code style fix
  libs/components/src/lib/components/tabs/tabs.component.html
Due: eslint, prettier --write

fix: accordion example module import return
  apps/doc/src/app/components/accordion/accordion-example.module.ts
Due: eslint, prettier --write

feat: calendars v3 colors #987
  libs/components/src/lib/components/calendar-month/calendar-month.component.html
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/lib/components/calendar-month/calendar-month.component.ts
  libs/components/src/lib/components/calendar-month/calendar-month.module.ts
  libs/components/src/lib/components/calendar-range/calendar-range.component.html
  libs/components/src/lib/components/calendar-range/calendar-range.component.less
  libs/components/src/lib/components/internal/primitive-calendar-range/primitive-calendar-range.component.html
  libs/components/src/lib/components/internal/primitive-calendar-range/primitive-calendar-range.component.less
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.html
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.less
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.component.less
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.component.ts
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.template.html
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.html
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.less
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.module.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.less
  libs/components/src/styles/mixins/mixins.less
  libs/components/src/styles/mixins/picker.less
Due: eslint, prettier --write

feat: calendars v3 colors #987
  libs/components/src/lib/components/calendar-month/calendar-month.module.ts
Due: eslint, prettier --write

feat: input icon button colors #1064
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
Due: prettier --write

feat: inputs v3 colors in progress
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-invalid-subtext/input-status-subtext.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/common/styles/input.component.less
Due: prettier --write

feat: input layout v3 colors #1064
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

feat: textarea v3 colors update #1064
  libs/components/src/lib/components/input/input-date-range/input-date-range.component.ts
  libs/components/src/lib/components/input/input-month-range/input-month-range.module.ts
  libs/components/src/lib/components/input/input-text/input-textarea.component.less
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
