Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(chore): up versions to 5.7.0 #0
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_5.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  nxmv.json
  package.json
Due: eslint, prettier --write

feat(chore): update changelog #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc/calendar-year): improve custom footer example #000
  apps/doc/src/app/components/calendars/calendar-year/examples/custom-footer/custom-footer-example.component.html
  apps/doc/src/app/components/calendars/calendar-year/examples/custom-footer/custom-footer-example.component.ts
Due: eslint, prettier --write

feat(chore): update version of github action artifact to v4 #0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/beta-publish-ng17.yml.ng17
  .github/workflows/beta-publish-ng18.yml
  .github/workflows/beta-publish-ng18.yml.ng18
  .github/workflows/deploy-main-doc-ng14.yml
  .github/workflows/deploy-main-doc-ng15.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml.ng17
  .github/workflows/main-publish-ng18.yml
  .github/workflows/main-publish-ng18.yml.ng18
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
  .github/workflows/pre-release-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml.ng17
  .github/workflows/pre-release-publish-ng18.yml
  .github/workflows/pre-release-publish-ng18.yml.ng18
Due: prettier --write

fix(components/input-layout-year): improve value coorection behavior #000
  libs/components/src/lib/components/input/input-year/input-layout-year.component.html
  libs/components/src/lib/components/input/input-year/input-layout-year.component.ts
Due: eslint, prettier --write

feat(doc/input-layout-date-time-range): improve examples #000
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/base/input-layout-date-time-range-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

fix(components/dropdown-host): correct parent closing logic in triple and more nesting case #2329
  libs/components/src/lib/directives/zone-event/zone-event.directive.ts
  libs/components/src/lib/directives/zone-event/zone-event.service.ts
Due: eslint, prettier --write

fix(components/dropdown-host): correct parent closing logic in triple and more nesting case #2329
  libs/components/src/lib/directives/zone-event/zone-event.directive.ts
Due: eslint, prettier --write

fix(chore): stackblitz version for v5 #0
  apps/doc/src/app/code-demo/code-demo.service.ts
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts
  apps/doc/src/app/code-demo/files/src/app/shared.module.ts.template
  apps/doc/src/app/code-demo/util.ts
  libs/doc/base/src/lib/components/example/example.component.html
  libs/doc/base/src/lib/components/example/example.component.ts
  libs/doc/base/src/lib/services/demo/model.ts
  libs/theme/src/styles/styles.less
Due: eslint, prettier --write

feat(chore): up verstions to 5.8.0 and changelog g #0
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_5.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  nxmv.json
  package.json
Due: eslint, prettier --write

fix(chore): small error with imports #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/time-picker/time-picker.component.ts
Due: eslint, prettier --write

fix(chore): prerelease ci #0
  .github/workflows/beta-publish-ng18.yml
  .github/workflows/pre-release-publish-ng18.yml
  .github/workflows/pre-release-publish-ng18.yml.ng18
Due: prettier --write

ci: up
  .gitlab-ci.yml
Due: prettier --write

ci: up
  .gitlab-ci.yml
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

fix(components/confirm-dialog): correct paddings #2305
  apps/doc/src/app/components/dialogs/dialog/examples/outher-header/dialog-outher-header-example.component.ts
  apps/doc/src/app/components/tooltip/examples/with-template/tooltip-with-template-example.component.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.less
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
  libs/components/src/lib/directives/confirm-popup/confirm-popup-container.component.less
Due: eslint, prettier --write

fix(components/accordion): cursor pointer state #2141
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.less
Due: prettier --write

fix(components/accordion): showed cursor for header #0
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.less
Due: prettier --write

fix(components/accordion): remove not allowed cursor from body #0
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.less
Due: prettier --write

fix(doc/dropdown-host): add disable property to live demo #2343
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.html
Due: eslint, prettier --write

fix(components/tab): button disappear after click from dropdown #2096
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix(components/cron): double emits change event #2113
  apps/doc/src/app/components/cron/cron.component.ts
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

fix(components/multi-select): chevron overlaps input for layout with status #1744
  libs/components/src/lib/components/chips/chips.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/tree-multi-select.component.ts
Due: eslint, prettier --write

fix(components/tabs): wrwrong display right button on zoomed browser viewport #988
  apps/doc/src/app/components/tabs/tabs-example.component.html
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix(components/tabs): wrwrong display right button on zoomed browser viewport #988
  apps/doc/src/app/components/tabs/tabs-example.component.html
Due: eslint, prettier --write

fix(components/tabs): wrwrong display right button on zoomed browser viewport #988
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix(components/switcher): wrong set touched state #2180
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
  libs/components/src/lib/components/switcher/directives/switcher-control.directive.ts
Due: eslint, prettier --write

fix(components/switcher): wrong set touched state #2180
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
Due: eslint, prettier --write

fix(components/switcher): after blur did not set touch state #0
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
Due: eslint, prettier --write

testing deployment in dmz-kube
  .gitlab-ci.yml
Due: prettier --write

refactor(components/switcher): fix attr order #000
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
