Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: change old prefixes
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.html
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.ts
  libs/components/src/lib/components/header/components/prizm-header-dropdown/prizm-header-dropdown.component.less
  libs/components/src/lib/components/header/components/prizm-header-module-btn/prizm-header-module-btn.component.less
  libs/components/src/lib/components/header/prizm-header.component.less
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-expandable/prizm-navigation-item-expandable.component.less
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-simple/prizm-navigation-item-simple.component.less
  libs/components/src/lib/directives/shadow/models.ts
  libs/components/src/lib/modules/overlay/overlay.component.less
Due: eslint, prettier --write

fix(components/cron-human-readable-text): fix passed language
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.component.html
  apps/doc/src/app/components/cron-human-readable/cron-human-readable.module.ts
  apps/doc/src/app/components/cron-human-readable/examples/base/cron-base-example.component.html
  apps/doc/src/app/components/cron-human-readable/examples/base/cron-base-example.component.ts
  apps/doc/src/app/components/cron-human-readable/examples/func/cron-func-example.component.html
  apps/doc/src/app/pages.ts
  libs/components/src/lib/components/cron-human-readable/pipe/cron-human-readable.pipe.ts
  libs/i18n/src/lib/switch/index.ts
  libs/i18n/src/lib/switch/language-switcher.providers.ts
Due: eslint, prettier --write

fix: restore styles
  apps/doc/src/app/components/table/examples/table-editable-col-example/table-editable-col-example.component.less
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
  libs/components/src/lib/components/table/td/td.component.less
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

fix: restore styles
  libs/components/src/lib/components/toggle/toggle.component.less
Due: prettier --write

feat(components/skeleton): disable box-shadow when skeleton is active
  apps/doc/src/app/components/skeleton/examples/base/skeleton-base-example.component.html
  libs/components/src/styles/skeleton/skeleton.less
Due: eslint, prettier --write

fix(doc/tabs): color in example
  apps/doc/src/app/components/tabs/examples/tabs-example-in-panel/tabs-example-in-panel.component.less
Due: prettier --write

fix: small fixes
  libs/components/src/lib/directives/shadow/models.ts
Due: eslint, prettier --write

fix: small fix for tabs
  libs/components/src/lib/components/tabs/tabs.component.less
Due: prettier --write

fix: small fix for confirm popup
  libs/components/src/lib/directives/confirm-popup/confirm-popup.directive.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

fix(comfirm-popup): small fixes
  apps/doc/src/app/components/input/input-mask/input-mask-example.component.html
Due: eslint, prettier --write

fix: small fixes for calendar
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.html
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.html
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.ts
  libs/components/src/lib/pipes/month/month.pipe.ts
  libs/components/src/lib/providers/month-formatter.provider.ts
Due: eslint, prettier --write

fix(components/cron): small fixes
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/switcher/switcher.component.html
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

fix: table styles
  libs/components/src/lib/components/table/td/td.component.less
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

fix: table style on vertiacal
  libs/components/src/lib/components/table/tr/tr.component.less
Due: prettier --write

feat: update ci to 17
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/beta-released.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  .github/workflows/pre-released.yml
  .github/workflows/released.yml
Due: prettier --write

fix: i18n error
  libs/core/project.json.ng17
  libs/i18n/src/lib/switch/if-language.directive.ts
Due: eslint, prettier --write

fix: configs for ng 17
  .github/workflows/pr-ng17.yml
  .prettierignore
  apps/doc/project.json.ng17
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/tsconfig.app.json.ng17
  libs/ast/project.json.ng17
  libs/charts/base/project.json.ng17
  libs/components/project.json.ng17
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/core/project.json
  libs/core/project.json.ng17
  libs/helpers/project.json.ng17
  libs/i18n/project.json.ng17
  libs/icons/base/project.json.ng17
  libs/icons/flags/project.json.ng17
  libs/nxmv/project.json.ng17
  libs/plugin/project.json.ng17
  libs/schematics/project.json.ng17
  libs/test/project.json.ng17
  libs/theme/project.json.ng17
  migrations.json
  migrations.json.ng17
  nx.json.ng17
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
  tsconfig.base.json.ng17
Due: eslint, prettier --write

fix: ng 17 configs
  .github/workflows/beta-released.yml
  .github/workflows/pre-released.yml
  .github/workflows/released.yml
Due: prettier --write

fix: packages
  libs/ast/package.json.ng17
  libs/charts/base/package.json.ng17
  libs/components/package.json.ng17
  libs/core/package.json.ng17
  libs/helpers/package.json.ng17
  libs/i18n/package.json.ng17
  libs/icons/base/package.json.ng17
  libs/icons/flags/package.json.ng17
  libs/nxmv/package.json.ng17
  libs/plugin/package.json.ng17
  libs/schematics/package.json.ng17
  libs/theme/package.json.ng17
  package-lock.json
  package.json
Due: prettier --write

chore: fix version 4
  apps/doc/src/app/version-manager/current.const.ts.ng17
Due: none

fix: nx-mv version
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
Due: prettier --write

fix: nxmv version
  libs/nxmv/src/generators/apply/index.ts
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

feat(update-version): added @swc/helpers
  package-lock.json
  package.json
Due: prettier --write

fix: ci for v4
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  package-lock.json.ng17
  package.json.ng17
Due: prettier --write

fix: deploy next|beta version for v4 version
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
Due: prettier --write

feat: update version to nxmv
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
Due: prettier --write

feat: update doc v4
  .firebaserc
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pr-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  apps/doc/src/app/version-manager/versions.constants.ts
  package.json
  package.json.ng17
Due: eslint, prettier --write

feat: release 3.9.1
  apps/doc/src/app/logo/logo.component.ts
  libs/theme/src/lib/directive/theme/theme-inverted.directive.ts
  libs/theme/src/lib/services/theme.service.ts
Due: eslint, prettier --write

fix(components/tabs): set stacking context to isolate #1291
  libs/components/src/lib/components/tabs/tabs.component.less
Due: prettier --write

fix: empty validation
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/theme/src/lib/services/theme.service.ts
Due: eslint, prettier --write

fix(components): small fixes from test
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/theme/src/lib/services/theme.service.ts
Due: eslint, prettier --write

fix: small
  apps/doc/src/app/logo/logo.component.ts
Due: eslint, prettier --write

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: up to 3.10.0
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

chore: up to 2.11.0
  apps/doc/src/app/version-manager/current.const.ts.ng15
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: none

chore: up to 2.11.0
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

chore: up to 1.14.0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

fix(component/input-text): delivered changes to all ng versions
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng16
Due: none

feat(doc): added ability to change current tokens
  apps/doc/project.json
  apps/doc/src/app/app.module.ts
  apps/doc/src/app/logo/logo.component.html
  apps/doc/src/app/logo/logo.component.ts
  apps/doc/src/app/logo/logo.module.ts
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.html
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.less
  apps/doc/src/app/theme-token-changer/theme-token-changer.component.ts
  libs/theme/src/index.ts
  libs/theme/src/lib/const.ts
  libs/theme/src/lib/obj.ts
  libs/theme/src/lib/services/theme.service.ts
  libs/theme/src/styles/theme/v3/dark.less
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
