Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

feat(doc/changelog): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/input-layout-inserted): hide button for empty state #000
  libs/components/src/lib/components/input/common/input-layout/input-layout-inserted.component.less
Due: prettier --write

fix(doc/table): correct example for editable tables #000
  apps/doc/src/app/components/table-advanced/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.html
Due: eslint, prettier --write

fix(components/switcher): add type button to switcher button #2254
  apps/doc/src/app/components/switcher/switcher-example.module.ts
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
Due: eslint, prettier --write

fix(components/toast): toast content width changed #305
  libs/components/src/lib/components/toast/toast/toast.component.less
Due: prettier --write

fix(components/toast): fix max toast container width #000
  libs/components/src/lib/components/toast/toast/toast.component.less
Due: prettier --write

fix(components/combobox): open on clear #0
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.html
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.ts
Due: eslint, prettier --write

fix(components/input): correction input hint behavior for input without ng-control #1966
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.html
  apps/doc/src/app/components/input/input-text/examples/input-basic-example/input-basic-example.component.html
  libs/components/src/lib/components/chips/chips.component.html
  libs/components/src/lib/components/chips/chips.component.ts
  libs/components/src/lib/components/input/common/input-hint/input-hint.directive.ts
  libs/components/src/lib/components/input/input-number/input-number.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

fix(doc/changelog): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/tabs): autoscroll to selected tab in dropdown added #1962
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix(components/input-layout-date-time): update calendar view after control value changed #2243
  apps/doc/src/app/components/input/input-layout-date-range/examples/base/input-layout-date-range-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date-range/examples/base/input-layout-date-range-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-range/input-layout-date-range.module.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/base/input-layout-date-time-range-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/base/input-layout-date-time-range-base-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.module.ts
  apps/doc/src/app/components/input/input-layout-date/examples/base/input-layout-date-base-example.component.html
  apps/doc/src/app/components/input/input-layout-date/examples/base/input-layout-date-base-example.component.ts
  libs/components/src/lib/components/calendar-range/calendar-range.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.ts
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.ts
Due: eslint, prettier --write

fix(chore): nxmv release pipelines #0
  package-lock.json
  package-lock.json.ng17
  package-lock.json.ng18
Due: prettier --write

fix(chore): ci remove lock templates #0
  .github/workflows/main-publish-ng18.yml
Due: prettier --write

feat(components/input-layout-date-time): add ability to custumise customise time dropddown #1140
  apps/doc/src/app/components/input/input-layout-date-time/examples/custom-time-picker/input-layout-date-time-custom-time-picker-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time/examples/custom-time-picker/input-layout-date-time-custom-time-picker-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.html
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.ts
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.module.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/time-picker/time-picker.component.ts
Due: eslint, prettier --write

fix(components/input-layout-date-range): import merge error correction #000
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

fix(components/input-layout-date-range): add data stream providers #000
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/internal/primitive-calendar-range/primitive-calendar-range.component.ts
Due: eslint, prettier --write

fix(components/table): add styles for focus within in inserted inputs #000
  libs/components/src/lib/components/input/common/input-layout/input-layout-inserted.component.less
  libs/components/src/lib/components/table/td/td.component.less
Due: prettier --write

feat(chore): release 5.4.1 #0
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_5.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  nxmv.json
  package.json
  package.json.ng18
Due: eslint, prettier --write

feat(chore): release 4.8.1 #0
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_4.md
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  nxmv.json.ng17
  package-lock.json
  package-lock.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

feat(chore): release 4.8.1 #0
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_4.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  nxmv.json.ng17
  package.json
  package.json.ng17
Due: eslint, prettier --write

feat(components/input-date-time): remove default styles and scroll if time template used #000
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
Due: eslint, prettier --write

feat(components/combobox): stage #0
  apps/doc/src/app/components/input/combobox/combobox-example.component.html
  apps/doc/src/app/components/input/combobox/combobox-example.component.ts
  apps/doc/src/app/components/input/combobox/combobox-example.module.ts
  apps/doc/src/app/components/input/combobox/examples/missing-value-handler/combobox-missing-value-handler-example.component.html
  apps/doc/src/app/components/input/combobox/examples/missing-value-handler/combobox-missing-value-handler-example.component.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox-missing-value-handler.directive.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox.model.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox.module.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox.options.ts
  libs/components/src/lib/components/dropdowns/combobox/index.ts
Due: eslint, prettier --write

feat(components/input-layout-time): add ability to customise time dropddown #1140
  apps/doc/src/app/components/input/input-layout-date-time/examples/custom-time-picker/input-layout-date-time-custom-time-picker-example.component.html
  apps/doc/src/app/components/input/input-layout-time/examples/custom-time-picker/input-layout-time-custom-time-picker-example.component.html
  apps/doc/src/app/components/input/input-layout-time/examples/custom-time-picker/input-layout-time-custom-time-picker-example.component.ts
  apps/doc/src/app/components/input/input-layout-time/input-layout-time.component.html
  apps/doc/src/app/components/input/input-layout-time/input-layout-time.component.ts
  apps/doc/src/app/components/input/input-layout-time/input-layout-time.module.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.html
  libs/components/src/lib/components/input/input-time/input-layout-time.component.ts
Due: eslint, prettier --write

feat(components/input-date-time-range): add ability to use custom time picker (draft) #000
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/custom-time-picker/input-layout-date-time-range-custom-time-picker-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/custom-time-picker/input-layout-date-time-range-custom-time-picker-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.module.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

feat(doc/input-layout-time): add property to live demo #000
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.html
  apps/doc/src/app/components/input/input-layout-time/input-layout-time.component.html
Due: eslint, prettier --write

feat(components/combobox): added support autcomplete mode #0
  apps/doc/src/app/components/input/combobox/combobox-example.component.html
  apps/doc/src/app/components/input/combobox/combobox-example.component.ts
  apps/doc/src/app/components/input/combobox/combobox-example.module.ts
  apps/doc/src/app/components/input/combobox/examples/autocomplete-mode/combobox-autocomplete-mode-example.component.html
  apps/doc/src/app/components/input/combobox/examples/autocomplete-mode/combobox-autocomplete-mode-example.component.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox-autocomplete.directive.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox-missing-value-handler.directive.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox-source-items.directive.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.html
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox.module.ts
  libs/components/src/lib/components/dropdowns/combobox/index.ts
Due: eslint, prettier --write

feat(components/confirm-dialog): add translations for default bytton texts #2209
  apps/doc/src/app/components/dialogs/confirm-dialog/examples/footer-template/footer-template.component.html
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.html
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.less
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.service.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/dialogs.ts
  libs/i18n/src/lib/languages/english/english.ts
  libs/i18n/src/lib/languages/russian/dialogs.ts
  libs/i18n/src/lib/languages/russian/russian.ts
Due: eslint, prettier --write

feat(components/sidebar): add translations for default button texts #2209
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.html
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.service.ts
Due: eslint, prettier --write

feat(components/confirm-popup): add translations for default button texts #2209
  libs/components/src/lib/directives/confirm-popup/confirm-popup-container.component.html
  libs/components/src/lib/directives/confirm-popup/confirm-popup-container.component.ts
  libs/components/src/lib/directives/confirm-popup/util.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/dialogs.ts
  libs/i18n/src/lib/languages/russian/dialogs.ts
Due: eslint, prettier --write

refactor(components/card): improve code for types safty #000
  libs/components/src/lib/components/card/card-options.ts
  libs/components/src/lib/components/card/card.component.ts
Due: eslint, prettier --write

fix(chore): package lock files was broken in v4 #0
  package-lock.json
  package.json
Due: prettier --write

feat(components/combobox): support missing value #0
  package-lock.json
Due: prettier --write

fix(components/combobox): fix bugs from tester #0
  apps/doc/src/app/components/input/combobox/combobox-example.component.html
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.html
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.ts
  libs/doc/base/src/lib/components/host/host-element.service.ts
Due: eslint, prettier --write

Update apps/doc/src/app/components/navigation-menu/examples/navigation-menu-basic-example/navigation-menu-basic-example.component.html
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-basic-example/navigation-menu-basic-example.component.html
Due: eslint, prettier --write

Update apps/doc/src/app/components/navigation-menu/examples/navigation-menu-one-mode-example/navigation-menu-one-mode-example.component.html
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-one-mode-example/navigation-menu-one-mode-example.component.html
Due: eslint, prettier --write

fix(components/combobox): fix bugs from review #0
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.ts
Due: eslint, prettier --write

feat(components/select): add localisation to empty and null content #2163
  libs/components/src/lib/components/dropdowns/select/input-select-item.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.options.ts
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/english.ts
  libs/i18n/src/lib/languages/english/index.ts
  libs/i18n/src/lib/languages/english/select.ts
  libs/i18n/src/lib/languages/russian/index.ts
  libs/i18n/src/lib/languages/russian/russian.ts
  libs/i18n/src/lib/languages/russian/select.ts
Due: eslint, prettier --write

fix(i18n): add languge exports #000
  libs/i18n/src/lib/languages/english/index.ts
  libs/i18n/src/lib/languages/russian/index.ts
Due: eslint, prettier --write
