Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix(doc/chips): fix disabled state #000
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.html
Due: eslint, prettier --write

fix(components/input-text): removed comment #000
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

fix(components/input-text): fix set-value #000
  apps/doc/src/app/components/input/input-text/input.component.html
  apps/doc/src/app/components/input/input-text/input.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

feat(components/input-select): added input to control autoreposition dropdown #1688
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.ts
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.options.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.options.ts
Due: eslint, prettier --write

fix(components/switcher): add async example for issue #1476
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.html
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.less
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.ts
  apps/doc/src/app/components/switcher/switcher-example.component.html
  apps/doc/src/app/components/switcher/switcher-example.component.ts
  apps/doc/src/app/components/switcher/switcher-example.module.ts
Due: eslint, prettier --write

fix(components/switcher): selected switcher logic moved from setter to ngOnChanges #1476
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.html
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.less
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.ts
  apps/doc/src/app/components/switcher/switcher-example.module.ts
  libs/components/src/lib/components/switcher/switcher.component.ts
  libs/components/src/lib/components/switcher/swithcer.const.ts
Due: eslint, prettier --write

feat(components/switcher): move logic from ngonchanges to function #1476
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

fix(components/swithcer): switcher stters fix #1315
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

fix(components/switcher): filter empty switcher array #1476
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.html
  apps/doc/src/app/components/switcher/examples/switcher-async-example/switcher-async-example.component.ts
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

fix(components/tree): incorrect markup fix #1742
  apps/doc/src/app/components/tree/examples/component/folder.component.less
  libs/components/src/lib/components/tree/components/tree-item-content/tree-item-content.component.less
  libs/components/src/lib/components/tree/components/tree-item/tree-item.component.less
Due: prettier --write

fix(components/number): fix error on clear #1684
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

feat(chore): up version to 1.19.0 #000
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

feat(chore): up version to 2.16.0 #000
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/package.json.ng15
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

feat(chore): up version to 3.15.0 #000
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng16
  libs/charts/base/package.json.ng16
  libs/components/package.json.ng16
  libs/core/package.json.ng16
  libs/helpers/package.json.ng16
  libs/i18n/package.json.ng16
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json.ng16
  libs/plugin/package.json.ng16
  libs/schematics/package.json.ng16
  libs/theme/package.json.ng16
  package.json.ng16
Due: eslint, prettier --write

feat(doc/changelog): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc): up versions to 3.15, 2.16, 1.19 in version manager #000
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(components/hint): fix but with hover detect #000
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/directives/confirm-popup/confirm-popup.directive.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

fix(components/input-relative-date): fix bug with manual input #000
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

feat(components/hint): stage 1 #830
  apps/doc/src/app/components/hint/examples/base/hint-base-example.component.html
  libs/components/src/lib/directives/hint/hint-container.component.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
  libs/components/src/lib/modules/overlay/overlay.component.ts
  libs/components/src/lib/modules/overlay/token.ts
Due: eslint, prettier --write

feat(chore): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(chore): merge fixes from v3 #000
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

fix(chore): cherry-pick all commits #000
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.html
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/input-password/input-password-auxiliary-control.component.ts
  libs/components/src/lib/components/input/input-text/input-block.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng16
Due: eslint, prettier --write

fix(components/input-text): incorrect behavior occurring in PrizmInputComponent when NgxMaskDirective is applied and the value changes from an empty state. #1190
  libs/components/src/lib/components/input/input-text/input-block.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng16
Due: eslint, prettier --write

fix(components/input-text): for ng14 #000\
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
Due: none

feat(chore): update check list for v4 #000
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_4.md
Due: none

fix(ci): builds for v4 #000
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/deploy-main-doc-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pr-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
Due: prettier --write

feat(components/paginator): add left direction support #1154
  apps/doc/src/app/components/paginator/examples/paginator-basic-left-example/paginator-basic-left-example.component.html
  apps/doc/src/app/components/paginator/examples/paginator-basic-left-example/paginator-basic-left-example.component.less
  apps/doc/src/app/components/paginator/examples/paginator-basic-left-example/paginator-basic-left-example.component.ts
  apps/doc/src/app/components/paginator/paginator-example.component.html
  apps/doc/src/app/components/paginator/paginator-example.component.ts
  apps/doc/src/app/components/paginator/paginator-example.module.ts
  libs/components/src/lib/components/paginator/paginator.component.less
  libs/components/src/lib/components/paginator/paginator.component.ts
Due: eslint, prettier --write

feat(doc): changelog update #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/switcher): write value error fixed #000
  apps/doc/src/app/components/switcher/examples/switcher-basic-example/switcher-basic-example.component.html
  apps/doc/src/app/components/switcher/examples/switcher-basic-example/switcher-basic-example.component.ts
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

fix(components/switcher): write value error fixed #1890
  apps/doc/src/app/components/switcher/examples/switcher-basic-example/switcher-basic-example.component.html
  apps/doc/src/app/components/switcher/examples/switcher-basic-example/switcher-basic-example.component.ts
  libs/components/src/lib/components/switcher/switcher.component.ts
Due: eslint, prettier --write

fix(components/dropdown-host): overlay undefined error occures on destroy #1889
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

feat(chore): up version to 4.3.7 #000
  .github/workflows/beta-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml
  .github/workflows/pre-release-publish-ng17.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

feat(doc): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc): up version 4 in version manager #000
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(components/hint): re-draw after change context #000
  apps/doc/src/app/components/hint/examples/base/hint-base-example.component.html
  libs/components/src/lib/directives/hint/hint-container.component.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/directives/polymorph/directives/outlet.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
  libs/components/src/lib/modules/overlay/overlay.component.ts
Due: eslint, prettier --write

fix(chore): fix pr builder #000
  .github/workflows/pr-ng17.yml
Due: prettier --write

fix(components/hint): show on null bug #000
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
