Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

feat: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: inputs paddings fix #1064
  libs/components/src/lib/components/chips/chips.component.less
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/common/styles/input.component.less
  libs/components/src/lib/components/input/input-date/input-layout-date-shared.component.less
Due: prettier --write

fix: carousel focus state fix
  libs/components/src/lib/components/input/carousel/input-carousel.component.less
Due: prettier --write

feat: searchable content component going deprecated
  libs/components/src/lib/components/table/components/searchable-content/searchable-content.component.ts
Due: eslint, prettier --write

feat: colors update for cron #1124
  apps/doc/src/app/components/cron-human-readable/examples/base/cron-base-example.component.html
  apps/doc/src/app/components/cron-human-readable/examples/base/cron-base-example.component.ts
  apps/doc/src/app/components/cron-human-readable/examples/func/cron-func-example.component.html
  apps/doc/src/app/components/cron-human-readable/examples/func/cron-func-example.component.ts
  libs/components/src/lib/components/cron/components/carousel/carousel.component.less
  libs/components/src/lib/components/cron/components/schedule/schedule.component.less
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
Due: eslint, prettier --write

chore: update ci
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/check-build-in-real-project-ng14.yml
  .github/workflows/check-build-in-real-project-ng15.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/mirror.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

fix: required layout
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/input-number/input-number-auxiliary-controls.component.ts
  libs/components/src/lib/components/input/input-password/input-password-auxiliary-control.component.ts
Due: eslint, prettier --write

feat: update doc
  package.json
  package.json.ng14
  package.json.ng15
  package.json.ng16
Due: prettier --write

feat: dialogs colors update to v3 #1129
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.less
  libs/components/src/lib/components/dialogs/dialog/dialog.component.less
Due: prettier --write

fix: build error
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

fix: build error
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

fix: build error
  libs/components/src/lib/components/input/input-number/input-number-auxiliary-controls.component.ts
  libs/components/src/lib/components/input/input-password/input-password-auxiliary-control.component.ts
Due: eslint, prettier --write

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier --write

feat: update colors to sidebar #1135
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.html
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
Due: eslint, prettier --write

feat: dialog close icon update
  libs/components/src/lib/components/dialogs/dialog/dialog.component.html
  libs/components/src/lib/components/dialogs/dialog/dialog.component.less
Due: eslint, prettier --write

fix: input-text
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng16
Due: eslint, prettier --write

feat: dropdownhost colors update #1137
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.less
Due: prettier --write

fix: dialogs background color changed
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.less
  libs/components/src/lib/components/dialogs/dialog/dialog.component.less
Due: prettier --write

fix: input ng
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng14
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng15
  libs/components/src/lib/components/input/input-text/input-text.component.ts.ng16
Due: none

fix: sidebar background color changed
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
Due: prettier --write

feat: error page colors update #1138
  apps/doc/src/app/components/error-page/examples/base/base.component.ts
  libs/components/src/lib/components/error-page/error-page.component.less
Due: eslint, prettier --write

fix: column settings paddings fix
  libs/components/src/lib/components/column-settings/column-settings.component.less
Due: prettier --write

fix: multiselect doc
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

fix: column settings paddings changed
  libs/components/src/lib/components/column-settings/column-settings.component.html
  libs/components/src/lib/components/column-settings/column-settings.component.less
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.less
  libs/components/src/lib/components/listing-item/listing-item.component.less
Due: eslint, prettier --write

fix: placeholder color fix
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/select/input-select-item.component.less
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/styles/input.component.less
  libs/components/src/lib/components/input/input-date/input-layout-date-shared.component.less
Due: prettier --write

fix: box-shadow bug fix
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

feat: skeleton colors update #1143
  libs/components/src/styles/skeleton/skeleton.less
Due: prettier --write

feat: file upload v3 colors #1144
  libs/components/src/lib/components/file-upload/file-upload.component.html
  libs/components/src/lib/components/file-upload/file-upload.component.less
Due: eslint, prettier --write

feat: update colors for widget #1150
  libs/components/src/lib/components/grid/components/grid-item/grid-item.component.less
  libs/components/src/lib/components/widget/widget.component.less
Due: prettier --write

feat(doc): added old icons with postfix
  apps/doc/src/app/components/icons/old/icon.component.html
  apps/doc/src/app/components/icons/old/icon.component.ts
Due: eslint, prettier --write

feat(doc): added old icons with postfix
  apps/doc/src/app/components/icons/old/icon.component.html
Due: eslint, prettier --write

feat(doc/input): added example with counter #499
  apps/doc/src/app/components/input/input-text/examples/input-subtext-example/input-subtext-example.component.html
  apps/doc/src/app/components/input/input-text/examples/input-subtext-example/input-subtext-example.component.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: eslint, prettier --write

chore: update tokens for v3 themes
  libs/theme/src/styles/theme/v3/dark-palette.less
  libs/theme/src/styles/theme/v3/default-palette.less
  libs/theme/src/styles/theme/v3/index.less
  libs/theme/src/styles/theme/v3/palette.less
Due: prettier --write

chore: update tokens for v3 themes
  libs/theme/src/styles/theme/v3/index.less
Due: prettier --write

feat: splitter colors update #1155
  apps/doc/src/app/components/splitter/examples/areas-control-display-none/areas-control-display-none.component.html
  apps/doc/src/app/components/splitter/examples/areas-control-ngif/areas-control-ngif.component.less
  apps/doc/src/app/components/splitter/examples/areas-control-size/areas-control-size.component.html
  apps/doc/src/app/components/splitter/examples/areas-control-size/areas-control-size.component.less
  apps/doc/src/app/components/splitter/examples/basic/basic.component.less
  apps/doc/src/app/components/splitter/examples/limit-size/limit-size.component.less
  apps/doc/src/app/components/splitter/examples/vertical/vertical.component.less
  libs/components/src/lib/components/splitter/gutter/gutter-default.component.less
  libs/components/src/lib/components/splitter/splitter.component.less
  libs/components/src/lib/components/widget/widget.component.less
Due: eslint, prettier --write

ci: update node js version
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
Due: prettier --write

feat: update colors for stepper #1153
  libs/components/src/lib/components/stepper/stepper-selector.component.less
Due: prettier --write
