Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix(components/panel): style variable is not set #498
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/components/panel/panel.component.less
Due: prettier --write

feat(doc): now input/output getter can distinguish altered properties
  apps/doc/src/app/components/hint/hint.component.html
  apps/doc/src/app/components/tooltip/tooltip.component.html
  apps/doc/src/app/components/tooltip/tooltip.component.ts
  libs/components/src/lib/directives/confirm-popup/confirm-popup.directive.ts
  libs/components/src/lib/directives/hint/hint-container.component.ts
  libs/components/src/lib/directives/hint/hint-options.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/directives/tooltip/tooltip.directive.ts
  libs/doc/base/src/lib/components/host/host-element.service.ts
Due: eslint, prettier --write

feat(components/hint): update api page
  apps/doc/src/app/components/hint/hint.component.html
Due: eslint, prettier --write

feat(components/hint): update api page
  libs/components/src/lib/directives/tooltip/tooltip.directive.ts
Due: eslint, prettier --write

fix(components/hint): long string without hyphenation is truncated #414
  libs/components/src/lib/directives/hint/hint-container.component.less
  libs/components/src/lib/directives/hint/hint-container.component.ts
  libs/components/src/lib/directives/tooltip/tooltip-container.component.less
  libs/components/src/lib/directives/tooltip/tooltip-container.component.ts
Due: eslint, prettier --write

fix(components/hint): long string without hyphenation is truncated #414
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

ci: fix versions
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

fix: fixed related dependencies versions
  libs/charts/base/package.json
  libs/deprecated/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/schematics/package.json
Due: prettier --write

fix: set angular versions in dependencies without patch
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/schematics/package.json
  libs/theme/package.json
Due: prettier --write

feat(ast): update only when change structure
  libs/ast/schematics-helpers/src/run-tasks-by-project-name/run-tasks-by-project-name.ts
Due: eslint, prettier --write

feat: stage 1
  apps/doc/src/app/tools/ast/ast.component.html
  apps/doc/src/app/tools/ast/ast.component.ts
  apps/doc/src/app/tools/ast/ast.module.ts
  apps/doc/src/app/tools/ast/examples/input-select/input-select.component.ts
  libs/ast/src/lib/html/html-stringify.ts
Due: eslint, prettier --write

feat(components/paginator): added abilite to change text on page #404
  apps/doc/src/app/components/paginator/paginator-example.component.html
  apps/doc/src/app/components/paginator/paginator-example.component.ts
  apps/doc/src/app/forZIIoT/migration/migration.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.ts
Due: eslint, prettier --write

feat(components/accordion): added ability to pass context for title, icon #397
  apps/doc/src/app/components/accordion/accordion-example.component.html
  apps/doc/src/app/components/accordion/accordion-example.component.ts
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.html
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.ts
  libs/components/src/lib/components/accordion/index.ts
  libs/components/src/lib/components/accordion/model.ts
Due: eslint, prettier --write

feat(components/input-select): set touched state only after choose or clear #507
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

feat(components/input-multi-select): set touched state only after choose or clear
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

fix(components/input-layout-date-range): error when initial select date range #489
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

fix(components/input-number): style on disabled #502
  apps/doc/src/app/components/input/input-number/examples/input-number-counter-example/input-number-counter-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  libs/components/src/lib/components/input/input-number/input-number-auxiliary-controls.component.less
  libs/components/src/lib/components/input/input-number/input-number-auxiliary-controls.component.ts
  libs/components/src/lib/components/input/input-number/input-number.directive.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

feat(ast): update only when has changes in file for templates
  libs/ast/schematics-helpers/src/run-tasks-by-project-name/run-tasks-by-project-name.ts
  libs/ast/src/lib/task/template/task-storage.ts
  libs/ast/src/lib/task/template/task.ts
Due: eslint, prettier --write

feat(ast): update only when has changes in file for templates
  libs/ast/src/lib/task/template/task.ts
Due: eslint, prettier --write

feat(ast): update only when has changes in file for templates
  libs/ast/code/src/lib/ts/task.ts
Due: eslint, prettier --write

feat(ast): update only when has changes in file for code
  libs/ast/src/lib/task/template/task.ts
Due: eslint, prettier --write

fix(doc/migration): update page
  apps/doc/src/app/forZIIoT/migration/migration.component.html
Due: eslint, prettier --write

fix(ast/migrator): error when change multiple files with delayed tasks
  libs/ast/cb3-template-examples/src/lib/v1-v2-remove-deprecated/input-select.task.ts
  libs/ast/schematics-helpers/src/run-tasks-by-project-name/run-tasks-by-project-name.ts
  libs/ast/src/lib/task/template/add-children/add-children.task.ts
  libs/ast/src/lib/task/template/rename/rename.task.ts
  libs/ast/src/lib/task/template/task-storage.ts
  libs/plugin/src/generators/remove-prizm-deprecated-v1-2/index.ts
Due: eslint, prettier --write

feat(ast/migrator): added ability to set default input values if does not exist
  libs/ast/cb3-template-examples/src/lib/v1-v2-remove-deprecated/input-select.task.ts
  libs/ast/src/lib/task/template/task.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.options.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.options.ts
  libs/components/src/lib/components/input/common/base/input-control.class.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

feat(doc): added guard for invokes when we get same value from getters
  libs/ast/cb3-template-examples/src/lib/v1-v2-remove-deprecated/input-multi-select.task.ts
  libs/doc/base/src/lib/components/documentation/documentation-property-connector.directive.ts
  libs/doc/base/src/lib/components/host/host-element.service.ts
Due: eslint, prettier --write

feat(nx-plugin/migrator): added migrator for input-multi-select
  libs/ast/cb3-code-examples/src/lib/v2/all.ts
  libs/ast/cb3-code-examples/src/lib/v2/input-multi-select.task.ts
  libs/ast/cb3-template-examples/src/lib/v1-v2-remove-deprecated/all.ts
  libs/ast/cb3-template-examples/src/lib/v1-v2-remove-deprecated/input-multi-select.task.ts
Due: eslint, prettier --write

feat(nx-plugin/migrator): tested migrator for input-multi-select
  libs/ast/cb3-template-examples/src/lib/v1-v2-remove-deprecated/input-multi-select.task.ts
Due: eslint, prettier --write

fix(component/input-layout-date): show error in console on change first date
  apps/doc/src/app/components/accordion/accordion-example.component.html
  libs/components/src/lib/@core/date-time/day-range.ts
  libs/components/src/lib/@core/date-time/month-range.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

fix(doc): inputs outputs getter does not get propertyNames
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.less
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.less
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.less
  libs/components/src/lib/components/input/input-date/input-layout-date-shared.component.less
  libs/components/src/lib/directives/input-zone/input-in-zone.directive.ts
  libs/components/src/lib/directives/tooltip/tooltip.directive.ts
  libs/doc/base/src/lib/components/host/host-element.service.ts
Due: eslint, prettier --write

fix(doc): inputs outputs getter does not get propertyNames
  libs/components/src/lib/@core/date-time/day-range.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/input-date/input-layout-date-shared.component.less
Due: eslint, prettier --write

fix(doc): inputs outputs getter does not get propertyNames
  libs/components/src/lib/components/input/input-date/input-layout-date-shared.component.less
Due: prettier --write

fix(component/paginator): change select component
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.module.ts
Due: eslint, prettier --write

chore: fix build error with recursive imports
  libs/components/src/lib/components/accordion/model.ts
Due: eslint, prettier --write

fix(components/paginator): restored text
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.ts
  libs/components/src/lib/components/paginator/prizm-paginator.module.ts
Due: eslint, prettier --write

feat(doc): add supported changed value for polymorph values in api page
  apps/doc/src/app/components/paginator/paginator-example.component.html
  libs/doc/base/src/lib/components/documentation/documentation.component.html
Due: eslint, prettier --write

feat(doc): add supported changed value for polymorph values in api page
  libs/doc/base/src/lib/components/documentation/documentation.component.html
Due: eslint, prettier --write

chore: fix versions
  libs/icons/base/package.json
  libs/icons/flags/package.json
Due: prettier --write

chore: fix versions
  libs/charts/base/package.json
Due: prettier --write
