Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(components/table): styles adaptation for input layout in td #276
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.less
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.ts
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
  apps/doc/src/app/components/table/table-example.module.ts
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

fix(components/theme): set correct initial theme for microfront #2201
  libs/theme/src/lib/services/theme.service.ts
Due: eslint, prettier --write

fix(theme/theme-service): move attribute theme key to constant #2201
  libs/theme/src/lib/services/theme.service.ts
Due: eslint, prettier --write

feat(doc/changelog): update changelog #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(chore): release 5.3.2 #0
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  package-lock.json
  package.json
Due: eslint, prettier --write

feat(chore): update changelog to 5.3.2 #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(components/input-layout): add prizmInputLayoutInserted directive for layouts in tables #276
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  apps/doc/src/app/components/table/table-example.module.ts
  libs/components/src/lib/components/input/common/input-layout/index.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout-inserted.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout-inserted.directive.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

feat(components/input-layout): add styles for layout inserted directive #276
  apps/doc/src/app/components/table/examples/table-basic-example/table-basic-example.component.ts
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.ts
  apps/doc/src/app/components/table/table-example.const.ts
  apps/doc/src/app/components/table/table-example.module.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout-inserted.component.less
Due: eslint, prettier --write

fix(ci): after published v4 main demo update instead v4 #0
  .github/workflows/main-publish-ng17.yml
  .github/workflows/main-publish-ng17.yml.ng17
Due: prettier --write

feat(chore): added ci to scope and small fix in pipelines #0
  .github/workflows/main-publish-ng18.yml
  commitlint.config.js
Due: prettier --write

feat(ci): disable beta release #0
  .github/workflows/beta-released-after-merged.yml
Due: prettier --write

feat(components/table): add styles for inserted layouts support #276
  apps/doc/src/app/components/table/examples/table-editable-layouts-example/table-editable-layouts-example.component.html
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

fix(ci): pipeline after pr did not work #0
  .github/workflows/deploy-main-doc-ng17.yml
  .github/workflows/deploy-main-doc-ng18.yml
  .github/workflows/pr-ng18.yml
Due: prettier --write

fix(ci): update main doc instead of only v4 #0
  .github/workflows/deploy-main-doc-ng17.yml
  commitlint.config.js
Due: prettier --write

fix(chore): release 5.3.3 #0
  .github/PULL_REQUEST_TEMPLATE/prepare_release_for_5.md
  .github/workflows/main-publish-ng18.yml
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/addons/query-builder/package.json
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/icons/loader/package.json
  libs/nxmv/package.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  local/package.json
  package-lock.json
  package.json
Due: eslint, prettier --write

fix(chore): package files conflict #0
  package-lock.json
  package-lock.json.ng18.json
  package.json
  package.json.ng18
Due: prettier --write

fix(chore): package files conflict #0
  package-lock.json.ng18
Due: none

fix(chore): build config for nxmv #0
  nxmv.json.ng18
  package.json
  package.json.ng18
Due: prettier --write

fix(chore): update package lock file #0
  package-lock.json.ng18
Due: none

fix(components/time-picker): reset time on input empty value #2103
  apps/doc/src/app/components/time-picker/time-picker-example.component.html
  apps/doc/src/app/components/time-picker/time-picker-example.component.ts
  libs/components/src/lib/components/time-picker/time-picker.component.ts
Due: eslint, prettier --write

feat(chore): added query-builder to ci #0
  .github/workflows/main-publish-ng18.yml
Due: prettier --write

feat(icons): disabled generate icon set #0
  libs/icons/base/base/set/index.ts
  libs/icons/base/base/set/ng-package.json
  libs/icons/base/full/set/index.ts
  libs/icons/base/full/set/ng-package.json
  libs/icons/base/project.json
Due: eslint, prettier --write

feat(components/time-picker): output decorator replaced with output signal #2103
  libs/components/src/lib/components/time-picker/time-picker.component.ts
  libs/doc/base/src/lib/components/host/host-element.service.ts
Due: eslint, prettier --write

feat(doc/time-picker): add min max example #2103
  apps/doc/src/app/components/time-picker/examples/time-picker-min-max-example/time-picker-min-max-example.component.html
  apps/doc/src/app/components/time-picker/examples/time-picker-min-max-example/time-picker-min-max-example.component.less
  apps/doc/src/app/components/time-picker/examples/time-picker-min-max-example/time-picker-min-max-example.component.ts
  apps/doc/src/app/components/time-picker/time-picker-example.component.html
  apps/doc/src/app/components/time-picker/time-picker-example.component.ts
  apps/doc/src/app/components/time-picker/time-picker-example.module.ts
Due: eslint, prettier --write

feat(components/time-picker): hide scroll for hours state #2103
  libs/components/src/lib/components/time-picker/time-picker.component.html
Due: eslint, prettier --write

fix(components/input-hint-directive): update text in hint when hint show status changed #1966
  libs/components/src/lib/components/input/common/input-hint/input-hint.directive.ts
Due: eslint, prettier --write

fix(components/chips): add hint can show property to input chips #1966
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.html
  libs/components/src/lib/components/chips/chips.component.html
  libs/components/src/lib/components/chips/chips.component.ts
Due: eslint, prettier --write

fix(components/textarea): fix clear button styles for textarea #1288
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
Due: prettier --write

feat(components/time-picker): seconds shoud be set to zero when no sec mode on #2103
  libs/components/src/lib/components/time-picker/time-picker.component.html
  libs/components/src/lib/components/time-picker/time-picker.component.ts
Due: eslint, prettier --write

feat(doc/time-picker): add initial time to example #2103
  apps/doc/src/app/components/time-picker/examples/time-picker-basic-example/time-picker-basic-example.component.html
  apps/doc/src/app/components/time-picker/examples/time-picker-basic-example/time-picker-basic-example.component.ts
  apps/doc/src/app/components/time-picker/examples/time-picker-min-max-example/time-picker-min-max-example.component.html
Due: eslint, prettier --write

feat(components/input-layout-inserted-directive): add annotation for directive #276
  libs/components/src/lib/components/input/common/input-layout/input-layout-inserted.directive.ts
Due: eslint, prettier --write

fix(components/combobox): fixed review bugs #0
  apps/doc/src/app/components/input/combobox/combobox-example.component.ts
  libs/components/src/lib/components/dropdowns/combobox/combobox-item.component.html
  libs/components/src/lib/components/dropdowns/combobox/combobox-item.component.less
  libs/components/src/lib/components/dropdowns/combobox/combobox-item.component.ts
Due: eslint, prettier --write

fix(components/textarea): fix outer styles #1288
  apps/doc/src/app/components/input/textarea/textarea-example.component.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
  libs/components/src/lib/components/input/common/styles/input.component.less
Due: eslint, prettier --write

feat(doc/combobox): added auto reposition input #0
  apps/doc/src/app/components/input/combobox/examples/with-list-item-template/combobox-with-list-item-template-example.component.html
  apps/doc/src/app/components/input/input-select/examples/with-list-item-template/select-with-list-item-template-example.component.html
Due: eslint, prettier --write

fix(components/combobox): small fix for review #0
  libs/components/src/lib/components/dropdowns/combobox/combobox.component.less
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
