Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix: add options values for translations #931
  libs/components/src/lib/components/file-upload/file-upload.component.html
  libs/components/src/lib/components/file-upload/types.ts
Due: eslint, prettier --write

refactor: small code style fix
  libs/components/src/lib/components/file-upload/file-upload.component.html
Due: eslint, prettier --write

feat: theme guidline doc for developers #979
  apps/doc/src/app/guidelines/colors/colors.component.html
  apps/doc/src/app/guidelines/theme/components/examples/custom-theme-inverted.md
  apps/doc/src/app/guidelines/theme/components/examples/custom-theme-palette.md
  apps/doc/src/app/guidelines/theme/components/examples/custom-theme-setup.md
  apps/doc/src/app/guidelines/theme/components/examples/updated-palette.md
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.less
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.ts
  libs/theme/src/lib/directive/theme/const.ts
  libs/theme/src/lib/directive/theme/theme-inverted-values.service.ts
Due: eslint, prettier --write

fix: selected and disabled classname fix
  libs/components/src/lib/components/listing-item/listing-item.component.html
Due: eslint, prettier --write

fix: review fixes
  libs/components/src/lib/components/listing-item/listing-item.component.less
  libs/components/src/lib/components/tabs/components/tab.component.less
  libs/components/src/lib/components/tabs/tabs.component.html
  libs/components/src/lib/components/tabs/tabs.component.less
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/doc/base/src/lib/components/navigation/navigation.component.less
Due: eslint, prettier --write

fix: incorrect icon color in disabled accordion #947
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.less
Due: prettier --write

fix: navigation extra notification for active item change #571
  libs/components/src/lib/components/navigation/prizm-navigation.component.ts
Due: eslint, prettier --write

feat: palette colors added #979
  apps/doc/src/app/guidelines/colors/colors.component.html
  apps/doc/src/app/guidelines/colors/colors.module.ts
  apps/doc/src/app/guidelines/colors/components/frame25826/frame25826.component.ts
  apps/doc/src/app/guidelines/colors/components/palette/palette.component.css
  apps/doc/src/app/guidelines/colors/components/palette/palette.component.html
  apps/doc/src/app/guidelines/colors/components/palette/palette.component.ts
  apps/doc/src/app/guidelines/colors/components/theme-colors/theme-colors.component.css
  apps/doc/src/app/guidelines/colors/components/theme-colors/theme-colors.component.html
  apps/doc/src/app/guidelines/colors/components/theme-colors/theme-colors.component.ts
Due: eslint, prettier --write

Update apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.html
Due: eslint, prettier --write

fix: icon color fix in tab list dropdown
  libs/components/src/lib/components/tabs/tabs.component.less
Due: prettier --write

feat: inputs v3 colors in progress
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/common/input-invalid-subtext/input-status-subtext.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
  libs/components/src/lib/components/input/common/styles/input.component.less
Due: prettier --write

feat: calendars v3 colors #987
  libs/components/src/lib/components/calendar-month/calendar-month.component.html
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/lib/components/calendar-month/calendar-month.component.ts
  libs/components/src/lib/components/calendar-month/calendar-month.module.ts
  libs/components/src/lib/components/calendar-range/calendar-range.component.html
  libs/components/src/lib/components/calendar-range/calendar-range.component.less
  libs/components/src/lib/components/internal/primitive-calendar-range/primitive-calendar-range.component.html
  libs/components/src/lib/components/internal/primitive-calendar-range/primitive-calendar-range.component.less
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.html
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
  libs/components/src/lib/components/internal/primitive-month-picker/primitive-month-picker.component.less
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.component.less
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.component.ts
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.template.html
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.html
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.less
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.module.ts
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.less
  libs/components/src/styles/mixins/mixins.less
  libs/components/src/styles/mixins/picker.less
Due: eslint, prettier --write

feat: calendars v3 colors #987
  libs/components/src/lib/components/calendar-month/calendar-month.module.ts
Due: eslint, prettier --write

feat: input icon button colors #1064
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
Due: prettier --write

feat: input layout v3 colors #1064
  libs/components/src/lib/components/input/common/input-layout/input-layout-textarea.component.less
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

feat: textarea v3 colors update #1064
  libs/components/src/lib/components/input/input-date-range/input-date-range.component.ts
  libs/components/src/lib/components/input/input-month-range/input-month-range.module.ts
  libs/components/src/lib/components/input/input-text/input-textarea.component.less
Due: eslint, prettier --write

feat: calendars v3 colors #987
  libs/components/src/lib/components/calendar-month/calendar-month.module.ts
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.module.ts
Due: eslint, prettier --write

feat: inputs v3 colors in progress
  libs/components/src/lib/components/calendar-month/calendar-month.module.ts
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.module.ts
Due: eslint, prettier --write

feat: update colors to v3 for controls #1064
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select-item.component.less
  libs/components/src/lib/components/input/carousel/input-carousel.component.less
  libs/components/src/lib/components/input/common/input-icon-button/input-icon-button.component.less
  libs/components/src/lib/components/input/input-date-multi/input-date-multi.component.html
  libs/components/src/lib/components/input/input-date-multi/input-date-multi.component.less
  libs/components/src/lib/components/input/input-date-multi/input-date-multi.component.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.html
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.less
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.less
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date/input-layout-date.component.less
  libs/components/src/lib/components/input/input-password/input-password-auxiliary-control.component.ts
  libs/components/src/lib/components/input/input-password/input-password.directive.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.html
  libs/components/src/lib/components/input/input-time/input-layout-time.component.less
  libs/components/src/lib/components/input/input-time/input-layout-time.component.ts
Due: eslint, prettier --write

feat: theme documentation update #979
  apps/doc/src/app/guidelines/theme/components/examples/custom-theme-css.md
  apps/doc/src/app/guidelines/theme/components/examples/custom-theme-palette.md
  apps/doc/src/app/guidelines/theme/components/examples/updated-palette.md
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.ts
Due: eslint, prettier --write

fix(components/tabs): unsubscribe error #1079 #842 #1023
  libs/components/src/lib/components/tabs/components/tab.component.ts
Due: eslint, prettier --write

chore: up version to 3.6.0
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: prettier --write

chore: up version to 2.7.0
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/generators.json
  libs/nxmv/package.json.ng15
  libs/plugin/generators.json
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: prettier --write

chore: up version to 1.10.0
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/schematics/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

chore: update doc versions
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

chore: update doc versions
  libs/schematics/package.json.ng16
Due: none

chore: release 3.6.0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/dropdown-host): fix close logic #1074
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.html
Due: eslint, prettier --write

feat(doc/table): restored example with inherit cols
  apps/doc/src/app/components/table/table-example.component.html
Due: eslint, prettier --write

feat: make some language model props optional
  libs/i18n/src/lib/interfaces/language.ts
Due: eslint, prettier --write

feat: optional interface props for file upload
  libs/i18n/src/lib/interfaces/language.ts
Due: eslint, prettier --write

refactor: remove unnessesary zone event
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.html
Due: eslint, prettier --write

feat: table colors v 3 in progress #1093
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
  libs/components/src/lib/components/table/tbody/tbody.component.less
  libs/components/src/lib/components/table/td/td.component.less
Due: eslint, prettier --write

fix: deploy error fix #931
  libs/components/src/lib/components/file-upload/file-upload.component.html
Due: eslint, prettier --write

fix(components/table): fix error when pass not observable value #1068
  libs/components/src/lib/components/table/table.service.ts
Due: eslint, prettier --write

refactor: changed depedencies to actual standalone and fix doc #572
  apps/doc/src/app/components/input/input-chips/examples/input-chips-basic-example/input-chips-basic-example.component.html
  apps/doc/src/app/components/input/input-chips/examples/input-chips-outer-example/input-chips-outer-example.component.html
  libs/components/src/lib/components/chips/chips-item/chips-item.component.ts
  libs/components/src/lib/components/chips/chips.component.ts
  libs/components/src/lib/directives/element-ready/element-ready.directive.ts
  libs/components/src/lib/directives/element-ready/element-ready.module.ts
  libs/components/src/lib/directives/lifecycle/lifecycle.directive.ts
  libs/components/src/lib/directives/lifecycle/lifecycle.module.ts
Due: eslint, prettier --write

fix: deploy fix #931
  libs/components/src/lib/components/file-upload/file-upload.component.html
  libs/components/src/lib/components/file-upload/types.ts
Due: eslint, prettier --write

fix(doc/dropdown-host): example with range components #893
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/date-list-edit/date-list-edit.component.ts
Due: eslint, prettier --write

feat(components/switcher): ability to change appearance #978
  apps/doc/src/app/components/switcher/examples/switcher-basic-example/switcher-basic-example.component.ts
  libs/components/src/lib/components/button/button.component.ts
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
  libs/components/src/lib/components/switcher/switcher.interface.ts
Due: eslint, prettier --write
