Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix: correct npm tag for v2, v3
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

fix(doc): version links
  .firebase/hosting.ZGlzdC9hcHBzL2RvYw.cache
  .gitignore
  apps/doc/src/app/version-manager/version-manager.component.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(doc): prod links
  apps/doc/src/app/version-manager/version-manager.component.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

feat(doc): recoginize next urs
  apps/doc/src/app/version-manager/version-manager.component.ts
Due: eslint, prettier --write

chore: build via npm script
  .github/workflows/draft-publish-ng14.yml
  .github/workflows/draft-publish-ng15.yml
  .github/workflows/draft-publish-ng16.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

feat(doc): add draft links
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

feat(ci): add draft released pipelines
  .github/workflows/draft-released-after-merged.yml
  .github/workflows/draft-released.yml
Due: prettier --write

feat(doc/sidebar): example was added with only confirm button #630
  apps/doc/src/app/components/dialogs/sidebar/examples/only-confirm-button/only-confirm-button.component.ts
Due: eslint, prettier --write

feat(components/sidebar): add nullable support to cancel buttons
  apps/doc/src/app/components/dialogs/sidebar/examples/only-confirm-button/only-confirm-button.component.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.service.ts
Due: eslint, prettier --write

ci: draft release by manual
  .github/workflows/draft-released.yml
Due: prettier --write

ci: fix v3 publishing
  .github/workflows/draft-publish-ng16.yml
Due: prettier --write

ci: fix v3 publishing
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

feat(components/table): stage 1
  libs/components/src/lib/components/table/components/col-control/col-control.component.html
  libs/components/src/lib/components/table/components/col-control/col-control.component.less
  libs/components/src/lib/components/table/components/col-control/col-control.component.ts
  libs/components/src/lib/components/table/components/cols-control/col-control.component.html
  libs/components/src/lib/components/table/components/cols-control/col-control.component.less
  libs/components/src/lib/components/table/components/cols-control/col-control.component.ts
Due: eslint, prettier --write

fix(component/input-layout-date-time): fix on manual time change #594
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

chore: strict mode #377
  libs/components/tsconfig.json
  tsconfig.base.json
Due: prettier --write

fix(doc/tree): in modal style for dark theme #624
  apps/doc/src/app/components/tree/examples/in-modal/tree-in-modal-example.component.ts
Due: eslint, prettier --write

chore: fix ast build error
  apps/doc/tsconfig.json
  libs/ast/code/src/lib/ts/add-imports-to-ng-module/util.ts
  libs/ast/code/src/lib/ts/add-imports/util.ts
  libs/ast/schematics-helpers/src/get-publishable-projects/util.ts
  libs/ast/schematics-helpers/src/update-all-files-when/prizm-ast-update-all-files-when.ts
Due: eslint, prettier --write

chore: fix plugin build error in strict mode
  libs/plugin/src/generators/update-version/index.ts
Due: eslint, prettier --write

chore: fix test error in strict mode
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng16
  libs/ast/schematics-helpers/src/update-project-versions/util.spec.ts
  libs/ast/src/lib/html/parse.tag.spec.ts
  libs/ast/src/lib/semver/parse.spec.ts
  libs/ast/src/lib/task/template/add-children/add-children.task.spec.ts
  libs/ast/src/lib/task/template/move-children-to-component/move-children-to-component.task.spec.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.spec.ts
  libs/components/src/lib/components/dialogs/dialog/dialog.spec.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.spec.ts
  libs/components/src/lib/components/radio/prizm-radio-button.component.spec.ts
  libs/plugin/src/generators/update-version/generator.spec.ts
Due: eslint, prettier --write

chore: fix lint error in strict mode
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng16
  libs/ast/code/src/lib/ts/add-imports/util.ts
  libs/ast/schematics-helpers/src/update-project-versions/util.spec.ts
  libs/ast/src/lib/html/html-stringify.ts
  libs/ast/src/lib/html/parse-tag.ts
  libs/ast/src/lib/html/prettify/to-lines.ts
  libs/ast/src/lib/task/template/call-with-new-source/call-with-new-source.task.ts
  libs/ast/src/lib/task/template/task.ts
  libs/components/src/lib/abstract/dialog.service.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.spec.ts
  libs/components/src/lib/components/dialogs/dialog/dialog.spec.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.spec.ts
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.options.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.options.ts
  libs/components/src/lib/components/file-upload/file-upload.component.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-date-range-time.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/table/service/tree.service.ts
  libs/components/src/lib/components/table/tbody/tbody.component.ts
  libs/components/src/lib/directives/polymorph/directives/template.ts
Due: eslint, prettier --write

feat: stackblitz integrate stage 1
  apps/doc/src/app/version-manager/version-manager.component.html
  apps/doc/src/app/version-manager/version-manager.component.less
  apps/doc/src/app/version-manager/version-manager.component.ts
  apps/doc/src/app/version-manager/versions.constants.ts
  apps/doc/src/assets/logos/sb.png
  libs/components/src/lib/components/widget/widget.component.html
  libs/components/src/lib/components/widget/widget.component.ts
Due: eslint, prettier --write

fix(doc/sidebar): supportButton
  libs/components/src/lib/components/dialogs/sidebar/sidebar.service.ts
Due: eslint, prettier --write

fix(components/paginator): restored
  apps/doc/src/app/components/table/examples/table-index-example/table-index-example.component.html
  apps/doc/src/app/components/table/examples/table-sticky-example/table-sticky-example.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.html
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-expandable/prizm-navigation-item-expandable.component.html
  libs/components/src/lib/components/navigation/prizm-navigation.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.module.ts
Due: eslint, prettier --write

fix(components/input-select): stringify
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

ci: strict mode in ci
  tsconfig.base.json
  tsconfig.base.json.ng14
  tsconfig.base.json.ng15
  tsconfig.base.json.ng16
Due: prettier --write

fix: error for ng 16
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng16
Due: none

fix: error for ng 16
  libs/ast/code/src/lib/ts/add-imports-to-ng-module/util.ts.ng16
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng16
  libs/ast/code/src/lib/ts/add-imports/util.ts.ng16
Due: none

ci: fix ng 16
  libs/charts/base/package.json.ng16
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json.ng16
  libs/schematics/package.json.ng16
Due: none

ci: ng 15
  libs/ast/code/src/lib/ts/add-imports-to-ng-module/util.ts.ng15
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng15
  libs/ast/code/src/lib/ts/add-imports/util.ts.ng15
  libs/nxmv/src/generators/apply/index.ts
  libs/nxmv/src/generators/apply/util.ts
Due: eslint, prettier --write

ci: ng 14 strict
  libs/ast/code/src/lib/ts/add-imports/util.spec.ts.ng14
  libs/ast/code/src/lib/ts/add-imports/util.ts.ng14
Due: none

ci: stackblitz switcher
  apps/doc/src/app/version-manager/version-manager.component.html
  apps/doc/src/app/version-manager/version-manager.component.less
  apps/doc/src/app/version-manager/version-manager.component.ts
  apps/doc/src/app/version-manager/version-manager.module.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(components/scrollbar): thumb color #664
  libs/components/src/lib/components/input/input-text/input-textarea.component.less
Due: prettier --write

feat(doc): a ability to accept multiple hosts for tracker was add #657
  apps/doc/src/app/components/input/input-password/input-password-example.component.html
Due: eslint, prettier --write
