Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(components/dropdown-control): new directive control for dropdown #881
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host-control.directive.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

feat: update progress colors to v3 #902
  apps/doc/src/app/components/progress/circle-bar/examples/circle/progress-circle-example.component.html
  apps/doc/src/app/components/progress/circle-bar/examples/circle/progress-circle-example.component.ts
  apps/doc/src/app/components/progress/circle-bar/progress-circle-bar.component.ts
  apps/doc/src/app/components/progress/line-bar/examples/base/progress-base-example.component.html
  apps/doc/src/app/components/progress/line-bar/examples/base/progress-base-example.component.ts
  apps/doc/src/app/components/progress/line-bar/progress-line-bar.component.ts
  apps/doc/src/app/components/progress/line-segmented/examples/base/progress-base-example.component.ts
  libs/components/src/lib/components/progress/progress-bar/progress-bar.component.less
  libs/components/src/lib/components/progress/progress-bar/progress-color-segments.directive.ts
  libs/components/src/lib/components/progress/progress-circle/progress-circle.component.less
  libs/components/src/lib/components/progress/progress-label/progress-label.component.less
  libs/components/src/lib/components/progress/progress-segmented/progress-segmented.component.less
  libs/components/src/lib/components/progress/progress-segmented/progress-segmented.component.ts
Due: eslint, prettier --write

fix: console error fix, #837
  apps/doc/src/app/components/file-upload/examples/file-upload-in-form/file-upload-in-form-example.component.html
  apps/doc/src/app/components/file-upload/examples/file-upload-in-form/file-upload-in-form-example.component.ts
Due: eslint, prettier --write

feat: dropdown
  apps/doc/src/app/components/input/input-layout-date-time/examples/base/input-layout-date-time-base-example.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host-control.directive.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.module.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.module.ts
Due: eslint, prettier --write

feat(components/overlay): context example and to standalone;
  libs/components/src/lib/abstract/dialog.service.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.component.ts
  libs/components/src/lib/components/dialogs/confirm-dialog/confirm-dialog.module.ts
  libs/components/src/lib/components/dialogs/dialog/dialog.component.ts
  libs/components/src/lib/components/dialogs/dialog/dialog.module.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.module.ts
  libs/components/src/lib/modules/overlay/overlay.component.ts
  libs/components/src/lib/modules/overlay/overlay.module.ts
Due: eslint, prettier --write

feat(components): create own calendar exports #880
  libs/components/src/lib/components/calendar/calendar.module.ts
  libs/components/src/lib/components/index.ts
  libs/components/src/lib/components/internal/index.ts
Due: eslint, prettier --write

feat: scrollbar #617 stage 1
  libs/components/src/lib/components/data-list/data-list.component.html
  libs/components/src/lib/components/data-list/data-list.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.less
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.module.ts
Due: eslint, prettier --write

fix: infinite paginator #661
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.less
  libs/components/src/lib/components/paginator/prizm-paginator.component.ts
  libs/components/src/lib/components/paginator/prizm-paginator.module.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/paginator.ts
Due: eslint, prettier --write

feat: magical progress segment doc example colors #902
  apps/doc/src/app/components/progress/line-segmented/progress-line-segmented.component.ts
Due: eslint, prettier --write

fix: description for 'open' property for table body added to docs #654
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
Due: eslint, prettier --write

fix: table documentation open property #654
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
Due: eslint, prettier --write

fix: infinitew paginator fix #661
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.less
  libs/components/src/lib/components/paginator/prizm-paginator.component.ts
Due: eslint, prettier --write

fix: icon with the step number is not displayed if the status for this step = "Not selected" #655
  libs/components/src/lib/components/stepper/stepper-selector.component.html
  libs/components/src/lib/components/stepper/stepper-selector.component.ts
Due: eslint, prettier --write

feat(components/input): update on blur #736
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

fix(components/toast): double toast error and scrollbar #481 #734
  libs/components/src/lib/components/toast/toast-container/toast-container.component.html
  libs/components/src/lib/components/toast/toast-container/toast-container.component.less
  libs/components/src/lib/components/toast/toast.module.ts
Due: eslint, prettier --write

fix(components/tree): active item style and update doc #708 #654
  apps/doc/src/app/components/tree/examples/active-color/tree-active-color-example.component.html
  apps/doc/src/app/components/tree/examples/active-color/tree-active-color-example.component.ts
  apps/doc/src/app/components/tree/tree.component.html
  apps/doc/src/app/components/tree/tree.component.ts
  apps/doc/src/app/components/tree/tree.module.ts
  libs/components/src/lib/components/tree/components/tree-item/tree-item.component.html
  libs/components/src/lib/components/tree/components/tree-item/tree-item.component.ts
Due: eslint, prettier --write

feat(components/input): empty label mode for iner #384
  apps/doc/src/app/components/input/input-text/examples/input-empty-label-example/input-empty-label-example.component.html
  apps/doc/src/app/components/input/input-text/examples/input-empty-label-example/input-empty-label-example.component.less
  apps/doc/src/app/components/input/input-text/examples/input-empty-label-example/input-empty-label-example.component.ts
  apps/doc/src/app/components/input/input-text/input-example.module.ts
  apps/doc/src/app/components/input/input-text/input.component.html
  apps/doc/src/app/components/input/input-text/input.component.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
  libs/components/src/lib/components/input/common/styles/input.component.less
Due: eslint, prettier --write

fix: inputDateTime and inputDateMulti incorrect date set after manual input #887
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

feat: colors v3 for radio-button #926
  libs/components/src/lib/components/radio/prizm-radio-button.component.less
  libs/theme/src/styles/theme/v3/default.less
Due: prettier --write

fix: hodden splitter filtering #923
  libs/components/src/lib/components/splitter/splitter.component.ts
Due: eslint, prettier --write

feat: slider update colors to v3 #930
  libs/components/src/lib/components/slider/slider-cnob.component.less
  libs/components/src/lib/components/slider/slider.component.less
Due: prettier --write

feat(components/input-layout): custom clear button #855
  apps/doc/src/app/components/dropdowns/multi-select/multi-select.component.html
  apps/doc/src/app/components/dropdowns/select/select.component.html
  apps/doc/src/app/components/input/date/date.component.html
  apps/doc/src/app/components/input/input-carousel/input-carousel-example.component.html
  apps/doc/src/app/components/input/input-date-range/input-date-range.component.html
  apps/doc/src/app/components/input/input-date-relative/input-date-relative.component.html
  apps/doc/src/app/components/input/input-date-time-range/input-date-time-range.component.html
  apps/doc/src/app/components/input/input-date-time/input-date-time.component.html
  apps/doc/src/app/components/input/input-layout-date-range/input-layout-date-range.component.html
  apps/doc/src/app/components/input/input-layout-date-relative/input-layout-date-relative.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.html
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.html
  apps/doc/src/app/components/input/input-layout-date/input-layout-date.component.html
  apps/doc/src/app/components/input/input-layout-month-range/input-layout-month-range.component.html
  apps/doc/src/app/components/input/input-layout-month/input-layout-month.component.html
  apps/doc/src/app/components/input/input-layout-time/input-layout-time.component.html
  apps/doc/src/app/components/input/input-month-range/input-month-range.component.html
  apps/doc/src/app/components/input/input-month/input-month.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-text/examples/input-custom-clear-button-example/input-custom-clear-button-example.component.html
  apps/doc/src/app/components/input/input-text/examples/input-custom-clear-button-example/input-custom-clear-button-example.component.less
  apps/doc/src/app/components/input/input-text/examples/input-custom-clear-button-example/input-custom-clear-button-example.component.ts
  apps/doc/src/app/components/input/input-text/input-example.module.ts
  apps/doc/src/app/components/input/input-text/input.component.html
  apps/doc/src/app/components/input/input-text/input.component.ts
  apps/doc/src/app/components/input/input-time/input-time.component.html
  libs/components/src/lib/components/input/common/input-common.module.ts
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

feat: changed lodash to lodash-es in ng16
  package-lock.json
  package-lock.json.ng16
  package.json
  package.json.ng16
Due: prettier --write

feat: changed lodash to lodash-es in ng16
  package-lock.json
  package-lock.json.ng16
Due: prettier --write

feat: changed lodash to lodash-es in ng16
  apps/doc/src/app/components/table/examples/table-column-settings-example/pipes/header-sticky-pipe.pipe.ts
  apps/doc/src/app/components/table/examples/table-tree-example/table-tree-example.component.ts
  libs/ast/schematics-helpers/src/run-tasks-by-project-name/run-tasks-by-project-name.ts
  libs/charts/base/src/lib/service/charts-theme.service.ts
  libs/components/src/lib/components/column-settings/column-settings.component.ts
  libs/components/src/lib/components/cron/cron-ui-base.state.ts
  libs/doc/base/src/lib/components/documentation/documentation-property-connector.directive.ts
  libs/doc/base/src/lib/components/documentation/documentation.component.ts
  libs/nxmv/src/generators/apply/index.ts
  package-lock.json
  package-lock.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

feat(chore): changed lodash to lodash-es for ng15
  package-lock.json.ng15
  package.json.ng15
Due: none

feat(chore): changed lodash to lodash-es for ng14
  package-lock.json.ng14
  package.json.ng14
Due: none

feat: colors guideline page update #765
  apps/doc/src/app/guidelines/colors/components/frame25826/frame25826.component.css
  apps/doc/src/app/guidelines/colors/components/frame25826/frame25826.component.html
  apps/doc/src/app/guidelines/theme/theme-guide.component.html
  apps/doc/src/app/guidelines/theme/theme-guide.component.less
Due: eslint, prettier --write

fix: slider cnob color variables update #930
  libs/components/src/lib/components/slider/slider-cnob.component.less
Due: prettier --write

chore: remove empty tests
  apps/doc/src/app/about-prizm/design-system/design-system.component.spec.ts
  apps/doc/src/app/about-prizm/release-policy/release-policy.component.spec.ts
  apps/doc/src/app/about-prizm/repositories/repositories.component.spec.ts
  apps/doc/src/app/forZIIoT/introduction/introduction.component.spec.ts
  apps/doc/src/app/how-to-work/internationalization/internationalization.component.spec.ts
  jest.config.ts
  libs/components/src/lib/components/column-settings/column-settings.component.spec.ts
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.spec.ts
  libs/components/src/lib/components/tabs/tabs.component.spec.ts
  libs/plugin/src/generators/update-version/generator.spec-r.ts
Due: eslint, prettier --write

fix: build errors
  libs/components/src/lib/abstract/interactive.ts
  libs/components/src/lib/components/accordion/components/accordion-item/accordion-item.component.ts
Due: eslint, prettier --write

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: updated changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: serve errors
  libs/components/src/lib/components/dialogs/dialog/dialog.component.ts
Due: eslint, prettier --write

chore: fix build errors
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.module.ts
Due: eslint, prettier --write

fix: build errors
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/index.ts
Due: eslint, prettier --write

feat: theme guide for designers added #765
  apps/doc/src/app/guidelines/theme/components/examples/hex.md
  apps/doc/src/app/guidelines/theme/components/examples/style.md
  apps/doc/src/app/guidelines/theme/components/examples/token.md
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.less
  apps/doc/src/app/guidelines/theme/components/theme-for-designers/theme-for-designers.component.ts
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.html
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.less
  apps/doc/src/app/guidelines/theme/components/theme-for-developers/theme-for-developers.component.ts
  apps/doc/src/app/guidelines/theme/theme-guide.component.html
  apps/doc/src/app/guidelines/theme/theme-guide.component.less
  apps/doc/src/app/guidelines/theme/theme-guide.component.ts
  apps/doc/src/app/guidelines/theme/theme-guide.module.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
