Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(chore): added stackblitz support
  apps/doc/src/app/code-demo/util.ts
  libs/doc/base/src/lib/components/example/example.component.html
  libs/doc/base/src/lib/components/example/example.component.ts
Due: eslint, prettier --write

fix: ng15 build
  package-lock.json.ng15
  package.json.ng15
Due: none

fix: contributing page markup changed #651
  CONTRIBUTING.md
  apps/doc/src/app/how-to-work/contributing/contributing.component.html
  apps/doc/src/app/how-to-work/contributing/contributing.component.ts
  apps/doc/src/app/how-to-work/contributing/contributing.module.ts
  apps/doc/src/app/how-to-work/contributing/examples/naming.md
  apps/doc/src/app/how-to-work/contributing/examples/pure-exception.md
  apps/doc/src/app/how-to-work/contributing/examples/structure.md
  libs/doc/base/src/lib/components/code/code.component.ts
  libs/doc/base/src/lib/components/code/code.template.html
Due: eslint, prettier --write

fix: codestyle page markup changed #651
  apps/doc/src/app/how-to-work/codestyle/codestyle.component.html
  apps/doc/src/app/how-to-work/codestyle/codestyle.component.less
  apps/doc/src/app/how-to-work/codestyle/codestyle.component.ts
  apps/doc/src/app/how-to-work/codestyle/codestyle.module.ts
  apps/doc/src/app/how-to-work/codestyle/examples/linters.md
  apps/doc/src/app/how-to-work/codestyle/examples/private-variables.md
  apps/doc/src/app/how-to-work/codestyle/examples/pure-class.md
  apps/doc/src/app/how-to-work/codestyle/examples/structure.md
  apps/doc/src/app/how-to-work/codestyle/examples/styles-variables-css.md
  apps/doc/src/app/how-to-work/codestyle/examples/styles-variables-html.md
  apps/doc/src/app/how-to-work/codestyle/examples/styles.md
  apps/doc/src/app/how-to-work/contributing/contributing.component.less
  libs/doc/base/src/lib/components/code/code.component.ts
  libs/doc/base/src/lib/components/code/code.module.ts
Due: eslint, prettier --write

feat: restoring cache by ng version
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
Due: prettier --write

fix: clear overlay cached inputs META: ISSUE-697
  apps/doc/src/app/components/dialogs/dialog/dialog.module.ts
  apps/doc/src/app/components/dialogs/dialog/examples/with-parent/with-parent.component.html
  apps/doc/src/app/components/dialogs/dialog/examples/with-parent/with-parent.component.ts
  apps/doc/src/app/components/dialogs/sidebar/examples/with-parent/with-parent.component.html
  apps/doc/src/app/components/dialogs/sidebar/examples/with-parent/with-parent.component.ts
  apps/doc/src/app/components/dialogs/sidebar/sidebar.module.ts
  libs/components/src/lib/modules/overlay/overlay.service.ts
Due: eslint, prettier --write

fix: default text styles for footer in dialog changed, #626
  libs/components/src/lib/components/dialogs/dialog/dialog.component.html
  libs/components/src/lib/components/dialogs/dialog/dialog.component.less
  libs/components/src/lib/components/dialogs/sidebar/sidebar.component.less
Due: eslint, prettier --write

fix(components/navigation-menu): emit expandedItemsMapChanged event on close all action
  libs/components/src/lib/components/navigation-menu/services/prizm-navigation-menu.service.ts
Due: eslint, prettier --write

feat(components/navigation-menu): extend PrizmNavigationMenuItem with isGroup flag
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-basic-example/navigation-menu.constants.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-item/prizm-navigation-menu-item.component.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-items/prizm-navigation-menu-items.component.html
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-items/prizm-navigation-menu-items.component.ts
  libs/components/src/lib/components/navigation-menu/interfaces/prizm-navigation-menu-items.interfaces.ts
Due: eslint, prettier --write

fix: relative date validation META: ISSUE-566
  libs/components/src/lib/components/input/input-date-relative/input-date-relative.utils.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
  libs/i18n/src/lib/languages/russian/input-date-layout-relative.ts
Due: eslint, prettier --write

fix: auto add number to period if format correct META: ISSUE-566
  libs/components/src/lib/components/input/input-date-relative/input-date-relative.utils.ts
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

fix: non-null-assertion META: #566
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.ts
Due: eslint, prettier --write

docs: doc example added for file upload internationalization #673
  apps/doc/src/app/components/cron/examples/i18n/cron-i18n-example.component.ts
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.html
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.ts
  apps/doc/src/app/components/file-upload/file-upload-example.component.html
  apps/doc/src/app/components/file-upload/file-upload-example.component.ts
  apps/doc/src/app/components/file-upload/file-upload-example.module.ts
  libs/components/src/lib/components/file-upload/file-upload.component.html
  libs/components/src/lib/tokens/i18n.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/russian/file-upload.ts
Due: eslint, prettier --write

feat: input hint directive
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/input/input-text/input.component.html
  libs/components/src/lib/components/input/common/index.ts
  libs/components/src/lib/components/input/common/input-common.module.ts
  libs/components/src/lib/components/input/common/input-hint/index.ts
  libs/components/src/lib/components/input/common/input-hint/input-hint.directive.ts
  libs/components/src/lib/components/input/common/input-hint/input-hint.module.ts
  libs/components/src/lib/components/input/input-number/input-number.directive.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

feat: hashing to ci
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

feat: release 3.0.2-next.2
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

ci: add mirror
  .github/workflows/mirror.yml
Due: prettier --write

fix: lint errors
  libs/components/src/lib/components/input/common/input-hint/input-hint.directive.ts
Due: eslint, prettier --write

ci: up
  .github/workflows/mirror.yml
Due: prettier --write

fix: build error
  libs/components/src/lib/components/input/common/input-hint/input-hint.directive.ts
Due: eslint, prettier --write

fix: i18n language switch util was updated #673
  libs/components/src/lib/components/file-upload/file-upload.component.html
  libs/components/src/lib/components/file-upload/file-upload.module.ts
  libs/i18n/src/lib/switch/utils.ts
Due: eslint, prettier --write

fix(helpers/pluck): add types
  libs/helpers/src/lib/pipes/pluck/pluck.pipe.ts
Due: eslint, prettier --write

docs: internationalization switcher example added #673
  apps/doc/src/app/app.module.ts
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.html
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.ts
  apps/doc/src/app/how-to-work/internationalization/internationalization.component.html
  apps/doc/src/app/how-to-work/internationalization/internationalization.component.ts
  apps/doc/src/app/how-to-work/internationalization/internationalization.module.ts
  libs/i18n/src/lib/languages/russian/file-upload.ts
Due: eslint, prettier --write

feat(doc/internalization): update example
  apps/doc/src/app/app.module.ts
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.ts
Due: eslint, prettier --write

fix(doc): fix api pages
  apps/doc/src/app/components/input/carousel/carousel-example.component.html
  apps/doc/src/app/components/input/input-mask/input-mask-example.component.html
Due: eslint, prettier --write

fix: spelling correction for file uppload doc example #673
  apps/doc/src/app/components/file-upload/examples/auto-upload/auto-upload.component.ts
  apps/doc/src/app/components/file-upload/examples/basic/basic.component.ts
  apps/doc/src/app/components/file-upload/file-upload-example.component.ts
Due: eslint, prettier --write

feat(components/table): it was added support string for getRowId #649
  apps/doc/src/app/components/table/examples/table-tree-example/table-tree-example.component.ts
  libs/components/src/lib/components/table/directives/row-init.directive.ts
  libs/components/src/lib/components/table/directives/row.directive.ts
  libs/components/src/lib/components/table/table.types.ts
Due: eslint, prettier --write

ci: up
  nx.json
Due: prettier --write

ci: up
  .gitlab-ci.yml
  Dockerfile
  nx.json
Due: prettier --write

ci: up
  .gitlab-ci.yml
Due: prettier --write

ci: test
  .gitlab-ci.yml
Due: prettier --write

ci: tests
  .gitlab-ci.yml
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
