Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

feat(componenta/navigation): added the ability to hide the "hierarchical" view button #358
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.html
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.less
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.ts
  apps/doc/src/app/components/nav-menu/nav-menu-example.component.html
  apps/doc/src/app/components/nav-menu/nav-menu-example.component.ts
  apps/doc/src/app/components/nav-menu/nav-menu-example.module.ts
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-one-mode-example/navigation-menu-one-mode-example.component.html
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-one-mode-example/navigation-menu-one-mode-example.component.less
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-one-mode-example/navigation-menu-one-mode-example.component.ts
  apps/doc/src/app/components/navigation-menu/examples/navigation-menu-one-mode-example/navigation-menu.constants.ts
  apps/doc/src/app/components/navigation-menu/navigation-menu-example.component.html
  apps/doc/src/app/components/navigation-menu/navigation-menu-example.component.ts
  apps/doc/src/app/components/navigation-menu/navigation-menu-example.module.ts
  libs/components/src/lib/components/navigation-menu/components/prizm-navigation-menu-toolbar/prizm-navigation-menu-toolbar.component.html
  libs/components/src/lib/components/navigation-menu/interfaces/prizm-navigation-menu-configuration.interfaces.ts
  libs/deprecated/src/lib/components/nav-menu/model/nav-menu-config.ts
Due: eslint, prettier --write

feat(componenta/navigation): added the ability to hide the "hierarchical" view button #358
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.html
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.less
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.ts
  apps/doc/src/app/components/nav-menu/nav-menu-example.component.html
  apps/doc/src/app/components/nav-menu/nav-menu-example.component.ts
  apps/doc/src/app/components/nav-menu/nav-menu-example.module.ts
  libs/deprecated/src/lib/components/nav-menu/model/nav-menu-config.ts
Due: eslint, prettier --write

fix(components/calendar-month): no hover when hovering over a month #301
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
Due: prettier --write

fix(componets/select): fix colors in dark
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.html
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.less
  apps/doc/src/app/components/nav-menu/examples/nav-menu-one-mode-example/nav-menu-one-mode-example.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.component.less
  libs/components/src/lib/components/dropdowns/select/input-select.component.less
  libs/components/src/lib/components/dropdowns/select/select.component.less
  libs/components/src/lib/components/input/input-date-multi/input-date-multi.component.less
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.less
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.less
  libs/components/src/lib/components/input/input-time/input-layout-time.component.less
  libs/components/src/lib/components/input/input-time/input-time.component.less
  libs/components/src/styles/mixins/picker.less
Due: eslint, prettier --write

feat(components/paginator): added first and last page buttons #399
  apps/doc/src/app/components/paginator/examples/paginator-options-example/paginator-options-example.component.html
  apps/doc/src/app/components/paginator/examples/paginator-options-example/paginator-options-example.component.less
  apps/doc/src/app/components/paginator/examples/paginator-options-example/paginator-options-example.component.ts
  apps/doc/src/app/components/paginator/paginator-example.component.html
  apps/doc/src/app/components/paginator/paginator-example.module.ts
  libs/components/src/lib/components/paginator/interfaces/prizm-paginator.interface.ts
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.ts
Due: eslint, prettier --write

feat(components/cron): added ability to show human readable value in cron #365
  apps/doc/src/app/components/cron/cron.component.html
  apps/doc/src/app/components/cron/cron.component.ts
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
  libs/components/src/lib/components/cron/cron.component.ts
  libs/components/src/lib/components/cron/human-readable/cron-parser.ts
  libs/components/src/lib/components/cron/human-readable/cron.ts
  libs/components/src/lib/components/cron/human-readable/crons-i18n.ts
  libs/components/src/lib/components/cron/human-readable/expression-descriptor.ts
  libs/components/src/lib/components/cron/human-readable/i18n/all-locales-loader.ts
  libs/components/src/lib/components/cron/human-readable/i18n/all-locales.ts
  libs/components/src/lib/components/cron/human-readable/i18n/en-locale-loader.ts
  libs/components/src/lib/components/cron/human-readable/i18n/locale-loader.ts
  libs/components/src/lib/components/cron/human-readable/i18n/locale.ts
  libs/components/src/lib/components/cron/human-readable/i18n/locales/en.ts
  libs/components/src/lib/components/cron/human-readable/i18n/locales/ru.ts
  libs/components/src/lib/components/cron/human-readable/index.ts
  libs/components/src/lib/components/cron/human-readable/options.ts
  libs/components/src/lib/components/cron/human-readable/range-validator.ts
  libs/components/src/lib/components/cron/human-readable/string-utilities.ts
Due: eslint, prettier --write

fix: lint errors
  apps/doc/src/app/components/cron/cron.component.html
  libs/components/src/lib/components/cron/human-readable/cron-parser.ts
  libs/components/src/lib/components/cron/human-readable/expression-descriptor.ts
Due: eslint, prettier --write

feat(components/cron): add notice info
  NOTICE.md
  README.md
Due: none

feat(components/input-date-time-range): update doc
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/disabled/input-layout-date-time-range-disabled-example.component.html
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/disabled/input-layout-date-time-range-disabled-example.component.ts
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/index.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time-range/model.ts
Due: eslint, prettier --write

fix(components/cron): fix cron values
  libs/components/src/lib/components/cron/human-readable/cron-parser.ts
  libs/components/src/lib/components/cron/human-readable/i18n/locales/en.ts
  libs/components/src/lib/components/cron/human-readable/i18n/locales/ru.ts
  libs/components/src/lib/components/cron/human-readable/range-validator.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/directives/input-zone/input-zone.directive.ts
Due: eslint, prettier --write

fix: lint errors
  libs/components/src/lib/components/cron/human-readable/i18n/all-locales-loader.ts
  libs/components/src/lib/components/input/input-date-time-range/model.ts
Due: eslint, prettier --write

fix(components/input-layout-date-time-range): add fixes
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/base/input-layout-date-time-range-base-example.component.ts
  libs/components/src/lib/components/cron/human-readable/expression-descriptor.ts
  libs/components/src/lib/components/cron/human-readable/range-validator.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date/input-layout-date-shared.component.less
Due: eslint, prettier --write

fix(componets/input-layout-date): add fixes
  libs/components/src/lib/components/cron/human-readable/range-validator.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date/input-layout-date-shared.component.less
Due: eslint, prettier --write

chore: release 1.2.0
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

chore: release 1.2.0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

chore: release 2.0.0-rc.2
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

fix: package files
  package-lock.json
  package.json
Due: prettier --write

fix: package files
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/select): added text colors for dark theme
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.component.less
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-time/input-layout-time.component.html
  libs/components/src/lib/components/input/input-time/input-time.component.html
Due: eslint, prettier --write

feat(components/date-time): added new background colors
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.component.less
  libs/components/src/lib/components/dropdowns/select/input-select.component.less
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.component.less
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.less
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.less
  libs/components/src/lib/components/input/input-time/input-layout-time.component.less
  libs/components/src/lib/components/input/input-time/input-time.component.less
Due: eslint, prettier --write

feat(components/input-dates): move on backspace to first
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
Due: eslint, prettier --write

fix(components/input-layout-date-time-range): fix when in time field pressed backspace
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

fix(components/input-layout-date-time): fix when set date without dates
  libs/components/src/lib/@core/date-time/day-time-range.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.html
  libs/components/src/lib/components/input/input-time/input-time.component.html
Due: eslint, prettier --write

fix(components/tabs): fix tab error
  apps/doc/src/app/components/tabs/tabs-example.component.html
  apps/doc/src/app/components/tabs/tabs-example.component.ts
  libs/components/src/lib/components/tabs/components/tab.component.html
  libs/components/src/lib/components/tabs/components/tab.component.ts
  libs/components/src/lib/components/tabs/tabs.component.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

fix(componets): click tab idx
  apps/doc/src/app/components/tabs/tabs-example.component.ts
  libs/components/src/lib/components/tabs/tabs.service.ts
Due: eslint, prettier --write

fix(components/cron): remove date between days
  libs/components/src/lib/components/calendar-month/calendar-month.component.less
  libs/components/src/lib/components/cron/components/day/day.component.html
Due: eslint, prettier --write

fix(components/cron): remove date between days
  libs/components/src/lib/components/tabs/components/tab.component.spec.ts
Due: eslint, prettier --write

fix: small fixes
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.module.ts
  libs/components/src/lib/directives/index.ts
  libs/components/src/lib/directives/input-zone/input-zone.directive.ts
  libs/components/src/lib/directives/native-value/index.ts
  libs/components/src/lib/directives/native-value/input-native-value.directive.ts
  libs/components/src/lib/directives/native-value/input-native-value.module.ts
  libs/components/src/lib/directives/native-value/model.ts
Due: eslint, prettier --write

fix(components/cron): fix local state updater
  libs/components/src/lib/components/cron/cron-ui-base.state.ts
Due: eslint, prettier --write

fix(components/cron): fix local state updater
  libs/components/src/lib/directives/native-value/input-native-value.directive.ts
Due: eslint, prettier --write

fix(components/cron): fix local state updater
  libs/components/src/lib/components/tabs/components/tab.component.ts
Due: eslint, prettier --write

chore: release 1.2.0
  libs/components/src/lib/directives/native-value/input-native-value.directive.ts
Due: eslint, prettier --write

ci: add check prizm to release/prelease pipelines
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

ci: add check prizm to release/prelease pipelines
  .github/workflows/check-build-in-real-project-ng-12.yml
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

fix: mr conflicts
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none
