Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: ci
  .github/workflows/check-build-in-real-project-ng-12.yml
Due: prettier --write

fix: ci
  .husky/pre-push
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat: release 2.0.0
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  package-lock.json
  package.json
Due: eslint, prettier --write

fix: package lock file and ngx mask
  libs/components/src/lib/modules/mask/mask.module.ts
  package-lock.json
Due: eslint, prettier --write

fix: package lock file and ngx mask
  .husky/pre-push
Due: none

fix: jest config
  apps/doc/jest.config.ts
  libs/components/jest.config.ts
Due: eslint, prettier --write

fix: configs
  libs/ast/tsconfig.lib.json
  libs/ast/tsconfig.lib.prod.json
  libs/charts/base/tsconfig.lib.json
  libs/charts/base/tsconfig.lib.prod.json
  libs/components/project.json
  libs/components/tsconfig.lib.json
  libs/components/tsconfig.lib.prod.json
  libs/core/project.json
  libs/core/tsconfig.lib.json
  libs/core/tsconfig.lib.prod.json
  libs/deprecated/tsconfig.lib.json
  libs/deprecated/tsconfig.lib.prod.json
  libs/helpers/tsconfig.lib.json
  libs/helpers/tsconfig.lib.prod.json
  libs/i18n/tsconfig.lib.json
  libs/i18n/tsconfig.lib.prod.json
  libs/icons/base/tsconfig.lib.json
  libs/icons/base/tsconfig.lib.prod.json
  libs/icons/flags/tsconfig.lib.json
  libs/icons/flags/tsconfig.lib.prod.json
  libs/schematics/tsconfig.lib.json
  libs/schematics/tsconfig.lib.prod.json
  libs/theme/tsconfig.lib.json
  libs/theme/tsconfig.lib.prod.json
Due: prettier --write

fix: restore workflows
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/check-build-in-real-project-ng-12.yml
  .github/workflows/draft-publish.yml
  .github/workflows/main-publish.yml
  .github/workflows/pr.yml
  .github/workflows/prerelease-publish.yml
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
Due: prettier --write

fix: versions
  libs/ast/package.json
  libs/ast/schematics-helpers/src/update-project-versions/util.spec.ts
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/plugin/src/generators/update-version/generator.spec.ts
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

fix: tests
  libs/plugin/src/generators/update-version/generator.spec.ts
Due: eslint, prettier --write

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: #426
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/select-panel-example/select-panel-example.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/select-panel-example/select-panel-example.component.ts
Due: eslint, prettier --write

fix: restore firebase
  firebase.json
Due: prettier --write

fix: #422
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/date-list-with-nested/date-list.component.html
  apps/doc/src/app/components/toast/examples/message-info-example/message-success-example.component.ts
  libs/components/src/lib/components/cron/cron-ui-base.state.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/toast/toast.service.ts
  libs/components/src/lib/components/toast/toast/toast.component.less
Due: eslint, prettier --write

ci: fix
  .firebaserc
  .github/workflows/check-build-in-real-project-ng-14.yml
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

ci: fix
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

fix: #429 #422 #426
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/schematics/src/ng-add/consts.ts
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

feat: ci
  .github/workflows/main-publish.yml
  .github/workflows/notify-on-pr-merged.yml
  .github/workflows/pr.yml
Due: prettier --write

ci: update to ng 15 pipelines
  .github/workflows/check-build-in-real-project-ng-15.yml
  .github/workflows/draft-publish.yml
  .github/workflows/main-publish.yml
  .github/workflows/pr.yml
  .github/workflows/prerelease-publish.yml
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

chore: remove playwright
  package-lock.json
  package.json
Due: prettier --write

fix(components/table): #424
  libs/components/src/lib/components/table/directives/row-init.directive.ts
  libs/components/src/lib/components/table/service/table-sorter.service.ts
  libs/components/src/lib/components/table/tbody/tbody.component.html
Due: eslint, prettier --write

fix: #424
  libs/components/src/lib/components/table/directives/row-init.directive.ts
Due: eslint, prettier --write

fix: #424
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(ci): added changing to default on error
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

fix(doc/zoom-control): stopped work some element from modal view #421
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/zoom-control/examples/zoom-control-example-basic/zoom-control-example-basic.component.html
  apps/doc/src/app/components/zoom-control/examples/zoom-control-example-basic/zoom-control-example-basic.component.ts
Due: eslint, prettier --write

feat(components/overlay): add auto adaptive modal window size on scroll, change #374
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  libs/components/src/lib/abstract/dialog.service.ts
  libs/components/src/lib/modules/overlay/overlay-control.ts
Due: eslint, prettier --write

feat(components/overlay): add auto adaptive modal window size on scroll, change #374
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(doc/sidebar): delete closeWork from doc, add example with confirmButton #352
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/components/dialogs/sidebar/examples/base/base.component.ts
  apps/doc/src/app/components/dialogs/sidebar/examples/custom-close-guard/custom-close-guard.component.ts
  apps/doc/src/app/components/dialogs/sidebar/examples/custom-header-template/custom-header-template.component.ts
  apps/doc/src/app/components/dialogs/sidebar/examples/hidden-footer/hidden-footer.component.ts
  apps/doc/src/app/components/dialogs/sidebar/examples/top-bottom/top-bottom.component.ts
  apps/doc/src/app/components/dialogs/sidebar/sidebar.component.html
  apps/doc/src/app/components/dialogs/sidebar/sidebar.component.ts
  libs/components/src/lib/components/dialogs/sidebar/sidebar.service.ts
Due: eslint, prettier --write

fix: ci
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

fix(ci): publishing next
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

fix(ci): publishing next
  .github/workflows/prerelease-publish.yml
Due: prettier --write

fix(ci): next publishing
  .github/workflows/prerelease-publish.yml
Due: prettier --write

chore: release 1.2.2
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
