Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

ci: up
  .gitlab-ci.yml
Due: prettier --write

ci: test
  package.json
Due: prettier --write

ci: up
  Dockerfile
Due: none

feat: ability to type negative values to input number #649
  libs/components/src/lib/components/input/input-number/input-number.directive.ts
Due: eslint, prettier --write

feat(components/input-number): convert directive to component
  apps/doc/src/app/components/input/input-number/examples/input-number-basic-example/input-number-basic-example.component.html
  apps/doc/src/app/components/input/input-number/examples/input-number-basic-example/input-number-basic-example.component.ts
  libs/components/src/lib/components/input/input-number/index.ts
  libs/components/src/lib/components/input/input-number/input-number-auxiliary-control.directive.ts
  libs/components/src/lib/components/input/input-number/input-number-auxiliary-controls.component.ts
  libs/components/src/lib/components/input/input-number/input-number.component.ts
  libs/components/src/lib/components/input/input-number/input-number.directive.ts
  libs/components/src/lib/components/input/input-number/input-number.module.ts
  libs/components/src/lib/components/input/input-number/input-text.component.less
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

fix(components/button): remove text
  apps/doc/src/app/components/input/input-number/examples/input-number-basic-example/input-number-basic-example.component.html
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

fix(components/input-number): input number
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

fix(doc/table): add new example with tree pagination
  apps/doc/src/app/components/table/examples/table-tree-pagination-example/table-tree-pagination-example.component.html
  apps/doc/src/app/components/table/examples/table-tree-pagination-example/table-tree-pagination-example.component.less
  apps/doc/src/app/components/table/examples/table-tree-pagination-example/table-tree-pagination-example.component.ts
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
  apps/doc/src/app/components/table/table-example.module.ts
Due: eslint, prettier --write

fix(doc/table): restore old table id
  apps/doc/src/app/components/table/examples/table-tree-example/table-tree-example.component.ts
Due: eslint, prettier --write

fix(components/table): added new method to clear
  libs/components/src/lib/components/table/service/tree.service.ts
Due: eslint, prettier --write

Update Dockerfile
  Dockerfile
Due: none

ci: up
  .github/workflows/mirror.yml
  .gitlab-ci.yml
Due: prettier --write

feat: add live demo properties, review fixes #649
  apps/doc/src/app/components/input/input-number/examples/input-number-basic-example/input-number-basic-example.component.html
  apps/doc/src/app/components/input/input-number/examples/input-number-basic-example/input-number-basic-example.component.ts
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  libs/components/src/lib/components/chips/input-chips.directive.ts
  libs/components/src/lib/components/input/common/styles/input.component.less
  libs/components/src/lib/components/input/input-number/input-number.component.ts
  libs/components/src/lib/components/input/input-text/input-block.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.less
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier --write

fix: widget header height styles changed #251
  libs/components/src/lib/components/widget/widget.component.less
Due: prettier --write

refactor: module and components names for widget docs was changed #251
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/widget/widget-example.component.html
  apps/doc/src/app/components/widget/widget-example.component.less
  apps/doc/src/app/components/widget/widget-example.component.ts
  apps/doc/src/app/components/widget/widget-example.module.ts
Due: eslint, prettier --write

fix: toast content width fix #305
  libs/components/src/lib/components/toast/toast/toast.component.less
Due: prettier --write

refactor: toast example file names correction #305
  apps/doc/src/app/components/navigation/navigation-example.component.ts
  apps/doc/src/app/components/toast/examples/message-danger-example/message-danger-example.component.html
  apps/doc/src/app/components/toast/examples/message-danger-example/message-danger-example.component.ts
  apps/doc/src/app/components/toast/examples/message-info-example/message-info-example.component.html
  apps/doc/src/app/components/toast/examples/message-info-example/message-info-example.component.ts
  apps/doc/src/app/components/toast/examples/toast-example/toast-example.component.ts
Due: eslint, prettier --write

refactor: toast example file paths correction #305
  apps/doc/src/app/components/toast/toast.component.ts
  apps/doc/src/app/components/toast/toast.module.ts
Due: eslint, prettier --write

Update helm/values.prizm.yaml
  helm/values.prizm.yaml
Due: none

ci: up
  helm/values.prizm.yaml
Due: none

Update helm/values.prizm.yaml, .gitlab-ci.yml
  .gitlab-ci.yml
  helm/values.prizm.yaml
Due: prettier --write

fix: tree expand all feature has been changed #739
  libs/components/src/lib/components/tree/directives/tree-item-controller.directive.ts
Due: eslint, prettier --write

ci: up
  .gitlab-ci.yml
  helm/values.prizm.yaml
Due: prettier --write

refactor: dialof example file names nd selector for dialog example doc page has been changed
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.html
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.less
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.ts
  apps/doc/src/app/components/dialogs/dialog/dialog-example.module.ts
  apps/doc/src/app/components/dialogs/dialog/dialog.component.less
  apps/doc/src/app/components/dialogs/dialog/examples/base/dialog-base-example.component.html
  apps/doc/src/app/components/dialogs/dialog/examples/base/dialog-base-example.component.ts
  apps/doc/src/app/components/dialogs/dialog/examples/with-buttons/dialog-with-buttons-example.component.html
  apps/doc/src/app/components/dialogs/dialog/examples/with-buttons/dialog-with-buttons-example.component.ts
  apps/doc/src/app/components/dialogs/dialog/examples/with-parent/dialog-with-parent-example.component.html
  apps/doc/src/app/components/dialogs/dialog/examples/with-parent/dialog-with-parent-example.component.ts
Due: eslint, prettier --write

docs: example for dialog result handling added
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.html
  apps/doc/src/app/components/dialogs/dialog/dialog-example.component.ts
  apps/doc/src/app/components/dialogs/dialog/dialog-example.module.ts
  apps/doc/src/app/components/dialogs/dialog/examples/result/dialog-result-handling-example.component.html
  apps/doc/src/app/components/dialogs/dialog/examples/result/dialog-result-handling-example.component.ts
Due: eslint, prettier --write

fix: paginator buttons styles #743
  libs/components/src/lib/components/paginator/prizm-paginator.component.html
  libs/components/src/lib/components/paginator/prizm-paginator.component.less
  libs/components/src/lib/components/paginator/prizm-paginator.component.ts
  libs/components/src/lib/components/paginator/prizm-paginator.module.ts
Due: eslint, prettier --write

feat: control reset added
  apps/doc/src/app/components/dialogs/dialog/examples/result/dialog-result-handling-example.component.ts
Due: eslint, prettier --write

refactor: tooltip example file names has been changed #340
  apps/doc/src/app/app.routes.ts
  apps/doc/src/app/components/tooltip/tooltip-example.component.html
  apps/doc/src/app/components/tooltip/tooltip-example.component.less
  apps/doc/src/app/components/tooltip/tooltip-example.component.ts
  apps/doc/src/app/components/tooltip/tooltip-example.module.ts
  apps/doc/src/app/components/tooltip/tooltip.component.less
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
