Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix(doc): added Query Builder page to english locale #402
  apps/doc/src/app/pages.ts
Due: eslint, prettier --write

fix(components/query-builder): disable drag/drop handlers #402
  libs/components/src/lib/components/query-builder/query-builder.component.html
Due: eslint, prettier --write

fix(doc): fixed Query Builder inputs width changes during drag-drop #402
  apps/doc/src/app/components/query-builder/examples/query-builder-basic-example/query-builder-basic-example.component.less
  apps/doc/src/app/components/query-builder/examples/query-builder-scrollable-example/query-builder-scrollable-example.component.html
  apps/doc/src/app/components/query-builder/examples/query-builder-scrollable-example/query-builder-scrollable-example.component.less
  apps/doc/src/app/components/query-builder/query-builder-example.component.html
  apps/doc/src/app/pages.ts
Due: eslint, prettier --write

fix(components/query-builder): fixed escessive computations by rxjs/map #402
  libs/components/src/lib/components/query-builder/nested-data-source.ts
  libs/components/src/lib/components/query-builder/query-builder.component.html
  libs/components/src/lib/components/query-builder/query-builder.component.ts
Due: eslint, prettier --write

fix(components/tabs): set debonce time to 300 for mutation checker #000
  libs/components/src/lib/components/tabs/tabs.component.ts
Due: eslint, prettier --write

fix(doc/changelog): add missing changelog for 5.0 #2083
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc/changelog): update chagelog for 5.1.0 #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components): added icons to peerDependencies #1989
  libs/components/package.json
  libs/components/package.json.ng18
Due: prettier --write

feat(components/tree-select): added checkbox position control, auto focus for checkbox and other #0
  apps/doc/src/app/components/input/input-tree-multi-select/examples/projection/tree-select-projection-example.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/examples/setup-module.md
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.component.html
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.component.ts
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.module.ts
  apps/doc/src/app/components/input/input-tree-select/input-tree-select.component.html
  apps/doc/src/app/components/input/input-tree-select/input-tree-select.component.ts
  apps/doc/src/app/components/input/input-tree-select/input-tree-select.module.ts
  libs/components/src/lib/components/chips/chips.component.html
  libs/components/src/lib/components/chips/chips.component.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/index.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/item/tree-multi-select-item.component.html
  libs/components/src/lib/components/dropdowns/tree-multi-select/item/tree-multi-select-item.component.less
  libs/components/src/lib/components/dropdowns/tree-multi-select/item/tree-multi-select-item.component.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/search/tree-multi-select-search.directive.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/tree-multi-select-checkbox.directive.ts
  libs/components/src/lib/components/dropdowns/tree-multi-select/tree-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/tree-select/search/tree-select-search.directive.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select-data-list-wrapper.component.html
  libs/components/src/lib/components/dropdowns/tree-select/tree-select-data-list-wrapper.component.ts
  libs/components/src/lib/components/dropdowns/tree-select/tree-select.component.ts
  libs/helpers/src/lib/directives/overflow/host/overflow-host.directive.ts
  libs/helpers/src/lib/directives/overflow/model.ts
  libs/helpers/src/lib/directives/overflow/overflow.service.ts
  libs/helpers/src/lib/directives/overflow/util.ts
Due: eslint, prettier --write

fix(doc/version-manager): v1 v2 v3 v4 versions updated in version manager #000
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(components/file-upload): upload status text markup error #000
  libs/components/src/lib/components/file-upload/file-upload.component.less
Due: prettier --write

fix(components/input-layout-date-time-range): fixed example #000
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

fix(components/chips): regression with css variable name for chips height fixed #000
  libs/components/src/lib/components/chips/chips-item/chips-item.component.less
  libs/components/src/lib/components/chips/chips.component.less
Due: prettier --write

fix(doc/input-multiselect): add lang directive to example #000
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.module.ts
Due: eslint, prettier --write

fix(components/tree-multi-select): chips height variable name fix #000
  libs/components/src/lib/components/dropdowns/tree-multi-select/tree-multi-select.component.less
Due: prettier --write

fix(components/date-rime-range): example min max date correction #000
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write

fix(components/input-multiselect): identity mathcer added for selected chips flow #000
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

fix(components/tabs): contained tabs focus and hover markup correction #000
  libs/components/src/lib/components/tabs/components/tab.component.less
Due: prettier --write

fix(components/multi-select): multi-select example #0
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

fix(components/hint): direction did not change position #0
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

fix(components/confirm-popup): refactor and fixing bug #0
  apps/doc/src/app/components/input/input-tree-multi-select/input-tree-multi-select.component.ts
  libs/components/src/lib/components/switcher/directives/switcher-control.directive.ts
  libs/components/src/lib/components/switcher/switcher.component.ts
  libs/components/src/lib/components/switcher/swithcer.const.ts
  libs/components/src/lib/directives/confirm-popup/confirm-popup.directive.ts
  libs/components/src/lib/directives/confirm-popup/util.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
  libs/components/src/lib/directives/hint/index.ts
  libs/components/src/lib/directives/hint/token.ts
Due: eslint, prettier --write

feat(components/tree-multi-select): added mode of selection to tree multi select #0
  libs/components/src/lib/components/dropdowns/tree-multi-select/item/tree-multi-select-item.component.ts
Due: eslint, prettier --write

feat(chore): update changelog with refactor confirm popup information #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc/changelog): chagelog update for 4.6 #000
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(chore): update changelog #0
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(chore): build error with recursive imports and other #0
  libs/components/src/lib/components/cron/model.ts
  libs/components/src/lib/components/switcher/directives/index.ts
  libs/components/src/lib/components/switcher/index.ts
  libs/components/src/lib/pipes/time-constraints/time-constraints.pipe.ts
Due: eslint, prettier --write

fix(components/time-constraints-pipe): import correction #000
  libs/components/src/lib/pipes/time-constraints/time-constraints.pipe.ts
Due: eslint, prettier --write

fix(components/input-layout): correct icon for danger status whe required #1916
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

feat(components/prizm-let): prizmLet directive declared deprecated #1880
  libs/helpers/src/lib/directives/let/let-context.service.ts
  libs/helpers/src/lib/directives/let/let.directive.ts
Due: eslint, prettier --write

feat(components/multi-select): refactored as in main #0
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

fix(components/input-control): on each update value emits two times #2087
  apps/doc/src/app/components/input/input-layout-date-time-range/examples/base/input-layout-date-time-range-base-example.component.ts
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

fix(chore): fix version in schematics #1987
  libs/schematics/src/ng-add/consts.ts.ng18
  libs/schematics/src/ng-add/setup/styles.ng14.ts
Due: eslint, prettier --write

fix(components/tabs): markup correction for tabs contained #000
  libs/components/src/lib/components/tabs/components/tab.component.less
Due: prettier --write

feat(components/droprodown-trigger-click): new directive to trigger dropdown host and fix bug #1850
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.ts
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.module.ts
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/setup-module.md
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host-trigger-click.directive.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/index.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

fix(components/switcher): switcher button markup correction #2032
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
