Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(doc): a ability to accept multiple hosts for tracker was add #657
  libs/components/src/lib/components/chips/chips-item/chips-item.component.ts
  libs/doc/base/src/lib/components/host/host-element.directive.ts
Due: eslint, prettier --write

ci: stackblitz switcher
  apps/doc/src/app/version-manager/version-manager.component.html
Due: eslint, prettier --write

ci: stackblitz switcher
  apps/doc/src/app/version-manager/version-manager.component.ts
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

ci: stackblitz switcher
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

fix(components/scrollbar): color of scrollbar
  libs/components/src/lib/components/input/input-text/input-textarea.component.less
  libs/components/src/lib/components/scrollbar/scroll-controls.component.less
Due: prettier --write

fix(doc/tree): width
  apps/doc/src/app/components/tree/examples/in-modal/tree-in-modal-example.component.ts
Due: eslint, prettier --write

fix(doc/slider): property name #656
  apps/doc/src/app/components/slider/slider.component.html
Due: eslint, prettier --write

fix(doc): remove log #656
  libs/doc/base/src/lib/components/host/host-element.directive.ts
Due: eslint, prettier --write

chore: changelog for release-3.0.1
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix(components/scrollbar): fix scrollbar
  libs/components/src/lib/components/scrollbar/scroll-controls.component.less
Due: prettier --write

feat: it was added more specific tag
  .github/workflows/draft-publish-ng14.yml
  .github/workflows/draft-publish-ng15.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
Due: prettier --write

feat: ci draft ranamed to beta
  .firebaserc
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/beta-released-after-merged.yml
  .github/workflows/beta-released.yml
  .github/workflows/check-build-in-real-project-ng14.yml
  .github/workflows/check-build-in-real-project-ng15.yml
  .github/workflows/pre-released.yml
  .github/workflows/released.yml
  apps/doc/src/app/version-manager/versions.constants.ts
  firebase.json
Due: eslint, prettier --write

feat: stackblitz-latest
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

feat(doc): added stackblitz for doc/demo
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

ci: rename sub action names
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/beta-released-after-merged.yml
  .github/workflows/beta-released.yml
  .github/workflows/pre-released.yml
  .github/workflows/released.yml
Due: prettier --write

feat: we added error handler for npm viwer in ci
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

feat(doc): stackblitz serveice #1
  libs/doc/base/src/lib/services/code-demo.service.ts
  libs/doc/base/src/lib/services/files/angular.json.template
  libs/doc/base/src/lib/services/files/package.json.template
  libs/doc/base/src/lib/services/files/src/app/app-routing.module.ts.template
  libs/doc/base/src/lib/services/files/src/app/app.component.html.template
  libs/doc/base/src/lib/services/files/src/app/app.component.less.template
  libs/doc/base/src/lib/services/files/src/app/app.component.ts.template
  libs/doc/base/src/lib/services/files/src/app/app.module.ts.template
  libs/doc/base/src/lib/services/files/src/index.html.template
  libs/doc/base/src/lib/services/files/src/main.ts.template
  libs/doc/base/src/lib/services/files/src/polyfills.ts.template
  libs/doc/base/src/lib/services/files/src/styles.less.template
  libs/doc/base/src/lib/services/files/tsconfig.json.template
Due: eslint, prettier --write

feat(doc): stacblitz sdk for ng 16
  package-lock.json
  package-lock.json.ng16
  package.json
  package.json.ng16
Due: prettier --write

feat(doc): stacblitz sdk for ng 14
  package-lock.json.ng14
  package.json.ng14
Due: none

feat(doc): stacblitz sdk for ng 15
  package-lock.json.ng15
  package.json.ng15
Due: none

feat(stackbliz): code opener (stage 3)
  apps/doc/src/app/code-demo/code-demo.service.ts
  apps/doc/src/app/code-demo/files/angular.json.template
  apps/doc/src/app/code-demo/files/package.json.template
  apps/doc/src/app/code-demo/files/src/app/app-routing.module.ts.template
  apps/doc/src/app/code-demo/files/src/app/app.component.html.template
  apps/doc/src/app/code-demo/files/src/app/app.component.less.template
  apps/doc/src/app/code-demo/files/src/app/app.component.ts.template
  apps/doc/src/app/code-demo/files/src/app/app.module.ts.template
  apps/doc/src/app/code-demo/files/src/index.html.template
  apps/doc/src/app/code-demo/files/src/main.ts.template
  apps/doc/src/app/code-demo/files/src/polyfills.ts.template
  apps/doc/src/app/code-demo/files/src/styles.less.template
  apps/doc/src/app/code-demo/files/tsconfig.json.template
  apps/doc/src/app/code-demo/util.ts
  apps/doc/src/app/components/card/card.component.html
  apps/doc/src/app/components/card/card.component.ts
  apps/doc/webpack.config.ts
  libs/doc/base/src/lib/services/code-demo.service.ts
  libs/doc/base/src/lib/services/files/src/styles.less.template
  test.ts
Due: eslint, prettier --write

feat(components/input): it was added ability to support hint on overflow #615
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/components/src/lib/directives/hint/hint.directive.ts
Due: eslint, prettier --write

feat(components/input): it was solved with input text #615
  apps/doc/src/app/components/input/input-text/input.component.html
  apps/doc/src/app/components/input/input-text/input.component.ts
  libs/components/src/lib/components/input/input-number/input-number.directive.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

feat(doc/input-number): it was added new api params #615
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.ts
Due: eslint, prettier --write

refactor(components/input-number): remove comments #615
  libs/components/src/lib/components/input/input-text/input-text.component.ts
Due: eslint, prettier --write

fix: colors for selected item in dropdown for InputDateMulti has been changed #685
  libs/components/src/lib/components/input/input-date-multi/input-date-multi.component.less
Due: prettier --write

feat(components/input-select): it was added observable support for stringify input #682
  apps/doc/src/app/components/input/input-select/examples/stringify-observable/select-stringify-observable-example.component.html
  apps/doc/src/app/components/input/input-select/examples/stringify-observable/select-stringify-observable-example.component.ts
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.ts
  apps/doc/src/app/components/input/input-select/input-select.module.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.module.ts
  libs/components/src/lib/components/dropdowns/select/select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.options.ts
Due: eslint, prettier --write

fix: colors for selected item in relative date dropdown for has been changed #685
  libs/components/src/lib/components/input/input-date-relative/input-date-relative.component.less
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.less
Due: prettier --write

feat: ci update tags
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

fix: tags npm
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
Due: prettier --write

fix: var name in ci
  .github/workflows/pre-release-publish-ng14.yml
Due: prettier --write

fix: description for inputMask hint options added to documentation #253
  apps/doc/src/app/components/input/input-mask/input-mask-example.component.html
  apps/doc/src/app/components/input/input-mask/input-mask-example.component.ts
Due: eslint, prettier --write

fix: ci error
  .github/workflows/pre-release-publish-ng14.yml
Due: prettier --write

fix: description for 'open' property for table body added to docs #654
  apps/doc/src/app/components/table/table-example.component.html
  apps/doc/src/app/components/table/table-example.component.ts
Due: eslint, prettier --write

fix: fix colors for version manager in dark mode #683
  apps/doc/src/app/version-manager/version-manager.component.less
Due: prettier --write

fix: description for carousel updated in documentation #253
  apps/doc/src/app/components/input/carousel/carousel-example.component.html
Due: eslint, prettier --write

fix: class names for font usage icons logistics was changed #650
  libs/icons/base/src/styles/icons-24/prizm-icons.css
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
