Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

fix: small ui fixes #987
  libs/components/src/lib/components/internal/primitive-spin-button/primitive-spin-button.component.less
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.less
  libs/components/src/styles/mixins/picker.less
Due: prettier --write

fix: focus on inputs #1077
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

feat: v3 colors for data list component #1098
  libs/components/src/lib/components/data-list/data-list.component.less
Due: prettier --write

fix: colors fix for inputs
  libs/components/src/lib/components/input/carousel/input-carousel.component.less
  libs/components/src/lib/components/input/input-date-relative/input-layout-date-relative.component.less
  libs/components/src/lib/components/internal/primitive-calendar/primitive-calendar.component.less
  libs/components/src/lib/components/listing-item/listing-item.component.less
Due: prettier --write

fix: calendar pagination hidden logic changed #1082
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.html
  libs/components/src/lib/components/internal/primitive-year-month-pagination/primitive-year-month-pagination.component.less
Due: eslint, prettier --write

feat: i18n example file autouploaded function added
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.html
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.ts
Due: eslint, prettier --write

feat: update internazionalisation example
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.html
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.ts
  apps/doc/src/app/how-to-work/internationalization/internationalization.module.ts
Due: eslint, prettier --write

fix: review example fixes
  apps/doc/src/app/components/file-upload/examples/i18n/file-upload-i18n-example.component.html
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.html
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.ts
Due: eslint, prettier --write

fix: select and multiselect colors fixes
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/select/input-select-item.component.less
Due: prettier --write

chore: update logs
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/mirror.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

chore: update logs
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
Due: prettier --write

chore: update logs
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

chore: update logs
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/check-build-in-real-project-ng14.yml
  .github/workflows/check-build-in-real-project-ng15.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

feat: colors v3 for table #1093
  libs/components/src/lib/components/table/th/th.style.less
  libs/components/src/lib/components/table/tr/tr.component.less
Due: prettier --write

chore: update deploy publish
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/check-build-in-real-project-ng14.yml
  .github/workflows/check-build-in-real-project-ng15.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/mirror.yml
  .github/workflows/pr-ng14.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/project.json
  apps/doc/project.json.ng14
  apps/doc/project.json.ng15
  apps/doc/project.json.ng16
Due: prettier --write

fix: project in doc for ng 16
  apps/doc/project.json
Due: prettier --write

refactor: zone-event
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/date-list-edit/date-list-edit.component.html
  apps/doc/src/app/components/dropdowns/dropdown-host/examples/date-list-edit/date-list-edit.component.ts
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/components/input/carousel/carousel.component.ts
  libs/components/src/lib/directives/zone-event/zone-event.directive.ts
  libs/components/src/lib/directives/zone-event/zone-event.service.ts
  libs/helpers/src/lib/util/rxjs/rxjs.ts
Due: eslint, prettier --write

refactor: zone-event
  .github/workflows/pr-ng14.yml
  libs/components/src/lib/directives/zone-event/zone-event.service.ts
  libs/helpers/src/lib/util/rxjs/rxjs.ts
Due: eslint, prettier --write

fix: pipeline errors
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/check-build-in-real-project-ng14.yml
  .github/workflows/check-build-in-real-project-ng15.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pr-ng15.yml
  .github/workflows/pr-ng16.yml
  .github/workflows/pre-release-publish-ng14.yml
  .github/workflows/pre-release-publish-ng15.yml
  .github/workflows/pre-release-publish-ng16.yml
Due: prettier --write

fix(doc): remove api option
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
Due: eslint, prettier --write

fix(doc): remove api option
  apps/doc/src/app/components/dropdowns/dropdown-host/dropdown-host.component.html
Due: eslint, prettier --write

fix(doc): versions
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
Due: eslint, prettier --write

feat(components/input-multi-select): added transformer support
  apps/doc/src/app/components/input/input-multi-select/examples/with-transformer/multi-select-with-transformer-example.component.html
  apps/doc/src/app/components/input/input-multi-select/examples/with-transformer/multi-select-with-transformer-example.component.ts
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.module.ts
  apps/doc/src/app/components/input/input-select/input-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.model.ts
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.options.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.model.ts
Due: eslint, prettier --write

feat(icons): diveded location and less
  libs/components/src/styles/icons-16/icons-16.less
  libs/components/src/styles/icons-16/location.less
  libs/components/src/styles/icons-16/set.less
  libs/components/src/styles/icons/icons.less
  libs/components/src/styles/icons/location.less
  libs/components/src/styles/icons/set.less
  libs/icons/base/src/styles/icon-location.less
  libs/icons/base/src/styles/icons-24/prizm-icons.css
  libs/icons/base/src/styles/styles.less
Due: prettier --write

chore: fix pipeline cache version for ng14
  .github/workflows/pr-ng14.yml
Due: prettier --write

chore: up to 3.7.0
  .github/workflows/beta-publish-ng16.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/pre-release-publish-ng16.yml
  apps/doc/src/app/version-manager/current.const.ts.ng16
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/ast/package.json.ng16
  libs/charts/base/package.json
  libs/charts/base/package.json.ng16
  libs/components/package.json
  libs/components/package.json.ng16
  libs/core/package.json
  libs/core/package.json.ng16
  libs/helpers/package.json
  libs/helpers/package.json.ng16
  libs/i18n/package.json
  libs/i18n/package.json.ng16
  libs/icons/base/package.json
  libs/icons/base/package.json.ng16
  libs/icons/flags/package.json
  libs/icons/flags/package.json.ng16
  libs/nxmv/package.json
  libs/nxmv/package.json.ng16
  libs/plugin/package.json
  libs/plugin/package.json.ng16
  libs/schematics/package.json.ng16
  libs/theme/package.json
  libs/theme/package.json.ng16
  package.json
  package.json.ng16
Due: eslint, prettier --write

chore: up to 2.8.0
  .github/workflows/beta-publish-ng15.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/pre-release-publish-ng15.yml
  apps/doc/src/app/version-manager/current.const.ts.ng15
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng15
  libs/charts/base/package.json.ng15
  libs/components/package.json.ng15
  libs/core/package.json.ng15
  libs/helpers/package.json.ng15
  libs/i18n/package.json.ng15
  libs/icons/base/package.json.ng15
  libs/icons/flags/package.json.ng15
  libs/nxmv/generators.json
  libs/nxmv/package.json.ng15
  libs/plugin/generators.json
  libs/plugin/package.json.ng15
  libs/schematics/package.json.ng15
  libs/theme/package.json.ng15
  package.json.ng15
Due: eslint, prettier --write

chore: up to 1.11.0
  apps/doc/src/app/version-manager/current.const.ts
  apps/doc/src/app/version-manager/current.const.ts.ng14
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json.ng14
  libs/charts/base/package.json.ng14
  libs/components/package.json.ng14
  libs/core/package.json.ng14
  libs/helpers/package.json.ng14
  libs/i18n/package.json.ng14
  libs/icons/base/package.json.ng14
  libs/icons/flags/package.json.ng14
  libs/nxmv/package.json.ng14
  libs/plugin/package.json.ng14
  libs/theme/package.json.ng14
  package.json.ng14
Due: eslint, prettier --write

fix(doc): option api
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
Due: eslint, prettier --write

feat: columns settings v3 colors #1104
  libs/components/src/lib/components/column-settings/column-settings.component.less
  libs/components/src/lib/components/column-settings/column-settings.component.ts
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.html
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.less
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
  libs/theme/src/styles/theme/v3/dark.less
  libs/theme/src/styles/theme/v3/default.less
Due: eslint, prettier --write

fix(doc): fix raw examples
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.html
  apps/doc/src/app/components/input/input-multi-select/input-multi-select.component.ts
Due: eslint, prettier --write

fix: pipelines
  .github/workflows/beta-publish-ng14.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/pre-release-publish-ng14.yml
  libs/schematics/package.json
  libs/schematics/package.json.ng14
Due: prettier --write

feat(doc): update info how to join styles
  apps/doc/src/app/how-to-work/for-developers/for-developers.component.ts
Due: eslint, prettier --write

fix: pipelines
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.model.ts
  libs/components/src/lib/components/dropdowns/multi-select/multi-select.options.ts
  libs/components/src/lib/components/dropdowns/select/select.model.ts
  libs/components/src/lib/components/dropdowns/select/select.options.ts
Due: eslint, prettier --write

feat: update
  libs/components/src/lib/components/table/table.service.ts
Due: eslint, prettier --write

chore: update changelog
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

Update apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

fix: changlog mistakes
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none
