Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: add resizeObserver for nav-item for hint correct display #1510
  apps/doc/src/app/components/navigation/navigation-example.const.ts
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-expandable/prizm-navigation-item-expandable.component.html
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-expandable/prizm-navigation-item-expandable.component.ts
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-simple/prizm-navigation-item-simple.component.html
  libs/components/src/lib/components/navigation/components/prizm-navigation-item-simple/prizm-navigation-item-simple.component.ts
Due: eslint, prettier --write

fix: auto deploy doc
  .github/workflows/deploy-main-doc-ng14.yml
  .github/workflows/deploy-main-doc-ng15.yml
  .github/workflows/deploy-main-doc-ng16.yml
  .github/workflows/deploy-main-doc-ng17.yml
  .github/workflows/main-publish-ng14.yml
  .github/workflows/main-publish-ng15.yml
  .github/workflows/main-publish-ng16.yml
  .github/workflows/main-publish-ng17.yml
  nx.json
  nx.json.ng17
Due: prettier --write

fix: icons replaced with buttons #1486
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.html
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.less
  libs/components/src/lib/components/table/table.module.ts
  libs/components/src/lib/components/table/th/th.component.html
  libs/components/src/lib/components/table/th/th.component.ts
  libs/components/src/lib/components/table/th/th.style.less
Due: eslint, prettier --write

feat: remove unnecessary build in ci
  .github/workflows/deploy-main-doc-ng14.yml
  .github/workflows/deploy-main-doc-ng15.yml
  .github/workflows/deploy-main-doc-ng16.yml
  .github/workflows/deploy-main-doc-ng17.yml
Due: prettier --write

feat: for v4 added deploy to main doc after v4
  .github/workflows/deploy-main-doc-ng17.yml
Due: prettier --write

fix: remove comments from json
  nx.json
  nx.json.ng17
Due: prettier --write

fix: remove comments from json
  nx.json.ng14
  nx.json.ng15
  nx.json.ng16
Due: none

fix: fix th width with sort #1561
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

fix: icons replaced with buttons #1486
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.html
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.less
  libs/components/src/lib/components/table/table.module.ts
  libs/components/src/lib/components/table/th/th.component.html
Due: eslint, prettier --write

fix: edit actions th width changed #1486
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
Due: prettier --write

fix: add min max input number example
  apps/doc/src/app/components/input/input-number/examples/input-number-min-max-example/input-number-min-max-example.component.html
  apps/doc/src/app/components/input/input-number/examples/input-number-min-max-example/input-number-min-max-example.component.less
  apps/doc/src/app/components/input/input-number/examples/input-number-min-max-example/input-number-min-max-example.component.ts
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.ts
  apps/doc/src/app/components/input/input-number/input-number-example.module.ts
Due: eslint, prettier --write

fix: input number manual input works incorrect if min set #1580
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

fix: change min max validation for input number
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

feat: add translation to example
  apps/doc/src/app/components/input/input-number/examples/input-number-min-max-example/input-number-min-max-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.module.ts
Due: eslint, prettier --write

fix: changed filesValidationErrors type in live demo #1371
  apps/doc/src/app/components/file-upload/file-upload-example.component.html
Due: eslint, prettier --write

fix: select focus when chevron clicked
  apps/doc/src/app/app.routes.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
Due: eslint, prettier --write

fix: remove default title for input number #1599
  apps/doc/src/app/components/input/input-number/input-number-example.component.html
  apps/doc/src/app/components/input/input-number/input-number-example.component.ts
  libs/components/src/lib/components/input/input-number/input-number.component.ts
Due: eslint, prettier --write

fix: hint status text for required input not shown after force clear #1598
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.ts
Due: eslint, prettier --write

fix: changed filesValidationErrors type in Internationalization example #1371
  apps/doc/src/app/how-to-work/internationalization/examples/language-switcher/language-switcher-example.component.ts
Due: eslint, prettier --write

fix: tree button animation #1561
  libs/components/src/lib/components/tree-button/tree-button.component.html
  libs/components/src/lib/components/tree-button/tree-button.component.less
Due: eslint, prettier --write

fix: add subtext to input number minmax validation example
  apps/doc/src/app/components/input/input-number/examples/input-number-min-max-example/input-number-min-max-example.component.html
Due: eslint, prettier --write

fix: changed content-box width in toast #1433
  libs/components/src/lib/components/toast/toast/toast.component.less
Due: prettier --write

Revert "fix: tree button animation #1561"
  libs/components/src/lib/components/tree-button/tree-button.component.html
  libs/components/src/lib/components/tree-button/tree-button.component.less
Due: eslint, prettier --write

Revert "fix: edit actions th width changed #1486"
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
Due: prettier --write

Revert "fix: fix th width with sort #1561"
  libs/components/src/lib/components/table/th/th.style.less
Due: prettier --write

Revert "fix: icons replaced with buttons #1486"
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.html
  apps/doc/src/app/components/table/examples/table-editable-row-example/table-editable-row-example.component.less
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.html
  apps/doc/src/app/components/table/examples/table-filter-example/table-filter-example.component.less
  libs/components/src/lib/components/table/table.module.ts
  libs/components/src/lib/components/table/th/th.component.html
Due: eslint, prettier --write

feat: cron custom title #1431
  apps/doc/src/app/components/cron/cron.component.html
  apps/doc/src/app/components/cron/cron.component.ts
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.ts
Due: eslint, prettier --write

feat: cron custom title hint #1431
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
Due: eslint, prettier --write

feat: cron custom title max width #1431
  libs/components/src/lib/components/cron/cron.component.less
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
