Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": "eslint",
  "*.{ts,less,css,html,json,yml}": "prettier --write"
}

feat(components/cron): add min/max for start and end date
  apps/doc/src/app/components/input/textarea/examples/textarea-autosize-example/textarea-autosize-example.component.html
  libs/components/src/lib/components/cron/cron.component.html
Due: eslint, prettier --write

feat(doc): add pristine, dirty, touched controls to api page for form control components
  apps/doc/src/app/components/input/input-layout-date-time/input-layout-date-time.component.html
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-text/input-text.component.ts
  libs/doc/base/src/lib/components/documentation/documentation.component.html
  libs/doc/base/src/lib/components/documentation/documentation.component.ts
  libs/helpers/src/lib/util/form/index.ts
Due: eslint, prettier --write

fix(components/input-select): falsy values does not display in dropdown
  apps/doc/src/app/components/input/input-select/examples/base/select-base-example.component.html
  apps/doc/src/app/components/input/input-select/examples/base/select-base-example.component.ts
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.component.html
Due: eslint, prettier --write

feat(components/cron): add min/max for start and end date
  apps/doc/src/app/components/input/input-select/examples/base/select-base-example.component.ts
  apps/doc/src/app/components/input/input-select/examples/stringify/select-stringify-example.component.html
  apps/doc/src/app/components/input/input-select/examples/stringify/select-stringify-example.component.ts
  apps/doc/src/app/components/input/input-select/input-select.component.html
  apps/doc/src/app/components/input/input-select/input-select.component.ts
  apps/doc/src/app/components/input/input-select/input-select.module.ts
Due: eslint, prettier --write

feat(components/cron): add min/max for start and end date
  libs/components/src/lib/components/dropdowns/select/input-select.component.html
  libs/components/src/lib/components/dropdowns/select/input-select.component.ts
  libs/components/src/lib/components/dropdowns/select/select.component.html
  libs/components/src/lib/components/dropdowns/select/select.component.ts
Due: eslint, prettier --write

feat(doc/input-select): output type of value added to example with stringify;
  apps/doc/src/app/components/input/input-select/examples/stringify/select-stringify-example.component.html
  apps/doc/src/app/components/input/input-select/examples/stringify/select-stringify-example.component.ts
Due: eslint, prettier --write

feat(components/input-layout): clear button does not showed on focus with keyboard
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.less
Due: prettier --write

feat(components/input-layout): clear button does not showed on focus with keyboard
  apps/doc/src/app/components/input/input-select/examples/stringify/select-stringify-example.component.ts
Due: eslint, prettier --write

feat(plugin/update-version): added ability to update dependencies
  libs/ast/schematics-helpers/src/update-project-versions/util.ts
Due: eslint, prettier --write

feat(plugin/update-version): added ability to update dependencies
  libs/plugin/src/generators/update-version/index.ts
  libs/plugin/src/generators/update-version/schema.d.ts
  libs/plugin/src/generators/update-version/schema.json
Due: eslint, prettier --write

feat(plugin/update-version): added ability to update dependencies
  libs/ast/src/lib/semver/parse.ts
Due: eslint, prettier --write

feat(ci): add update full dependencies when we publish pre/draft release
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  libs/ast/schematics-helpers/src/update-project-versions/util.spec.ts
  libs/ast/schematics-helpers/src/update-project-versions/util.ts
Due: eslint, prettier --write

feat(plugin): add more test cases for update version generator
  libs/ast/schematics-helpers/src/update-project-versions/util.spec.ts
  libs/ast/schematics-helpers/src/update-project-versions/util.ts
Due: eslint, prettier --write

feat(plugin): change discription for schema
  libs/plugin/src/generators/update-version/schema.json
Due: prettier --write

fix(ci): fix prereleased,released actions
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

feat(components/charts): add example with update color callback
  apps/doc/src/app/charts/bar/examples/base/prizm-charts-bar-example.component.html
  apps/doc/src/app/charts/bar/examples/base/prizm-charts-bar-example.component.ts
  libs/charts/base/src/lib/abstract/prizm-charts-abstract.ts
  libs/charts/base/src/lib/components/bar/prizm-charts-bar.component.ts
  libs/charts/base/src/lib/components/column/prizm-charts-column.component.ts
  libs/charts/base/src/lib/components/gauge/model.ts
  libs/charts/base/src/lib/components/gauge/prizm-charts-gauge.component.ts
  libs/charts/base/src/lib/components/line/prizm-charts-line.component.ts
  libs/charts/base/src/lib/components/pie/prizm-charts-pie.component.ts
  libs/charts/base/src/lib/components/radar/prizm-charts-radar.component.ts
  libs/charts/base/src/lib/components/radial-bar/prizm-charts-radial-bar.component.ts
  libs/charts/base/src/lib/components/scatter/prizm-charts-scatter.component.ts
  libs/charts/base/src/lib/components/treemap/prizm-charts-treemap.component.ts
  libs/charts/base/src/lib/components/waterfall/prizm-charts-waterfall.component.ts
Due: eslint, prettier --write

feat(components/charts): add color input
  apps/doc/src/app/charts/bar/bar.component.html
  apps/doc/src/app/charts/bar/examples/base/prizm-charts-bar-example.component.html
  apps/doc/src/app/charts/bar/examples/base/prizm-charts-bar-example.component.ts
  apps/doc/src/app/charts/line/line.component.html
  libs/charts/base/src/lib/components/bar/prizm-charts-bar.component.ts
Due: eslint, prettier --write

fix(components/input-date-time): add auto correction time
  libs/components/src/lib/@core/date-time/time.ts
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.ts
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
  libs/components/src/lib/components/input/input-time/input-layout-time.component.ts
  libs/components/src/lib/components/input/input-time/input-time.component.ts
Due: eslint, prettier --write

feat(components/multi-select): fix disable
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

fix(components/multi-select): fix small
  libs/components/src/lib/components/chips/chips.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.less
  libs/components/src/lib/components/dropdowns/select/input-select.component.less
  libs/components/src/lib/components/input/common/base/input-ng-control.class.ts
Due: eslint, prettier --write

fix(doc): remove color from api page
  apps/doc/src/app/charts/bar/bar.component.html
Due: eslint, prettier --write

fix(components/zone-event): fix layout date time
  apps/doc/src/app/components/input/input-layout-date-time-range/input-layout-date-time-range.component.html
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.html
  libs/components/src/lib/components/input/input-date-range/input-layout-date-range.component.ts
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-range-time.component.html
  libs/components/src/lib/components/input/input-date-time/input-date-time.component.html
  libs/components/src/lib/components/input/input-time/input-time.component.ts
  libs/components/src/lib/directives/zone-event/zone-event.directive.ts
Due: eslint, prettier --write

chore: release 1.0.1
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/question.md
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
  apps/doc/src/app/version-manager/versions.constants.ts
  libs/ast/package.json
  libs/charts/base/package.json
  libs/components/package.json
  libs/core/package.json
  libs/deprecated/package.json
  libs/helpers/package.json
  libs/i18n/package.json
  libs/icons/base/package.json
  libs/icons/flags/package.json
  libs/plugin/generators.json
  libs/plugin/package.json
  libs/schematics/package.json
  libs/theme/package.json
  package.json
Due: eslint, prettier --write

chore: release 1.0.1
  apps/doc/src/app/about-prizm/changelog/CHANGELOG.md
Due: none

ci: change worflow name
  .github/workflows/released.yml
Due: prettier --write

ci: update logic to get last version by tag
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

ci: update logic to get last version by tag
  .github/workflows/prerelease-publish.yml
Due: prettier --write

chore(ci): update
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

chore(ci): update ci
  .github/workflows/prereleased.yml
  .github/workflows/released.yml
Due: prettier --write

chore(ci): update ci
  .github/workflows/prereleased.yml
Due: prettier --write

fix(components/dropdown-host): add initial trigger to udpate width
  libs/components/src/lib/components/dropdowns/dropdown-host/dropdown-host.component.ts
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
Due: eslint, prettier --write

fix(components/dropdown-host): add initial trigger to udpate width
  libs/components/src/lib/components/dropdowns/multi-select/input-multi-select.component.html
Due: eslint, prettier --write

fix(components/dropdown-host): add initial trigger to udpate width
  .github/workflows/prerelease-publish.yml
Due: prettier --write

ci: fix get latest version by tag
  .github/workflows/draft-publish.yml
  .github/workflows/prerelease-publish.yml
Due: prettier --write

fix(component/cron): change date-time to layout-date-time
  .github/workflows/prerelease-publish.yml
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.module.ts
Due: eslint, prettier --write

fix(components/cron): fix min-max
  libs/components/src/lib/components/cron/cron-ui-base.state.ts
  libs/components/src/lib/components/cron/cron-ui-day.state.ts
  libs/components/src/lib/components/cron/cron.component.html
  libs/components/src/lib/components/cron/cron.component.less
  libs/components/src/lib/components/input/input-date-time/input-layout-date-time.component.ts
Due: eslint, prettier --write
