Repository zyfra/Prizm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(components/column-settings): add hint for hide button #2325
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.html
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/column-settings.ts
  libs/i18n/src/lib/languages/russian/column-settings.ts
Due: eslint, prettier --write

fix(components/column-settings): fix styles in component #2325
  apps/doc/src/app/components/table/examples/table-column-settings-example/table-column-settings-example.component.html
  libs/components/src/lib/components/column-settings/column-settings.component.html
  libs/components/src/lib/components/column-settings/column-settings.component.less
Due: eslint, prettier --write

fix(components/column-settings): sticky column can't be hidden #2325
  apps/doc/src/app/components/table/examples/table-column-settings-example/table-column-settings-example.component.ts
  libs/components/src/lib/components/column-settings/column-settings.component.ts
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.html
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/column-settings.ts
  libs/i18n/src/lib/languages/russian/column-settings.ts
Due: eslint, prettier --write

fix(components/column-settings): default column status should be shown only on hover #2325
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.html
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.less
Due: eslint, prettier --write

testing deployment in dmz-kube
  .gitlab-ci.yml
Due: prettier --write

fix(components/chips): remove outline from chips on hover #2382
  libs/components/src/lib/components/chips/chips-item/chips-item.component.less
Due: prettier --write

fix(doc/chips): correct css variable name #2383
  apps/doc/src/app/components/input/input-chips/input-chips-example.component.html
Due: eslint, prettier --write

testing deploy in new-kube
  .gitlab-ci.yml
Due: prettier --write

Update README.md
  README.md
Due: none

fix gitlab ci
  .gitlab-ci.yml
Due: prettier --write

fix gitlab-ci
  .gitlab-ci.yml
Due: prettier --write

Debug kubeconfig
  .gitlab-ci.yml
Due: prettier --write

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier --write

fix(components/column-settings): add hint pipe for column block #2325
  apps/doc/src/app/components/table/examples/table-column-settings-example/table-column-settings-example.component.ts
  libs/components/src/lib/components/column-settings/column-settings.component.ts
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.html
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
  libs/components/src/lib/components/column-settings/pipes/column-hint.pipe.ts
  libs/components/src/lib/components/column-settings/pipes/column-icon.pipe.ts
  libs/i18n/src/lib/interfaces/language.ts
  libs/i18n/src/lib/languages/english/column-settings.ts
  libs/i18n/src/lib/languages/russian/column-settings.ts
Due: eslint, prettier --write

feat(components/column-settings): last shown column icon should be lock #2325
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.html
  libs/components/src/lib/components/column-settings/components/column-drop-list/column-drop-list.component.ts
  libs/components/src/lib/components/column-settings/pipes/column-icon.pipe.ts
Due: eslint, prettier --write

feat(components/input-layout-year): add update on blur #000
  libs/components/src/lib/components/input/input-year/input-layout-year.component.html
Due: eslint, prettier --write

launch deploy on dmz-kube
  .gitlab-ci.yml
Due: prettier --write

Improving the readability .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier --write

feat(doc): new ai component #0
  apps/doc/src/app/app.providers.ts
  apps/doc/src/app/components/tabs/chat.component.html
  apps/doc/src/app/components/tabs/chat.component.scss
  apps/doc/src/app/components/tabs/chat.component.ts
  apps/doc/src/app/components/tabs/openai.service.old.ts
  apps/doc/src/app/components/tabs/openai.service.old2.ts
  apps/doc/src/app/components/tabs/openai.service.old3.ts
  apps/doc/src/app/components/tabs/openai.service.old4.ts
  apps/doc/src/app/components/tabs/openai.service.ts
  apps/doc/src/app/components/tabs/tabs-example.component.html
  apps/doc/src/app/components/tabs/tabs-example.module.ts
  package-lock.json
  package.json
Due: eslint, prettier --write

debug
  .gitlab-ci.yml
Due: prettier --write

Update gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier --write

fix(doc/panel): remove panel breadcrumbs exemple as obsolete #2406
  apps/doc/src/app/components/panel/examples/panel-example-with-breadcrumbs/panel-example-with-breadcrumbs.component.html
  apps/doc/src/app/components/panel/examples/panel-example-with-breadcrumbs/panel-example-with-breadcrumbs.component.less
  apps/doc/src/app/components/panel/examples/panel-example-with-breadcrumbs/panel-example-with-breadcrumbs.component.ts
  apps/doc/src/app/components/panel/examples/panel-example-with-instruments-hard/panel-example-with-instruments-hard.component.html
  apps/doc/src/app/components/panel/examples/panel-example-with-instruments-simple/panel-example-with-instruments-simple.component.html
  apps/doc/src/app/components/panel/panel-example.component.html
  apps/doc/src/app/components/panel/panel-example.component.ts
  apps/doc/src/app/components/panel/panel-example.module.ts
Due: eslint, prettier --write

fix(components/input-layout-year): update native value #2017
  libs/components/src/lib/components/input/input-year/input-layout-year.component.ts
Due: eslint, prettier --write

fix(components/input-date-time-range): update native value after correction #2331
  libs/components/src/lib/components/input/input-date-time-range/input-layout-date-time-range.component.ts
Due: eslint, prettier --write

feat(components/button): prizmButton without text should appear like [prizmIconButton] #2361
  apps/doc/src/app/components/buttons/icon-button/examples/icons/icons-buttons-example.component.html
  libs/components/src/lib/components/button/button.component.less
Due: eslint, prettier --write

feat: messages
  apps/doc/src/app/components/tabs/chat.component.scss
  apps/doc/src/app/components/tabs/openai.service.old3.ts
  apps/doc/src/app/components/tabs/openai.service.ts
Due: eslint, prettier --write

fix(components/switcher): switcher with only icon should not render extra button #2412
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
Due: eslint, prettier --write

fix(components/calendar-year): remove hover after year click #000
  libs/components/src/lib/components/internal/primitive-year-picker/primitive-year-picker.component.ts
Due: eslint, prettier --write

preparation for MR
  .gitlab-ci.yml
Due: prettier --write

refactor(components/button): make same styles for button with only icon and icon button #2361
  libs/components/src/lib/components/button/button.component.less
Due: prettier --write

fix(components/switcher): switcher item with optional text should appear correctly #2412
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.less
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
Due: eslint, prettier --write

refactor(components/button): move empty value logic from switcher to btn #000
  libs/components/src/lib/components/button/button.component.html
  libs/components/src/lib/components/button/button.component.less
  libs/components/src/lib/components/button/button.component.ts
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.html
  libs/components/src/lib/components/switcher/components/switcher-item/switcher-item.component.ts
Due: eslint, prettier --write

fix(components/widget): change widget button soze to xm #2426
  apps/doc/src/app/components/widget/examples/with-templates/widget-with-templates-example.component.html
  libs/components/src/lib/components/widget/widget.component.html
Due: eslint, prettier --write

Edits for MR
  .gitlab-ci.yml
Due: prettier --write

fix(components/cron): extra hint appears in cron inputs #2338
  libs/components/src/lib/components/cron/cron.component.html
Due: eslint, prettier --write

Update hosts
  .gitlab-ci.yml
Due: prettier --write

feat(components/input-layout): required asterisk should be hidden for disabled controls #1918
  libs/components/src/lib/components/input/common/input-layout/input-layout.component.html
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,html}
  prettier --write: any of: *.{ts,less,css,html,json,yml}
